﻿<div class="contentbox" id="mainDiv">
    <div class="operation">
        <ul class="tga1">
            <li><button class="seditbtn" id="deployProduct">添加班级</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist" id="Productdatalist">
        <ul id="ProductitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">确定删除吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>
<div class="contentbox" id="deployDiv" style="display:none;">
    <div class="entryinfo">
        <input type="hidden" id="id"/>
        <dl>
            <dt>级别</dt>
            <dd>
                <input type="text" class="entrytxt" placeholder="请选择级别" readonly id="parentId" name="parentId" />
            </dd>
        </dl>
        <dl>
            <dt>班级</dt>
            <dd>
                <input type="text" class="entrytxt" placeholder="请填写数字" id="BTZLevel" name="BTZLevel" />
            </dd>
        </dl>
       
      
      
      
      
      
       
    </div>
    <div class="operation">
        <ul class="tga2">
            <li><button class="seditbtn" id="closeDeployBtn">返回</button></li>
            <li><button class="smallbtn" id="saveProductBtn">保存</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
