﻿<div class="entryinfo">
    
   
  
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div id="div_bb">
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>类目名称</th>
                        <th>本日</th>
                        <th>本周</th>
                        <th>本月</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="middle">总额</td>
                        <td>
                         XX
                        </td>
                        <td>
                            XX
                        </td>
                        <td>
                            XX
                        </td>
                    </tr>
                   
                   
                </tbody>
            </table>
        </div>
    </div>
   
   
   
    
    
   
   
   

    
   

   
   


  

    

   

    
    

   
   

   
</div>

<style type="text/css">
    input {
        color: red;
        height: 3rem;
        width: 6rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }

    .ntable td {
        padding: 5px 5px 5px 5px;
        text-align: left;
    }
    tabel {
        border-spacing: 0;
        border-collapse: collapse;
    }
    table td {
        text-align: left;
    }
    table {
        max-width: 100%;
        background-color: transparent;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #808080;
        text-align: left;
    }

    th {
        text-align: left;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
    }

        .table th,
        .table td {
            padding: 8px;
            line-height: 1.53846154;
            vertical-align: top;
            border-bottom: 1px solid #ddd;
            -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            transition: background .2s cubic-bezier(.175, .885, .32, 1);
        }

        .table > thead > tr > th {
            vertical-align: bottom;
            background-color: #f1f1f1;
            border-bottom: 1px solid #ddd;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

    .table-fixed {
        table-layout: fixed;
    }

        .table-fixed th,
        .table-fixed td {
            overflow: hidden;
            white-space: nowrap;
        }

        .table-fixed tfoot > tr > th,
        .table-fixed tfoot > tr > td,
        .table-fixed .nofixed,
        .table-fixed .nofixed {
            overflow: visible;
        }

    .table-borderless thead > tr > th,
    .table-borderless th,
    .table-borderless td {
        border: none;
    }

    .table-auto {
        width: auto;
        max-width: 100%;
    }

    .table-condensed th,
    .table-condensed td {
        padding: 5px;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #ddd;
        }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: #ebf2f9;
    }

    table col[class*="col-"] {
        display: table-column;
        float: none;
    }

    table td[class*="col-"],
    table th[class*="col-"] {
        display: table-cell;
        float: none;
    }

    .table tr > td.active,
    .table tr > th.active,
    .table tr.active > td,
    .table tr.active > th {
        background-color: #ffe7bc;
    }

    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
        background-color: #ddf4df;
        border-color: #bae8b6;
    }

    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr.success:hover > th {
        background-color: #caeecd;
        border-color: #a8e1a3;
    }

    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
        background-color: #ffe5e0;
        border-color: #ffc6c7;
    }

    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr.danger:hover > th {
        background-color: #ffd0c6;
        border-color: #ffadad;
    }

    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
        background-color: #fff0d5;
        border-color: #ffdcbc;
    }

    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr.warning:hover > th {
        background-color: #ffe7bc;
        border-color: #ffcea2;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    @media screen and (max-width: 767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }

            .table-responsive > .table {
                margin-bottom: 0;
            }

                .table-responsive > .table > thead > tr > th,
                .table-responsive > .table > tbody > tr > th,
                .table-responsive > .table > tfoot > tr > th,
                .table-responsive > .table > thead > tr > td,
                .table-responsive > .table > tbody > tr > td,
                .table-responsive > .table > tfoot > tr > td {
                    white-space: nowrap;
                }

            .table-responsive > .table-bordered {
                border: 0;
            }

                .table-responsive > .table-bordered th {
                    border-top: none;
                }

                .table-responsive > .table-bordered > thead > tr > th:first-child,
                .table-responsive > .table-bordered > tbody > tr > th:first-child,
                .table-responsive > .table-bordered > tfoot > tr > th:first-child,
                .table-responsive > .table-bordered > thead > tr > td:first-child,
                .table-responsive > .table-bordered > tbody > tr > td:first-child,
                .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                    border-left: 0;
                }

                .table-responsive > .table-bordered > thead > tr > th:last-child,
                .table-responsive > .table-bordered > tbody > tr > th:last-child,
                .table-responsive > .table-bordered > tfoot > tr > th:last-child,
                .table-responsive > .table-bordered > thead > tr > td:last-child,
                .table-responsive > .table-bordered > tbody > tr > td:last-child,
                .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                    border-right: 0;
                }

                .table-responsive > .table-bordered > tbody > tr:last-child > th,
                .table-responsive > .table-bordered > tfoot > tr:last-child > th,
                .table-responsive > .table-bordered > tbody > tr:last-child > td,
                .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                    border-bottom: 0;
                }
    }
</style>

