﻿<div class="contentbox" id="mainDiv">
    <div class="operation">
        <ul class="tga1">
            <li><button class="seditbtn" id="deployProduct">发布络绎阁</button></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="datalist" id="Productdatalist">
        <ul id="ProductitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">确定操作吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定</button>
        </div>
    </div>
</div>
<div class="contentbox" id="deployDiv" style="display:none;">
    <div class="entryinfo">
        <input type="hidden" id="id" />
        <input type="hidden" id="imgUrl" name="imgUrl" />
        <dl>
            <dt>
                图片
            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImg"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上传图片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFile" /></label>
                    </div>
                    <div class="clear"></div>
                    <p class="tips">建议图片大小：200*200px</p>
                </div>
            </dd>
        </dl>
        <dl>
            <dt>每新增直推1人加息比例&nbsp;&nbsp;&nbsp;&nbsp;<span id="bounsAmounts"></span></dt>
            <dd>
                <!--<input type="text" required="required" class="entrytxt" readonly="readonly" placeholder="每新增直推1人加息比例" id="bounsAmounts" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>-->
            </dd>
        </dl>
        <dl>
            <dt>新增直推加息比例上限&nbsp;&nbsp;&nbsp;&nbsp;<span id="maxBounsAmounts"></span></dt>
            <dd>
                <!--<input type="text" required="required" class="entrytxt" readonly="readonly" placeholder="新增直推加息比例上限" id="maxBounsAmounts" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>-->
            </dd>
        </dl>
        <dl>
            <dt>络绎阁编码</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="络绎阁编码" id="BTZCode" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>络绎阁名称</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="络绎阁名称" id="BTZName" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>开始抢养时间</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="HH：MM" id="KsqysjStr" />
                <span class="erase" style="display:none;"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>抢养持续时间</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="以秒为单位" id="Qycxsj" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>预约截止时间</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="HH：MM" id="YyjzsjStr" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>预约所需靈氣</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="预约所需手续费" id="Yysxlz" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <dl>
            <dt>即抢所需靈氣</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="领养所需手续费" id="Jqsxlz" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>合约天数</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="合约天数" id="Hyts" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>日收益比例</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="以%为单位" id="RsyBili" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>再出售加比例</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="以%为单位" id="ZcszjBili" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>赠送DOGE数量</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="赠送DOGE数量" id="ZsBTT" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>赠送BTD数量</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="赠送BTD数量" id="ZsBTD" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>日额度上限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="日发行价值额度上限" id="Rfxesx" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>规则价值下限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="规则价值下限" id="Gzzzxx" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>规则价值上限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="规则价值上限" id="Gzzzsx" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>展示价值下限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="展示价值下限" id="Zszzxx" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>展示价值上限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="展示价值上限" id="Zszzsx" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>拆份阀值倍数</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="拆份阀值倍数" id="Cffzbs" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>拆份阀值份数</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="拆份阀值份数" id="Cffzfs" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>每天续养人数</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="每天续养人数" id="Mtxyrs" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>自动出售比例</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="以%为单位" id="ZdcsBili" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>级别</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" readonly placeholder="级别" id="jLevel" />

            </dd>
        </dl>
        <dl>
            <dt>班级</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" readonly placeholder="班级" id="bLevel" />

            </dd>
        </dl>

    </div>
    <div class="operation">
        <ul class="tga2">
            <li><button class="seditbtn" id="closeDeployBtn">返回</button></li>
            <li><button class="smallbtn" id="saveProductBtn">保存</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
