﻿<div class="contentbox" id="mainDiv">
    <div class="operating">
        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;" colspan="2">
                        <button class="operatebtn" id="kqdbBtn" style="width:95%">开启夺宝游戏</button>
                    </td>
                    <td style="text-align:center;" colspan="2">
                        <button class="seditbtn" id="deployProduct">增加奖池</button>
                    </td>
</tr>

                <tr>
                    <td style="text-align: right; width: 25%">
                        期数:
                    </td>
                    <td style="text-align: left; width: 25%" id="dbxqs">
                        1
                    </td>
                    <td style="text-align: right; width: 25%">
                        倒计时:
                    </td>
                    <td style="text-align: left; width: 25%" id="dbdjs">
                        19999
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">
                        本期投注人数:
                    </td>
                    <td style="text-align:left;" id="bqtzrs">
                        1
                    </td>
                    <td style="text-align:right;">
                        奖池靈氣:
                    </td>
                    <td style="text-align:left;" id="jclz">
                        19999
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">
                        手续费总额:
                    </td>
                    <td style="text-align:left;" id="sxf">
                        1
                    </td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>

    </div>

    <div class="datalist" id="AccountUpdatedatalist">
        <ul id="AccountUpdateitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">添加充值记录</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定提交</button>
        </div>
    </div>
</div>


<div class="contentbox" id="deployDiv" style="display:none;">
    <div class="entryinfo">
        <dl>
            <dt>增加金额</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="trLz" placeholder="增加金额" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
    </div>
    <div class="operation">
        <ul class="tga2">
            <li><button class="seditbtn" id="closeDeployBtn">返回</button></li>
            <li><button class="smallbtn" id="saveProductBtn">保存</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
