﻿<div class="userfilling">
    <div class="userassets">
        <ul class="tga2">
            <li><span id="srMoney">0</span><p>收入合计</p>
            </li>
            <li><span id="zcMoney">0</span><p>支出合计</p>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="userassets">
        <ul class="tga3">
            <li><span id="totalLysy">0</span><p>领养收益</p></li>
            <li><span id="totalTjsy">0</span><p>推荐收益</p></li>
            <li><span id="totalCsj">0</span><p>城市奖</p></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="userassets">
        <ul class="tga3">
            <li><span id="totalTdj">0</span><p>团队奖</p></li>
            <li><span id="totalLz">0</span><p>靈氣</p></li>
            <li><span id="totalFt">0</span><p>复投</p></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="userassets">
        <ul class="tga2">
            <li><span id="totalBtd">0</span><p>BTD</p></li>
            <li><span id="totalBtt">0</span><p>DOGE</p></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div class="operating">
    <div class="searchbox">
        <table style="width:100%;">
            <tr>
                <td style="text-align:center;">
                    <input type="text" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width:100%" />
                </td>
                <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
            </tr>
        </table>
        <br />
        <button class="bigbtn" id="ExportExcel">导出Excel</button>
        <div class="clear"></div>
    </div>
</div>

<div class="datalist" id="LiuShuidatalist">
    <ul id="LiuShuiitemList"></ul>
</div>
