﻿<div class="applink">
    <ul class="tga4" id="fastMenu">
        <li dataurl="#Register" style="display:block;"><a href="#Register"><img src="/Content/APP/Admin/images/iconapp1.png" /><p>新会员注册</p></a></li>
        <li dataurl="#DirectTree" style="display: block;"><a href="#DirectTree"><img src="/Content/APP/Admin/images/iconapp2.png" /><p>直推图</p></a></li>
        <li dataurl="#MemberPassed" style="display: block;"><a href="#MemberPassed"><img src="/Content/APP/Admin/images/iconapp3.png" /><p>会员列表</p></a></li>
        <li dataurl="#Dbx" style="display: block;"><a href="#Dbx"><img src="/Content/APP/Admin/images/iconapp4.png" /><p>夺宝箱</p></a></li>
        <li dataurl="#Charge" style="display: block;"><a href="#Charge"><img src="/Content/APP/Admin/images/iconapp5.png" /><p>充值管理</p><span id="Charge_Count1" style="display:none;">0</span></a></li>
        <li dataurl="#Currency" style="display: block;"><a href="#Currency"><img src="/Content/APP/Admin/images/iconapp6.png" /><p>奖金查询</p></a></li>
        <li dataurl="#Lyjl" style="display: block;"><a href="#Lyjl"><img src="/Content/APP/Admin/images/iconapp7.png" /><p>领养记录</p></a></li>
        <li><a href="javascript:void(0);" id="exitBtn"><img src="/Content/APP/Admin/images/iconapp8.png" /><p>安全退出</p></a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="bigtitle">
    <h2>待处理事项</h2>
    <div class="clear"></div>
</div>

<div class="pending" id="waitOperateDiv">
    <div class="pendingli" dataurl="#MemberPassing" style="display:none;">
        <a href="#MemberPassing">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon1.png" />待开通会员</h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="MemberUl"></ul>
            </div>
        </a>
    </div>

    


    <div class="pendingli" dataurl="#Charge" style="display: block;">
        <a href="#Charge">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />靈氣充值申请<span id="Charge_Count2" style="display:none;">0</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="waitChargeUl"></ul>
            </div>
        </a>
    </div>

    <div class="pendingli" dataurl="#Ss" style="display: block;">
        <a href="#Ssgl">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />申诉<span id="Ss_Count2" style="display:none;">0</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="waitSsglUl"></ul>
            </div>
        </a>
    </div>

    <div class="pendingli" dataurl="#ShopPassing" style="display: none;">
        <a href="#ShopPassing">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon3.png" />报单中心申请</h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="shopMemberUl"></ul>
            </div>
        </a>
    </div>

    <div class="pendingli" dataurl="#TakeCash" style="display: block;">
        <a href="#TakeCash">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />提现金额申请<span id="TakeCash_Count2" style="display:none;">0</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="TakeCashUl"></ul>
            </div>
        </a>
    </div>

    <div class="pendingli"  style="display: block;">
        <a href="#Skxx">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />收款信息审核<span id="Skxx_Count2" style="display:none;">0</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="SkxxUl"></ul>
            </div>
        </a>
    </div>

    <div class="pendingli" style="display: block;">
        <a href="#Hgjl">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />待付款回购<span id="DfkHg_Count2" style="display:none;">0</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="DfkHgUl"></ul>
            </div>
        </a>
    </div>

    <div class="pendingli" style="display: block;">
        <a href="#Csjl">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />待确认收款<span id="Dqrsk_Count2" style="display:none;">0</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul id="DqrskUl"></ul>
            </div>
        </a>
    </div>
    
    
   
    <div class="pendingli" dataurl="#EmailBox" style="display: block;">
        <a href="#EmailBox">
            <div class="pendingtl">
                <h2><img src="/Content/APP/Admin/images/micon2.png" />新邮件 <span id="emailCount">2</span></h2>
                <div class="clear"></div>
            </div>
            <div class="pendinginfo">
                <ul></ul>
            </div>
        </a>
    </div>

  

</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">您确定退出登录吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定退出</button>
        </div>
    </div>
</div>