﻿<div class="entryinfo">
    <div class="bigtitle">
        <h2>登录参数</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            用户连续登录失败&nbsp;<input type="text" id="loginFailTimes" name="loginFailTimes" />&nbsp;次，将锁定&nbsp;
            <input type="text" id="loginLockTime" name="loginLockTime" />&nbsp;分钟
        </div>
    </div>
    <div class="bigtitle">
        <h2>注册参数</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        每单注册金额&nbsp;<input type="text" id="regPrice" name="regPrice" />&nbsp;&nbsp;
                        会员编号前缀&nbsp;<input type="text" id="userIdPrefix" name="userIdPrefix" />
                    </td>
                </tr>
                <tr>
                    <td>
                        默认登录密码&nbsp;<input type="text" id="loginPass" name="loginPass" />&nbsp;&nbsp;
                        默认安全密码&nbsp;<input type="text" id="passOpen" name="passOpen" />
                    </td>
                </tr>
                <tr>
                    <td>
                        默认交易密码&nbsp;<input type="text" id="threePass" name="threePass" />&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>会员提现时要扣除&nbsp;<input type="text" class="form-control2" id="txfee" name="txfee">&nbsp;%的提现手续费；</td>
                </tr>
                <tr>
                    <td>
                        提现金额需>=&nbsp;<input type="text" class="form-control2" id="txmin" name="txmin">&nbsp;,

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>账户说明</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>
                        各级别会员一次性充值金额>=&nbsp;<input type="text" id="chargeLzzkje" name="chargeLzzkje">&nbsp; 时，充值靈氣时享受一定折扣
                    </td>
                </tr>
                <tr>
                    <td> 靈氣转他人靈氣转账数量须&nbsp;<input type="text" id="transferBeiLz" name="transferBeiLz">&nbsp;的整倍数</td>
                </tr>
                <tr>
                    <td> 靈氣账户余额最低下限：&nbsp;<input type="text" id="transferBeiLzxx" name="transferBeiLzxx">&nbsp;</td>
                </tr>
                <tr>
                    <td> 注册时获得&nbsp;<input type="text" id="zchdLz" name="zchdLz">&nbsp;靈氣</td>
                </tr>
                <tr>
                    <td> 每天签到可获得&nbsp;<input type="text" id="mtqdLz" name="mtqdLz">&nbsp;靈氣，每天只能签到1次</td>
                </tr>
                <tr>
                    <td>络绎阁到期后，按新价值（价值+利息）自动扣除&nbsp;<input type="text" id="ftBili" name="ftBili">&nbsp;%（可设为0）进入：复投账户</td>
                </tr>
                <tr>
                    <td>
                        推荐收益、团队奖、城市奖账户余额须>==&nbsp;<input type="text" id="ZhBTZyemin" name="ZhBTZyemin">&nbsp;，才能转化为络绎阁
                    </td>
                </tr>
                <tr>
                    <td>
                        推荐收益 转成 络绎阁出售、服务奖励 转成 络绎阁出售 均要受如下限制：
                        转售数量须>=&nbsp;<input type="text" id="BTZzs" name="BTZzs">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        络绎阁出售时间限制小时从&nbsp;<input type="text" id="ZhBTZHourFrom" name="ZhBTZHourFrom">&nbsp;-&nbsp;<input type="text" id="ZhBTZHourTo" name="ZhBTZHourTo">&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>充值靈氣时享受一定折扣</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>级别名称</th>
                        <th>折扣（无折扣请填1，1折请填0.1）</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td valign="middle">会员</td>
                        <td>
                            &nbsp;<input type="text" id="chargeLzkUlevel1" name="chargeLzkUlevel1">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">1星白钻</td>
                        <td>
                            &nbsp;<input type="text" id="chargeLzkUlevel2" name="chargeLzkUlevel2">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">2星黄钻</td>
                        <td>
                            &nbsp;<input type="text" id="chargeLzkUlevel3" name="chargeLzkUlevel3">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">3星黑钻</td>
                        <td>
                            &nbsp;<input type="text" id="chargeLzkUlevel4" name="chargeLzkUlevel4">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle">4星皇冠</td>
                        <td>
                            &nbsp;<input type="text" id="chargeLzkUlevel5" name="chargeLzkUlevel5">&nbsp;
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>锁仓账户</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>锁仓账户扣除比例：&nbsp;<input type="text" class="form-control2" id="lockBouns" name="lockBouns">&nbsp;%</td>
                </tr>
                <tr>
                    <td>锁仓释放金额：&nbsp;<input type="text" class="form-control2" id="releaseBouns" name="releaseBouns">&nbsp;%</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>络绎阁</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>

            <table class="ntable">
                <tr>
                    <td>每新增直推1人加息比例：&nbsp;<input type="text" class="form-control2" id="bounsAmounts" name="bounsAmounts">&nbsp;%</td>
                </tr>
                <tr>
                    <td>新增直推加息比例上限：&nbsp;<input type="text" class="form-control2" id="maxBounsAmounts" name="maxBounsAmounts">&nbsp;%</td>
                </tr>
                <tr>
                    <td>开始抢养时间：&nbsp;<input type="text" class="form-control2" id="BTZqysj" name="BTZqysj">&nbsp;，抢养持续时间：&nbsp;<input type="text" class="form-control2" id="BTZcxsj" name="BTZcxsj">&nbsp;秒</td>
                </tr>
                <tr>
                    <td>预约截止时间：&nbsp;<input type="text" class="form-control2" id="BTZyysj" name="BTZyysj">&nbsp;</td>
                </tr>
                <tr>
                    <td>预约 领养所需靈氣：&nbsp;<input type="text" class="form-control2" id="BTZyylz" name="BTZyylz">&nbsp;</td>
                </tr>
                <tr>
                    <td>即抢 领养所需靈氣：&nbsp;<input type="text" class="form-control2" id="BTZjqlz" name="BTZjqlz">&nbsp;</td>
                </tr>
                <tr>
                    <td>合约天数：&nbsp;<input type="text" class="form-control2" id="BTZhyts" name="BTZhyts">&nbsp;天</td>
                </tr>
                <tr>
                    <td>日收益比例：&nbsp;<input type="text" class="form-control2" id="BTZrsyBili" name="BTZrsyBili">&nbsp;%</td>
                </tr>
                <tr>
                    <td>再出售增加利息比例：&nbsp;<input type="text" class="form-control2" id="BTZzcszzBili" name="BTZzcszzBili">&nbsp;% ，撤单后再放出的络绎阁在原有日息基础上增加</td>
                </tr>
                <tr>
                    <td>平台每日发行价值额度上限：&nbsp;<input type="text" class="form-control2" id="BTZmrjzsx" name="BTZmrjzsx">&nbsp;</td>
                </tr>
                <tr>
                    <td>规则价值下限：&nbsp;<input type="text" class="form-control2" id="BTZgzjzxx" name="BTZgzjzxx">&nbsp;  ~  上限：&nbsp;<input type="text" class="form-control2" id="BTZgzjzsx" name="BTZgzjzsx">&nbsp;</td>
                </tr>
                <tr>
                    <td>展示价值下限：&nbsp;<input type="text" class="form-control2" id="BTZzsjzxx" name="BTZzsjzxx">&nbsp;  ~  上限：&nbsp;<input type="text" class="form-control2" id="BTZzsjzsx" name="BTZzsjzsx">&nbsp;</td>
                </tr>
                <tr>
                    <td>拆份阀值：到期后总价值（含领养收益）>= 区块猪原始价值 的&nbsp;<input type="text" class="form-control2" id="BTZcffzbs" name="BTZcffzbs">&nbsp;倍 ，就把该区块猪价值平均分成&nbsp;<input type="text" class="form-control2" id="BTZcffzfs" name="BTZcffzfs">&nbsp;条出售记录进行出售</td>
                </tr>
                <tr>
                    <td>每天续养人数 ：&nbsp;<input type="text" class="form-control2" id="BTZmtxyrs" name="BTZmtxyrs">&nbsp;</td>
                </tr>
                <tr>
                    <td>自动出售比例：&nbsp;<input type="text" class="form-control2" id="BTZzdcsBili" name="BTZzdcsBili">&nbsp;%</td>
                </tr>
                <tr>
                    <td>
                        拆分新规则：会员买入猪到期超出最大上限时,拆分份数:&nbsp;<input type="text" class="form-control2" id="cfnew_cffs" name="cfnew_cffs">&nbsp;
                        拆分成几只:<input type="hidden" class="form-control2" id="cfnew_BTZid" name="cfnew_BTZid">&nbsp;<input type="text" class="form-control2" id="cfnew_BTZName" name="cfnew_BTZName" style="width:150px;">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>领养比例>=&nbsp;<input type="text" class="form-control2" id="PpLyBili" name="PpLyBili">&nbsp;% 就开始倒计时，倒计时结束时就开始执行匹配</td>
                </tr>
                <tr>
                    <td>对撤单时间进行判断，如果撤单时间>=&nbsp;<input type="text" class="form-control2" id="Cdsj" name="Cdsj">&nbsp; 点，则这个卖单就留到第2天的：9点再开始匹配</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>机器人</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>会员可花&nbsp;<input type="text" class="form-control2" id="Jqrlz" name="Jqrlz">&nbsp;靈氣购买1个机器人,每个机器人有效期为：&nbsp;<input type="text" class="form-control2" id="Jqryxq" name="Jqryxq">&nbsp;年</td>
                </tr>
                <tr>
                    <td>
                        平台出售机器人总数：&nbsp;<input type="text" class="form-control2" id="Jqrcszs" name="Jqrcszs">&nbsp;
                        前台会员在每天：&nbsp;<input type="text" class="form-control2" id="Jqrqgkssj" name="Jqrqgkssj">&nbsp; ~ &nbsp;<input type="text" class="form-control2" id="Jqrqgjssj" name="Jqrqgjssj">&nbsp; 这时间范围内可抢购机器人，这时间段外给出提示：今天已抢完，明天请赶早
                        每天出售机器人数量：&nbsp;<input type="text" class="form-control2" id="Jqrmtsl" name="Jqrmtsl">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td>转让机器人加时间限制：&nbsp;<input type="text" class="form-control2" id="Jqrzrts" name="Jqrzrts">&nbsp;天才能转一次</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>游戏规则流程</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td>2、	会员免费注册后登录前台：提交身份证实名认证，实名认证通过后，至少充值 &nbsp;<input type="text" class="form-control2" id="Yxgzzslz" name="Yxgzzslz">&nbsp;靈氣后才能参与游戏</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>续养</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        同一络绎阁买入记录只能续养&nbsp;<input type="text" class="form-control2" id="BTZtymrjlxycs" name="BTZtymrjlxycs">&nbsp;次
                        这个区块猪当前的价值（即到期后的总价值）>=这个猪第一次出售记录的价值的&nbsp;<input type="text" class="form-control2" id="BTZxyzjzBei" name="BTZxyzjzBei">&nbsp;倍时就不能再续养
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bigtitle">
        <h2>收益转化成络绎阁规则</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        收益转化成络绎阁需扣出所出售：价值的&nbsp;<input type="text" class="form-control2" id="ZhBTZsxfBili" name="ZhBTZsxfBili">&nbsp;% 的靈氣作手续费
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>络绎阁预约、抢养规则</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        2、	满足以下任一条件的会员，虽能参与抢养，但不能参与匹配：<br />
                        1）	手中持有的：络绎阁总价值（含领养收益）>= 20000；
                        &nbsp;<input type="text" class="form-control2" id="BTZgzbncycyjz" name="BTZgzbncycyjz">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="line-height:3.2rem;">
                        抢养开始时间前：
                        &nbsp;<input type="text" class="form-control2" id="BTZgzxlsj" name="BTZgzxlsj">&nbsp;分钟APP端自动响玲通知所有预约了该品种络绎阁的会员
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>求购记录优先匹配级别划分</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        同一会员连续&nbsp;<input type="text" class="form-control2" id="BTZqgsbcs" name="BTZqgsbcs">&nbsp;条急抢求购记录的状态=领养失败 的会员下次再预约抢养时优先匹配（即连续2次都没抢到）；
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>配对规则</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        回购阀值=&nbsp;<input type="text" class="form-control2" id="BTZpdgzhgfz" name="BTZpdgzhgfz">&nbsp;<br />
                        1）（平台当天总的出售价值 / 平台总的：求购人数） >= 回购阀值 时：
                        平台以 虚拟会员名义 自动回购 不天总的出售价值的&nbsp;<input type="text" class="form-control2" id="BTZpdgzzdhgBili" name="BTZpdgzzdhgBili">&nbsp;%，回购的这50%按：相应络绎阁的 规则价值上下限范围内生成随机一个 买入价值数量，
                        分配给所有的虚拟会员：
                    </td>
                </tr>
                <tr>
                    <td> &nbsp;<input type="checkbox" id="chk_HgKg" name="chk_HgKg"><input type="hidden" class="form-control2" id="HgKg" name="HgKg">虚拟会员回购开关</td>
                </tr>
                <tr>
                    <td>一个卖单的匹配次数<= &nbsp;<input type="text" class="form-control2" id="NormalPpcs" name="NormalPpcs">&nbsp;就按原有的：正常匹配规则和撤单后匹配规则走</td>
                </tr>
            </table>
        </div>
    </div>


    <div class="bigtitle">
        <h2>处罚规则</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        1）	匹配次数<=1：（即第1次匹配）<br />
                        买家会员成功抢养后，须在&nbsp;<input type="text" class="form-control2" id="BTZcffksj" name="BTZcffksj">&nbsp;小时内给卖家进行：确认付款 操作，未及时打款则将受如下处罚：<br />
                        第1次：扣&nbsp;<input type="text" class="form-control2" id="BTZcfkk1" name="BTZcfkk1">&nbsp;靈氣，<br />
                        第2次：扣&nbsp;<input type="text" class="form-control2" id="BTZcfkk2" name="BTZcfkk2">&nbsp;靈氣
                    </td>
                </tr>
                <tr>
                    <td style="line-height:3.2rem;">
                        1）	匹配次数>1：（即撤单后重新匹配的）<br />
                        买家会员成功抢养后，须在&nbsp;<input type="text" class="form-control2" id="BTZcffksj1" name="BTZcffksj1">&nbsp;小时内给卖家进行：确认付款 操作，<br />

                    </td>
                </tr>
                <tr>
                    <td style="line-height:3.2rem;">
                        卖方 须在买方付款后：&nbsp;<input type="text" class="form-control2" id="BTZcfsksj" name="BTZcfsksj">&nbsp;小时内进行：确认收款操作，超时未手动确认收款
                        扣除卖方：&nbsp;<input type="text" class="form-control2" id="BTZcfskkk" name="BTZcfskkk">&nbsp; 个靈氣作为处罚
                    </td>
                </tr>
                <tr>
                    <td style="line-height:3.2rem;">
                        匹配成功后，买家会员在&nbsp;<input type="text" class="form-control2" id="qrfkJlfz" name="qrfkJlfz">&nbsp;分钟内进行：确认付款 操作，
                        将会获得&nbsp;<input type="text" class="form-control2" id="qrfkJllz" name="qrfkJllz">&nbsp;个靈氣作为奖励
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>爱心夺宝箱</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        首次倒计时的时间单位：&nbsp;<input type="text" class="form-control2" id="Axdbxscsj" name="Axdbxscsj">&nbsp;小时（允许有小数位）；<br />
                        每参与一次压宝会员需支付&nbsp;<input type="text" class="form-control2" id="Axdbxmclz" name="Axdbxmclz">&nbsp;靈氣进入平台：爱心夺宝箱 账户<br />
                        会员每参与一次夺宝，倒计时增加&nbsp;<input type="text" class="form-control2" id="Axdbxmcms" name="Axdbxmcms">&nbsp;秒<br />
                        每期夺宝游戏结束后，最后参与本期夺宝游戏的最后 10位会员将获得平台：爱心夺宝箱 账户余额的&nbsp;<input type="text" class="form-control2" id="Axdbxyebili" name="Axdbxyebili">&nbsp;%平均分
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="bigtitle">
        <h2>城市合伙人</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        7、	满足以下两个条件的会员，可在在前台直接支付&nbsp;<input type="text" class="form-control2" id="Bdzxzflz" name="Bdzxzflz">&nbsp;靈氣购买城市合伙人资格，无需后台审核：<br />
                        1）	自身累计直推人数>=&nbsp;<input type="text" class="form-control2" id="Bdzxztrs" name="Bdzxztrs">&nbsp;<br />
                        2）	自身直推图下线人数>=&nbsp;<input type="text" class="form-control2" id="Bdzxxxrs" name="Bdzxxxrs">&nbsp;

                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="bigtitle">
        <h2>会员级别</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>

            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>级别名称</th>
                        <th>晋升条件</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>会员</td>
                        <td>一次性充值<input type="text" class="form-control2" id="Ulevel1ycczlz" name="Ulevel1ycczlz">&nbsp;靈氣</td>
                    </tr>
                    <tr>
                        <td>1星白钻</td>
                        <td>
                            满足以下3个条件：<br />
                            1、	累计直推人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel2ztrs" name="Ulevel2ztrs">&nbsp;<br />
                            2、	直推图下线人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel2xxrs" name="Ulevel2xxrs">&nbsp;<br />
                            3、	所得团队奖累计>=&nbsp;<input type="text" class="form-control2" id="Ulevel2tdjlj" name="Ulevel2tdjlj">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>2星黄钻</td>
                        <td>
                            满足以下3个条件：<br />
                            1、	累计直推人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel3ztrs" name="Ulevel3ztrs">&nbsp;<br />
                            2、	直推图下线人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel3xxrs" name="Ulevel3xxrs">&nbsp;<br />
                            3、	所得团队奖累计>=&nbsp;<input type="text" class="form-control2" id="Ulevel3tdjlj" name="Ulevel3tdjlj">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>3星黑钻</td>
                        <td>
                            满足以下3个条件：<br />
                            1、	累计直推人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel4ztrs" name="Ulevel4ztrs">&nbsp;<br />
                            2、	直推图下线人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel4xxrs" name="Ulevel4xxrs">&nbsp;<br />
                            3、	所得团队奖累计>=&nbsp;<input type="text" class="form-control2" id="Ulevel4tdjlj" name="Ulevel4tdjlj">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>4星黄冠</td>
                        <td>
                            满足以下3个条件：<br />
                            1、	累计直推人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel5ztrs" name="Ulevel5ztrs">&nbsp;<br />
                            2、	直推图下线人数>=&nbsp;<input type="text" class="form-control2" id="Ulevel5xxrs" name="Ulevel5xxrs">&nbsp;<br />
                            3、	所得团队奖累计>=&nbsp;<input type="text" class="form-control2" id="Ulevel5tdjlj" name="Ulevel5tdjlj">&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="bigtitle">
        <h2>推荐收益</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            累计直推人数是指：会员持有未到期络绎阁总价值>=&nbsp;<input type="text" class="form-control2" id="tjsyZtrbtzZjjdy" name="tjsyZtrbtzZjjdy">&nbsp;
            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>自身的累计直推人数</th>
                        <th>享受代数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="text" class="form-control2" id="tjsyXsds1" name="tjsyXsds1">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><input type="text" class="form-control2" id="tjsyXsds2" name="tjsyXsds2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>>=3</td>
                        <td><input type="text" class="form-control2" id="tjsyXsds3" name="tjsyXsds3">&nbsp;</td>
                    </tr>
                </tbody>
            </table>


            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>下线会员所在代数</th>
                        <th>所得比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><input type="text" class="form-control2" id="tjsyBili1" name="tjsyBili1">&nbsp;%</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><input type="text" class="form-control2" id="tjsyBili2" name="tjsyBili2">&nbsp;%</td>
                    </tr>
                    <tr>
                        <td>>=3</td>
                        <td><input type="text" class="form-control2" id="tjsyBili3" name="tjsyBili3">&nbsp;%</td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        推荐收益 新增第2部份：合伙人收益<br />
                        会员获得：城市奖 时，其推荐人可获得其：城市奖 的<input type="text" class="form-control2" id="tjsy1HhrBili" name="tjsy1HhrBili">%作为合伙人收益

                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="bigtitle">
        <h2>团队奖</h2>
        <div class="clear"></div>
    </div>
    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>

            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>会员级别</th>
                        <th>享受代数</th>
                        <th>所得比例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1星白钻</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel2xxds" name="tdjUlevel2xxds">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel2bili" name="tdjUlevel2bili">&nbsp;%</td>
                    </tr>
                    <tr>
                        <td>2星黄钻</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel3xxds" name="tdjUlevel3xxds">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel3bili" name="tdjUlevel3bili">&nbsp;%</td>
                    </tr>
                    <tr>
                        <td>3星黑钻</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel4xxds" name="tdjUlevel4xxds">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel4bili" name="tdjUlevel4bili">&nbsp;%</td>
                    </tr>
                    <tr>
                        <td>4星黄冠</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel5xxds" name="tdjUlevel5xxds">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="tdjUlevel5bili" name="tdjUlevel5bili">&nbsp;%</td>
                    </tr>
                </tbody>
            </table>





        </div>
    </div>

    <div class="bigtitle">
        <h2>团队奖 和 城市奖 分别有日封顶值限制</h2>
        <div class="clear"></div>
    </div>

    <div class="oentryinfo" style="border-top:1px solid;font-size:1.2rem;">
        <div>
            <table class="ntable">
                <tr>
                    <td style="line-height:3.2rem;">
                        城市奖金额<input type="text" class="form-control2" id="Csjje" name="Csjje">&nbsp;，城市奖封顶金额<input type="text" class="form-control2" id="Csjfd" name="Csjfd">&nbsp;
                    </td>
                </tr>
            </table>


            <table class="table table-bordered table-auto" cellpadding="0" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>会员级别</th>
                        <th>团队奖 日封顶值</th>
                        <th>城市奖 日封顶值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1星白钻</td>
                        <td><input type="text" class="form-control2" id="tdjRfd1" name="tdjRfd1">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="csjRfd1" name="csjRfd1">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>2星黄钻</td>
                        <td><input type="text" class="form-control2" id="tdjRfd2" name="tdjRfd2">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="csjRfd2" name="csjRfd2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>3星黑钻</td>
                        <td><input type="text" class="form-control2" id="tdjRfd3" name="tdjRfd3">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="csjRfd3" name="csjRfd3">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>4星黄冠</td>
                        <td><input type="text" class="form-control2" id="tdjRfd4" name="tdjRfd4">&nbsp;</td>
                        <td><input type="text" class="form-control2" id="csjRfd4" name="csjRfd4">&nbsp;</td>
                    </tr>
                </tbody>
            </table>





        </div>
    </div>

    <br />
    <br /><br /><br />


    <div class="replybox">
        <ul class="tga1">
            <li style="text-align:center;"><button class="bigbtn" style="width:90%;" id="saveParamBtn">保存参数</button></li>
        </ul>
    </div>
</div>

<style type="text/css">
    input {
        color: red;
        height: 3rem;
        width: 6rem;
        padding: 0 0.5rem;
        box-sizing: border-box;
    }

    .ntable td {
        padding: 5px 5px 5px 5px;
        text-align: left;
    }

    tabel {
        border-spacing: 0;
        border-collapse: collapse;
    }

    table td {
        text-align: left;
    }

    table {
        max-width: 100%;
        background-color: transparent;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #808080;
        text-align: left;
    }

    th {
        text-align: left;
    }

    .table {
        width: 100%;
        margin-bottom: 20px;
    }

        .table th,
        .table td {
            padding: 8px;
            line-height: 1.53846154;
            vertical-align: top;
            border-bottom: 1px solid #ddd;
            -webkit-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            -o-transition: background .2s cubic-bezier(.175, .885, .32, 1);
            transition: background .2s cubic-bezier(.175, .885, .32, 1);
        }

        .table > thead > tr > th {
            vertical-align: bottom;
            background-color: #f1f1f1;
            border-bottom: 1px solid #ddd;
        }

        .table > tbody + tbody {
            border-top: 2px solid #ddd;
        }

    .table-fixed {
        table-layout: fixed;
    }

        .table-fixed th,
        .table-fixed td {
            overflow: hidden;
            white-space: nowrap;
        }

        .table-fixed tfoot > tr > th,
        .table-fixed tfoot > tr > td,
        .table-fixed .nofixed,
        .table-fixed .nofixed {
            overflow: visible;
        }

    .table-borderless thead > tr > th,
    .table-borderless th,
    .table-borderless td {
        border: none;
    }

    .table-auto {
        width: auto;
        max-width: 100%;
    }

    .table-condensed th,
    .table-condensed td {
        padding: 5px;
    }

    .table-bordered {
        border: 1px solid #ddd;
    }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #ddd;
        }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: #ebf2f9;
    }

    table col[class*="col-"] {
        display: table-column;
        float: none;
    }

    table td[class*="col-"],
    table th[class*="col-"] {
        display: table-cell;
        float: none;
    }

    .table tr > td.active,
    .table tr > th.active,
    .table tr.active > td,
    .table tr.active > th {
        background-color: #ffe7bc;
    }

    .table > thead > tr > td.success,
    .table > tbody > tr > td.success,
    .table > tfoot > tr > td.success,
    .table > thead > tr > th.success,
    .table > tbody > tr > th.success,
    .table > tfoot > tr > th.success,
    .table > thead > tr.success > td,
    .table > tbody > tr.success > td,
    .table > tfoot > tr.success > td,
    .table > thead > tr.success > th,
    .table > tbody > tr.success > th,
    .table > tfoot > tr.success > th {
        background-color: #ddf4df;
        border-color: #bae8b6;
    }

    .table-hover > tbody > tr > td.success:hover,
    .table-hover > tbody > tr > th.success:hover,
    .table-hover > tbody > tr.success:hover > td,
    .table-hover > tbody > tr.success:hover > th {
        background-color: #caeecd;
        border-color: #a8e1a3;
    }

    .table > thead > tr > td.danger,
    .table > tbody > tr > td.danger,
    .table > tfoot > tr > td.danger,
    .table > thead > tr > th.danger,
    .table > tbody > tr > th.danger,
    .table > tfoot > tr > th.danger,
    .table > thead > tr.danger > td,
    .table > tbody > tr.danger > td,
    .table > tfoot > tr.danger > td,
    .table > thead > tr.danger > th,
    .table > tbody > tr.danger > th,
    .table > tfoot > tr.danger > th {
        background-color: #ffe5e0;
        border-color: #ffc6c7;
    }

    .table-hover > tbody > tr > td.danger:hover,
    .table-hover > tbody > tr > th.danger:hover,
    .table-hover > tbody > tr.danger:hover > td,
    .table-hover > tbody > tr.danger:hover > th {
        background-color: #ffd0c6;
        border-color: #ffadad;
    }

    .table > thead > tr > td.warning,
    .table > tbody > tr > td.warning,
    .table > tfoot > tr > td.warning,
    .table > thead > tr > th.warning,
    .table > tbody > tr > th.warning,
    .table > tfoot > tr > th.warning,
    .table > thead > tr.warning > td,
    .table > tbody > tr.warning > td,
    .table > tfoot > tr.warning > td,
    .table > thead > tr.warning > th,
    .table > tbody > tr.warning > th,
    .table > tfoot > tr.warning > th {
        background-color: #fff0d5;
        border-color: #ffdcbc;
    }

    .table-hover > tbody > tr > td.warning:hover,
    .table-hover > tbody > tr > th.warning:hover,
    .table-hover > tbody > tr.warning:hover > td,
    .table-hover > tbody > tr.warning:hover > th {
        background-color: #ffe7bc;
        border-color: #ffcea2;
    }

    .table-responsive {
        min-height: .01%;
        overflow-x: auto;
    }

    @media screen and (max-width: 767px) {
        .table-responsive {
            width: 100%;
            margin-bottom: 15px;
            overflow-y: hidden;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            border: 1px solid #ddd;
        }

            .table-responsive > .table {
                margin-bottom: 0;
            }

                .table-responsive > .table > thead > tr > th,
                .table-responsive > .table > tbody > tr > th,
                .table-responsive > .table > tfoot > tr > th,
                .table-responsive > .table > thead > tr > td,
                .table-responsive > .table > tbody > tr > td,
                .table-responsive > .table > tfoot > tr > td {
                    white-space: nowrap;
                }

            .table-responsive > .table-bordered {
                border: 0;
            }

                .table-responsive > .table-bordered th {
                    border-top: none;
                }

                .table-responsive > .table-bordered > thead > tr > th:first-child,
                .table-responsive > .table-bordered > tbody > tr > th:first-child,
                .table-responsive > .table-bordered > tfoot > tr > th:first-child,
                .table-responsive > .table-bordered > thead > tr > td:first-child,
                .table-responsive > .table-bordered > tbody > tr > td:first-child,
                .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                    border-left: 0;
                }

                .table-responsive > .table-bordered > thead > tr > th:last-child,
                .table-responsive > .table-bordered > tbody > tr > th:last-child,
                .table-responsive > .table-bordered > tfoot > tr > th:last-child,
                .table-responsive > .table-bordered > thead > tr > td:last-child,
                .table-responsive > .table-bordered > tbody > tr > td:last-child,
                .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                    border-right: 0;
                }

                .table-responsive > .table-bordered > tbody > tr:last-child > th,
                .table-responsive > .table-bordered > tfoot > tr:last-child > th,
                .table-responsive > .table-bordered > tbody > tr:last-child > td,
                .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                    border-bottom: 0;
                }
    }
</style>

