﻿<div class="promptbox">
    <div class="promptcont">
        <div class="prompticon">
            <i class="fa fa-diamond"></i>
        </div>
        <div class="prompttext">
            <h2 id="userId"><span>会员编号：</span>DK264487</h2>
        </div>
    </div>
    <div class="btnbox">
        <ul class="tga1">
            <li><button class="bigbtn" style="width:98%;" onclick="location = '#Register'">继续注册会员</button></li>
        </ul>
        <div class="clear"></div>

    </div>
</div>
