﻿<div class="maintag">
    <ul class="tga2">
        <li id="tabLi1" class="active"><a href="javascript:changeTab(1);">挂卖明细</a></li>
        <li id="tabLi2"><a href="javascript:changeTab(2);">发布挂卖</a></li>
    </ul>
</div>


<div class="contentbox" id="tabDiv1">
    <div class="operating">

        <div class="tipslistbox">

            <div class="tipslist" id="totalepoints" style="padding-left:20px;">
                <p>已审核总金额:0.0 待审核总金额:0.0</p>
            </div>
        </div>


        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width:98%" id="userName" />
                </dd>
            </dl>
            <dl>
                <dt>状态</dt>
                <dd>
                    <input type="hidden" id="saleflag" />
                    <input type="text" class="searchtext" placeholder="请选择状态" style="width:98%" id="saleflagName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>品种名称</dt>
                <dd>
                    <input type="hidden" id="Btzid" value="0" />
                    <input type="text" class="searchtext" placeholder="请选择品种名称" style="width:98%" id="BTZName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>

        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="datalist" id="Sdgmdatalist">
        <ul id="SdgmitemList"></ul>
    </div>
</div>



<div class="contentbox" id="tabDiv2" style="display:none;">
    <div class="entryinfo">
       
        <dl>
            <dt>虚拟会员编号</dt>
            <dd>
                <input type="text" class="entrytxt" placeholder="请选择会员编号" style="width:98%" id="suserId" readonly />
            </dd>
        </dl>
        <dl>
            <dt>虚拟会员姓名</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" readonly placeholder="虚拟会员姓名" id="suserName" />
            </dd>
        </dl>
        <dl>
            <dt>络绎阁名称</dt>
            <dd>
                <input type="hidden" id="sBtzid" value="0" />
                <input type="text" class="searchtext" placeholder="请选择品种名称" style="width:98%" id="sBTZName" readonly />
            </dd>
        </dl>
        <dl>
            <dt>下限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" readonly placeholder="下限" id="Gzzzxx" />
            </dd>
        </dl>
        <dl>
            <dt>上限</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" readonly placeholder="上限" id="Gzzzsx" />
            </dd>
        </dl>
        <dl>
            <dt>出售价值</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="出售价值" id="Cszz" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>发布数目</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="发布数目" value="1" id="Fbsm" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>


    </div>
    <div class="operation">
        <ul class="tga2">
            <li><button class="seditbtn" id="closeDeployBtn">返回</button></li>
            <li><button class="smallbtn" id="saveProductBtn">保存</button></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>









<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定开通</button>
        </div>
    </div>
</div>
