﻿<div class="contentbox">
    <div class="operating">

        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;" >
                        <input type="text" class="searchtext searchtexth" id="userId" placeholder="申诉人编号" style="width:100%" />
                    </td>
</tr>
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="saleuserId" placeholder="被申诉人编号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
           
            <dl>
                <dt>申诉日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>
            <dl>
                <dt>记录状态</dt>
                <dd>
                    <input type="hidden" id="flag" />
                    <input type="text" class="searchtext" placeholder="请记录状态" style="width:98%" id="flagName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>取消交易</dt>
                <dd>
                    <input type="hidden" id="isJcjy" />
                    <input type="text" class="searchtext" placeholder="请记录状态" style="width:98%" id="isJcjyName" readonly />
                </dd>
            </dl>
            

            <dl>
                <dt>申诉状态</dt>
                <dd>
                    <input type="hidden" id="isSsstate" />
                    <input type="text" class="searchtext" placeholder="请申诉状态" style="width:98%" id="isSsstateName" readonly />
                </dd>
            </dl>
          
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="datalist" id="Chargedatalist">
        <ul id="ChargeitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
       
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定开通</button>
        </div>
    </div>
</div>
