﻿

<div class="entryinfo">
    <dl>
        <dt>主题</dt>
        <dd>
            <input type="text" required="required" class="entrytxt" id="contTitle"  placeholder="请输入主题" />
            <span class="erase"><i class="fa fa-times-circle-o"></i></span>
        </dd>
    </dl>
    <div style="width:98%;padding-left:1%;"><div id="editor" style="height:25rem;"></div></div>

    <div class="btnbox">
        <button class="bigbtn" id="saveBtn">保存</button>
    </div>
</div>