﻿<div class="contentbox">
    <div class="operating">

        <div class="tipslistbox">
           
            <div class="tipslist" id="totalepoints" style="padding-left:20px;">
                <p>求购人数:0 求购记录总数:0  匹配人数:0</p>
                <p>手续费总额:0  出售总价值:0'</p>
            </div>
        </div>


        <div class="searchbox">
            <table style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <input type="text" class="searchtext searchtexth" id="userId" placeholder="会员编号" style="width:100%" />
                    </td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                    <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                </tr>
            </table>
            <div class="clear"></div>
        </div>
        <div class="searchdate">
            <dl>
                <dt>会员姓名</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="会员姓名" style="width:98%" id="userName" />
                </dd>
            </dl>
            <dl>
                <dt>省</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="省" style="width:98%" id="province" />
                </dd>
            </dl>
            <dl>
                <dt>市</dt>
                <dd>
                    <input type="text" class="searchtext" placeholder="市" style="width:98%" id="city" />
                </dd>
            </dl>
            <dl>
                <dt>状态</dt>
                <dd>
                    <input type="hidden" id="flag" />
                    <input type="text" class="searchtext" placeholder="请选择状态" style="width:98%" id="flagName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>品种名称</dt>
                <dd>
                    <input type="hidden" id="Btzid" value="0" />
                    <input type="text" class="searchtext" placeholder="请选择品种名称" style="width:98%" id="BTZName" readonly />
                </dd>
            </dl>
            <dl>
                <dt>预约日期</dt>
                <dd>
                    <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="47%" align="left"><input type="text" class="datebox" id="startTime" placeholder="开始日期" style="width:100%" /></td>
                            <td align="center">至</td>
                            <td width="47%" align="right"><input type="text" class="datebox" id="endTime" placeholder="结束日期" style="width: 100%" /></td>
                        </tr>
                    </table>
                </dd>
            </dl>
          
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
    </div>
    <div class="datalist" id="Chargedatalist">
        <ul id="ChargeitemList"></ul>
    </div>
</div>
<!--确认提示框-->
<div class="promptbg">
    <div class="promptbgbox">
        <header>
            <div class="prompttl">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><img src="/Content/APP/Admin/images/btnclose.png" /></i>
                <h2 id="prompTitle">标题</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="prompCont">
        </div>
        <div class="btnbox" id="propBtnbox">
            <button class="bigbtn" id="sureBtn">确定开通</button>
        </div>
    </div>
</div>
