﻿@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:Arial,'微软雅黑'; list-style:none; font-weight:normal;transition:width 0.5s, height 0.5s,background 0.5s, transform 0.5s, border 0.5s, box-shadow 0.5s, opacity 0.5s, bottom 0.5s, top 0.5s;}
html{font-size:10px; height:100%;}
input, textarea, keygen, select, button{ font:1rem Arial;}
body{ height:100%; background:#f2f6f9; color:#53595e;}
@media (min-width: 320px){html{ font-size:9px;}}
@media (min-width: 360px){html{ font-size:10px;}}
@media (min-width: 393px){html{ font-size:11px;}}
@media (min-width: 480px){html{ font-size:13.33px;}}
@media (min-width: 540px){html{ font-size:15px;}}
@media (min-width: 720px){html{ font-size:20px;}}
@media (min-width: 900px){html{ font-size:25px;}}
@media (min-width: 1080px){html{ font-size:30px;}}

a{ text-decoration:none; color:#333;}
a:active{ color:#ddb86b;}
input[type="text"],input[type="password"]{position:relative; z-index:10; border:solid 0.1rem #ddd; box-sizing:border-box; outline:none;}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus{ box-shadow:0px 0px 0.5rem rgba(33,89,210,1); border:solid 0.1rem #3e78dd; z-index:20}

.fleft{ float: left;}
.fright{ float:right;}
.clear{clear:both; line-height:0; font-size:0px; height:0;}

header{ height:4.4rem; background:url(../images/topimg.png) no-repeat; background:#1483da; background: linear-gradient(to right, #117cd6 , #21a1eb); background-size:100% 100%;}
header .backicon img, header .shareicon img, header .homeicon img, .dellink img{width:2rem; height:2rem; font-size:0;}
header .backicon{ float:left; box-sizing:border-box; padding:1.2rem 0.4rem 1rem 1rem;}
header .shareicon{ float:right;box-sizing:border-box; padding:1.2rem;}
header .homeicon{ float:right;box-sizing:border-box; padding:1.2rem;}
header h2{ font-size:1.4rem; font-weight:normal; line-height:4.4rem; margin:0; padding:0; color:#fff;}
header h3{ font-size:1.4rem; font-weight:normal; line-height:4.4rem; margin:0; padding:0; color:#fff; text-align:center;}
header .dellink{ float:right; line-height:2rem; padding:1.2rem; font-size:1.4rem; color:#fff}

article{ padding:1rem; background:#fff;}
article h1{ font-size:2rem; text-align:center; font-weight:normal; margin-bottom:1rem; color:#333;}
article h5{ font-size:1.2rem; text-align:center; color:#999; margin-bottom:1rem;}
article p{font-size:1.4rem; line-height:2.4rem; text-indent:2.4rem; margin-bottom:1.2rem;}
section{ padding:1rem;}
section h1{ font-size:1.8rem; text-align:center; font-weight:normal; margin-bottom:1rem; color:#333;}
section p{ font-size:1.2rem; line-height:2.2rem;}

.btnbox{ padding:1rem 2rem; background:#fff;}
.btnbox li{ box-sizing:border-box; padding:0rem 0.5rem;}
.btnboxin li{padding:0rem 0.5rem; box-sizing:border-box;}

button.bigbtn{ background:#1483da; background: linear-gradient(to right, #1689dd , #21a2eb); width:100%; height:4.4rem; border:none; border-radius:0.3rem; outline:none; font-size:1.3rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15)}
button.bigbtn:active{ background:#1483da; background: linear-gradient(to right, #117cd6 , #21a1eb); box-shadow:0px 0.2rem 0rem #dea400 inset;}
button.cancelbtn{ background:#bebdb7; width:100%; height:4.4rem; border:none; border-radius:0.3rem; outline:none; font-size:1.3rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15)}
button.cancelbtn:active{ background:#a4a399; box-shadow:0px 0.2rem 0rem #93928b inset;}
button.smallbtn{ background:#ddb86b; width:100%; height:3.2rem; border:none; border-radius:0.3rem; outline:none; font-size:1.3rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15)}
button.smallbtn:active{ background:#f5b70b; box-shadow:0px 0.2rem 0rem #dea400 inset;}

button.seditbtn{ background:#A7D3A5; width:100%; height:3.2rem; border:none; border-radius:0.3rem; outline:none; font-size:1.2rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15); min-width:5rem;}

button.sdelbtn{ background:#D69DA5; width:100%; height:3.2rem; border:none; border-radius:0.3rem; outline:none; font-size:1.2rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15);  min-width:5rem;}

button.sclreabtn{ background:#E5C988; width:100%; height:3.2rem; border:none; border-radius:0.3rem; outline:none; font-size:1.2rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15);  min-width:5rem;}


/* 登录界面 */
.loginbg{ background:url(../images/loginbg.jpg) no-repeat top center; background-size:auto 65rem;}
.loginlogo{ padding:10rem 4rem 12rem 3rem;}
.loginlogo img{ width:35%;}
.loginlogo h3{ font-size:2.4rem; color:#3e424e; padding-bottom:1.8rem;}
.loginlogo h3 span{ font-size:1.8rem;}
.loginlogo p{ color:#8f9094; font-size:1.2rem; line-height:3rem;}
.loginlogo p span{ color:#fff142}

.logingb{ color:#999; position:absolute; right:0px; top:0px; display:block; width:46px; height:4.4rem; text-align:center; line-height:4.4rem !important; z-index:99;}
.loginenter{ padding:0 3rem;}
.logintext{ background:#fff; box-shadow:0rem 0.5rem 1rem rgba(0,0,0,0.1); border-radius:0.4rem;}
.loginenter dl{ position:relative;}
.loginenter dl dt{ position:absolute; left:0; top:0; height:4rem; width:4rem; z-index:22}
.loginenter dl dt img{ width:1.6rem; height:1.6rem; padding:1.4rem;}
.loginenter dl dd{ width:100%; height:4.4rem;}
.loginenter dl dd input{ width:100%; height:4.4rem; padding:0rem 1rem 0rem 4rem; border:none; color:#3e424e; background:#fff; font-size:1.5rem; border-bottom:solid 0.1rem #eee; z-index:10;}
.loginenter dl dd input[type="text"]{border-radius:0.4rem 0.4rem 0 0;}
.loginenter dl dd input[type="password"]{border-radius:0 0 0.4rem 0.4rem ;}
.loginenter dl dd input.entercodetxt{ padding-right:12rem;}
.loginenter dl dd a.rescodeimg{ position:absolute; z-index:21; right:0; top:0; margin-right:1rem; background:url(../images/refresh.png) no-repeat right center; background-clip:padding-box; padding:0.4rem 2.4rem 0.4rem 0.4rem; background-size:2rem 2rem;}
.loginenter dl dd a.rescodeimg img{ width:8rem; height:3.6rem; border-radius:0.3rem;}

.loginenter dl dd input[type="text"]:focus, .loginenter dl dd input[type="password"]:focus{ box-shadow:0px 0px 0.5rem rgba(28,150,228,0.6); border:none; border-bottom:solid 0.1rem #eee; z-index:20}

.loginset{ padding:1rem 0.5rem; color:#CCC; line-height:1.6rem; font-size:1.4rem;}
.loginset input[type="checkbox"]{ width:1.4rem; height:1.4rem; float:left; margin:0.1rem; margin-right:0.3rem;}
.loginset label{ float:left;}
.loginset a{ float:right; color:#ffc41f;}

.lbtnbox{ padding:11rem 0 1rem 0;}
button.loginbtn{ background:#fff; width:100%; height:4.8rem; border:none; border-radius:0.4rem; outline:none; font-size:1.6rem; color:#444450; box-shadow:0rem 0.5rem 1rem rgba(0,0,0,0.1)}
.original{ text-align:center;}
.original a{ font-size:1.5rem; color:#ecae33;}


/* 信息录入 */
.entryinfo{ background:#fff; padding-bottom:0rem; margin-bottom:1rem;}
.entryinfo dl{position:relative; min-height:5.4rem; background:#fff;}
.entryinfo dl dt{position:absolute; line-height:5.4rem; min-height:5.4rem; padding:0 1rem; z-index:30; color:#454545; font-size:1.3rem;}
.entryinfo dl dd{ position:relative; border-bottom:solid 0.1rem #eee; min-height:5.4rem;}
.entryinfo dl dd input[type="text"],.entryinfo dl dd input[type="password"]{ width:100%; border:none; height:5.4rem; padding:0rem 1rem 0rem 10rem; font-size:1.3rem; color:#333;}
.entryinfol dl dd input[type="text"],.entryinfol dl dd input[type="password"]{padding:0rem 1rem 0rem 15rem;}


.entryinfo dl dd .getcode{ width:10rem; height:4rem; margin:0.8rem; right:0; position:absolute; z-index:30; top:0; background:#ADB4B7; border:solid 1px #899095; font-size:1.4rem; border-radius:0.4rem; outline:none;}
.entryinfo dl dd .getcode:disabled{ background:#D3D8D8; border:solid 0.1rem #ADB4B7}
.entryinfo dl dd p{min-height:5.4rem; padding:0rem 1rem 0rem 10rem; line-height:5.4rem; font-size:1.3rem;}
.entryinfo dl dd p span{ color:#f90}

.entryinfo dl dd p label{ font-size:1.4rem;}
.entryinfo dl dd p label input[type="checkbox"]{ float:left; width:2rem; height:2rem; margin:1.6rem 0.2rem 1.6rem 0; }
.entryinfo dl dd p a{ font-size:1.4rem; color:#f90;}

.entryinfo dl dd .richtext{padding:1.6rem 1rem 1.6rem 9rem; box-sizing:border-box; background:#fff; min-height:10rem; max-height:28rem; font-size:1.6rem; user-modify: read-write-plaintext-only; overflow:auto; line-height:2.2rem; outline:none; position:relative;}
.entryinfo dl dd .richtext:focus{ box-shadow:0px 0px 0.5rem rgba(255,153,0,1); z-index:20}
.entryinfo dl dd span.erase{ position:absolute; z-index:21; font-size:1.2rem; right:0rem; top:0; padding:1.7rem; color:#999;display:none;}
.entryinfo dl dd span.erase i{ font-size:2rem;}
.entryinfo dl dd span.erasearea{ position:absolute; z-index:21; foint-size:1.2rem; right:0rem; bottom:0; padding:1.7rem; color:#999;display:none;}
.entryinfo dl dd span.erasearea { font-size:2rem;}
.entryinfo dl dd:focus span.erase{ display:block;}
.entryinfo dl dd.money:after{ content:"元"; position:absolute; right:4rem; top:0rem; color:#999; font-size:1.5rem; z-index:22; line-height:5.4rem;}



.entryinfo2{ background:#fff; padding-bottom:0rem; margin-bottom:1rem;}
.entryinfo2 dl{position:relative; min-height:3.4rem; background:#fff;}
.entryinfo2 dl dt{position:absolute; line-height:3.4rem; min-height:3.4rem; padding:0 1rem; z-index:30; color:#454545; font-size:1.3rem;}
.entryinfo2 dl dd{ position:relative; border-bottom:solid 0.1rem #eee; min-height:3.4rem;}
.entryinfo2 dl dd input[type="text"],.entryinfo2 dl dd input[type="password"]{ width:100%; border:none; height:3.4rem; padding:0rem 1rem 0rem 10rem; font-size:1.3rem; color:#333;}
.entryinfol2 dl dd input[type="text"],.entryinfol2 dl dd input[type="password"]{padding:0rem 1rem 0rem 15rem;}


.entryinfo2 dl dd .getcode{ width:10rem; height:4rem; margin:0.8rem; right:0; position:absolute; z-index:30; top:0; background:#ADB4B7; border:solid 1px #899095; font-size:1.4rem; border-radius:0.4rem; outline:none;}
.entryinfo2 dl dd .getcode:disabled{ background:#D3D8D8; border:solid 0.1rem #ADB4B7}
.entryinfo2 dl dd p{min-height:3.4rem; padding:0rem 1rem 0rem 10rem; line-height:3.4rem; font-size:1.3rem;}
.entryinfo2 dl dd p span{ color:#f90}

.entryinfo2 dl dd p label{ font-size:1.4rem;}
.entryinfo2 dl dd p label input[type="checkbox"]{ float:left; width:2rem; height:2rem; margin:1.6rem 0.2rem 1.6rem 0; }
.entryinfo2 dl dd p a{ font-size:1.4rem; color:#f90;}

.entryinfo2 dl dd .richtext{padding:1.6rem 1rem 1.6rem 9rem; box-sizing:border-box; background:#fff; min-height:10rem; max-height:28rem; font-size:1.6rem; user-modify: read-write-plaintext-only; overflow:auto; line-height:2.2rem; outline:none; position:relative;}
.entryinfo2 dl dd .richtext:focus{ box-shadow:0px 0px 0.5rem rgba(255,153,0,1); z-index:20}
.entryinfo2 dl dd span.erase{ position:absolute; z-index:21; font-size:1.2rem; right:0rem; top:0; padding:0.7rem 1.7rem 0.7rem 1.7rem; color:#999;display:none;}
.entryinfo2 dl dd span.erase i{ font-size:2rem;}
.entryinfo2 dl dd:focus span.erase{ display:block;}
.entryinfo2 dl dd.money:after{ content:"元"; position:absolute; right:4rem; top:0rem; color:#999; font-size:1.5rem; z-index:22; line-height:5.4rem;}
.entryinfo2 dd>div.option2{padding:0rem 1rem 0rem 9.5rem;}
.entrytxt:valid + .erase {display: block;}
.entrytxt2:valid + .erase {display: block;}


.option2{ padding:0rem 1rem 0rem 1rem;}
.option2 li{ box-sizing:border-box; padding:0.5rem 0.5rem 0.4rem 0.5rem; line-height:2.4rem;}
.option2 li a{ border:solid 0.1rem #ddd; border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:#fff; box-sizing:border-box;}
.option2 li.active a{background:#1483da; background:linear-gradient(to right, #117cd6 , #21a1eb); color:#fff; border:solid 0.1rem #1483da;}
.option2 li.disabled a{border:solid 0.1rem #ccc; background:#ddd; color:#aaa}




.entryinfo .uploaddiv{min-height:5.4rem; padding:1rem 1rem 1rem 9rem; line-height:3.4rem; font-size:1rem;}
.uploadimg{ position:relative; width:12rem; height:12rem; background-color:#eee; overflow:hidden; border-radius:0.3rem; font-size:1.2rem; text-align:center; color:#999; padding:1.5rem 1rem; box-sizing:border-box; margin:0.5rem; float:left;}
.uploadimg .uploadimgfile{ position:absolute; z-index:1; background-position:center; background-size:cover; width:12rem; height:12rem; left:0; top:0; display:block;}
.uploadimg i{ font-size:3rem;}
.uploadimg .uploadicon{ padding:1.5rem 0;}
.uploadplug{ position:absolute; display:block; left:0; top:0;width:12rem; height:12rem; opacity:0; z-index:2;}
.entryinfo .uploaddiv p.tips{ padding:0 0.5rem; margin:0; font-size:1rem; line-height:2rem; min-height:2rem;}

.oentryinfo{ padding:1rem; background:#fff;}
.oentryinfo li{ padding:1rem 0; line-height:3rem;}
.oentryinfo li span, .oentryinfo li input[type="text"]{ float:left; margin:0 0.2rem; font-size:1.2rem;}
.oentryinfo li input[type="text"]{ height:3rem; width:6rem; padding:0 0.5rem; box-sizing:border-box;}

.maintag{ text-align:center; font-size:1.2rem; height:3rem; background:#fff; padding:1rem;}
.maintag ul{}
.maintag li{line-height:3rem; box-sizing:border-box; border:solid 0.1rem #1483da; margin-right:-0.1rem}
.maintag li a{ display:block;}
.maintag li a sup{ line-height:0; background:#e24b4b; padding:0.3rem 0.6rem; text-align:center; margin-left:0.3rem; border-radius:2rem; color:#fff; font-size:1rem;}
.maintag li.active{ background:#1483da; background: linear-gradient(to right, #1689dd , #21a2eb); border:solid 0.1rem #1483da;}
.maintag li.active a{ color:#fff; display:block;}
.maintag li:first-child{ border-radius:0.4rem 0 0 0.4rem;}
.maintag li:last-child{ border-radius:0 0.4rem 0.4rem 0;}

.tga2 li{ float:left; width:50%;}
.tga3 li{ float:left; width:33.33%;}
.tga4 li{ float:left; width:25%;}
.tga5 li{ float:left; width:20%;}
.tga6 li{ float:left; width:16.66%;}
.tga7 li{ float:left; width:14.28%;}
.tga8 li{ float:left; width:1.25%;}

.userdltl{ background:#f2f3f5; font-size:1.3rem; padding:1rem 0rem 0.6rem 1rem; border-bottom:solid 0.2rem #ddb86b}

.tabtga{text-align:center; font-size:1.4rem; height:3.6rem; background:#fff;}
.tabtga ul{ overflow:hidden}
.tabtga ul li{ float:left; line-height:3.6rem; font-size:1.3rem; overflow:hidden; width:50%; text-align:center; border-bottom:solid 0.15rem #dddddd;}
.tabtga ul li.active{ border-bottom:solid 0.15rem #DDB86B}
.tabtga ul li.active a{ color:#ecae33;}

/* 数据显示 */
.datalist{ padding:1rem;}
.datalist>ul>li{ margin-bottom:1rem; background:#fff; position:relative; border-radius:0.3rem; overflow:hidden}
/* .datalist>ul>li:after{ content:""; border-bottom:dotted 1rem #f2f3f5; position:absolute; bottom:-0.5rem; width:100%; height:0; left:0; } */
.operationlist>ul>li{}
.operationlist>ul>li input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:1.2rem 0.4rem 0 0; position:absolute; left:1rem; top:0; z-index:1;}

.datalist li dl{ overflow:hidden; clear:both; font-size:1.2rem; border-bottom:solid 0.1rem #f5f5f5; padding:0rem 1rem; margin:0 1rem;}
.datalist li dl:last-of-type{ border-bottom:none;}
.datalist li dl dt{ min-height:4rem; line-height:4rem; float:left; color:#888;}
.datalist li dl dd{ float:right; line-height:3rem; color:#666; padding:0.5rem 0;}
.datalist li dl dd span{ color:#f90}
.datalist li dl dd img{ max-width:15rem; border-radius:0.3rem;}

.datalist li .lead{ background:#ddb86b; height:4rem; margin-bottom:0.4rem; padding:0 2rem; color:#fff; line-height:4rem; font-size:1.2rem;}
.datalist li .lead h5{ float:left; font-size:1.2rem;}
.datalist li .lead span{ float:right; font-size:1.4rem;}
.datalist li .allinfo{ border-top:solid 0.1rem #ddd;}
.datalist li .shopimg{ width:10rem; height:10rem;}
.datalist .tipsmsg{ font-size:1.4rem; text-align:center; line-height:3.2rem; padding:2rem 1rem;}

/* 主界面 */
main{ margin-bottom:6rem;}
.banner{ margin-bottom:1rem;}
.main_visual{overflow:hidden; position:relative;}
.main_image{overflow:hidden; position:relative;}
.main_image ul{overflow:hidden; padding-top:38%; }
.main_image li{float:left;width:100%; padding-top:38%; position:relative}
.main_image li img{ width:100%; position:absolute; height:100%; left:0; top:0;}
.main_image li span{display:block;width:100%;}
.main_image li a{display:block;width:100%;}
div.flickingbox{position:absolute;bottom:0.6rem;left:50%;z-index:999;}
div.flicking_con{margin:0 0 0 -50%;}
div.flicking_con a{float:left;width:0.6rem;height:0.6rem;margin:0rem 0.5rem;padding:0;background:#fff; display:block; border-radius:0.5rem; opacity:0.5; box-shadow:0rem 0rem 0.3rem rgba(0,0,0,0.6)}
div.flicking_con a.on{ opacity:0.8; width:2rem;}

#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:7rem!important;height:7rem!important;top:50%;margin-top:-3.5rem;display:none;}
#btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:0;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:0;}

.shopimg ul{padding-top:100%;}
.shopimg ul li{padding-top:100%;}



.mainuser{ margin-bottom:1rem; background:#fff;}
.title{ height:4rem; line-height:4rem; border-bottom:solid 0.1rem #ddb86b; padding:0rem 1rem;}
.title h2{ float:left; font-size:1.4rem;}
.title h2 span{ color:#ddb86b}
.title h5{ float:right; font-size:1.4rem;}
.title h5 img{ width:2rem; height:2rem; opacity:1; margin:1rem;}
.bigtitle{ background:#fff; padding:1rem; height:3.2rem; box-sizing:border-box;}
.bigtitle h2{ float:left; font-size:1rem; color:#53595e; padding-left:0.6rem; border-left:solid 0.3rem #4eaeff}

.mainuser .avatar{float:left;}
.avatar{ width:8rem; margin:2rem;  position:relative;z-index:10;}
.avatar img{ width:8rem; height:8rem; border-radius:4rem; position:relative; }
.avatar .level{ height:2.2rem; line-height:2.2rem; text-align:center; position:absolute; bottom:-0.5rem; left:0; width:100%; background:#ddb86b; color:#FFF; font-size:1.2rem; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15)}
.avatar .level:after{ background:none; position:absolute; 
border-bottom:2rem solid #ddb86b;
border-left:2rem solid rgba(255,255,255,0);
border-top:2rem solid rgba(255,255,255,0);
border-right:2rem solid rgba(255,255,255,0); width:4rem; z-index:-1; bottom:2.2rem; left:0rem; height:0px;content:"";}

.assets{ width:23rem; float:right; padding:.rem 0rem;}
.assets li{ text-align:center; padding:1rem 0rem 0rem 0rem; box-sizing:border-box; line-height:2rem; color:#999; font-size:1.2rem;}
.assets li span{ color:#ddb86b; font-size:1.8rem;}

.applink{ background:#fff; margin-bottom:1rem; padding:0rem 0rem;}
.applink li{ text-align:center; font-size:1rem; line-height:2rem; padding:1rem 0; position:relative;}
.applink li span{ position:absolute;left:60%; top:1.2rem; background:#F33; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1rem; color:#fff; min-width:0.8rem; text-align:center;}
.applink li img{ width:3rem; margin:0.5rem; opacity:1;}


.newslist{ margin-bottom:1rem; background:#fff; border-top:solid 0.2rem #ddb86b}
.newslist li{ font-size:1.4rem; line-height:2rem; padding:0.5rem 1rem; margin:0rem 1rem 0.5rem 1rem; border-bottom:dashed 0.1rem #eee; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.newslist li:first-child{ padding-top:1rem;}
.newslist li:last-child{ border-bottom:none}
.newslist li:nth-child(5n){ border-bottom:solid 1rem #eee; margin:0rem 0rem 0.5rem 0rem;padding:0.5rem 2rem;}
.newslist li time{ color:#999; display:block; font-size:1.2rem;}

.pending{ padding:1rem;}
.pendingli{ padding:1rem; background:#fff url(../images/gonext.png) no-repeat 31rem center; background-size:1.6rem 1.6rem; border:solid 0.1rem #cce4f9; border-radius:0.3rem; margin-bottom:1rem;}
.pendingtl{ height:2.4rem;}
.pendingtl h2{font-size:1rem; line-height:2.4rem; color:#53595e; padding-right:3rem; float: left;}
.pendingtl img{width:1.2rem; height:1.2rem; float:left; margin:0.6rem 0.3rem 0.6rem 0rem;}
.pendingtl h2 span{ border-radius:1.8rem; color:#FFF; background:#F33; display:inline-block; min-width:1.8rem; float:right;  height:1.8rem; margin:0.3rem; text-align:center; line-height:1.8rem;}
.pendinginfo{ padding:0rem 2rem;}
.pendinginfo li{ line-height:2.4rem; font-size:0.9rem; color:#85898b;}
.pendinginfo li span.name{ font-size:1.2rem; color:#262a2d; padding-right:0.2rem;}
.pendinginfo li span.price{ font-size:1.2rem; color:#fb8800;}
.pendinginfo li time{ padding-left:0.5rem;}

/* 子菜单页面 */
.navicon{ background:#fff; margin-bottom:1rem; padding:1rem 0rem;}
.navicon li{ text-align:center;font-size:1rem; line-height:2rem; position:relative;}
.navicon i{ color:#ddb86b; font-size:2.6rem; padding:0.5rem 0;}
.navicon span{ position:absolute; left:55%; top:0; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; color:#fff; min-width:0.8rem; text-align:center;}

.notice{ background:#fff; margin-bottom:1rem; padding:1rem 0rem;}

.maillist{ background:#fff;}
.maillist li{ font-size:1.4rem; line-height:2rem; padding:0.5rem 1rem; margin:0rem 1rem 0.5rem 1rem; border-bottom:dashed 0.1rem #eee; }
.maillist li:first-child{ padding-top:1rem;}
.maillist li:last-child{ border-bottom:none}
.maillist li:nth-child(5n){ border-bottom:solid 1rem #eee; margin:0rem 0rem 0.5rem 0rem;padding:0.5rem 2rem;}

.maillist li h2{ font-size:1.7rem; float:left; line-height:2.2rem; color:#666;}
.maillist li time{ float:right; font-size:1.2rem; color:#999;}
.maillist li h5{ font-size:1.5rem; line-height:3rem;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; color:#777;}
.maillist li p{ color:#999; font-size:1.2rem;}
.maillist li.new h2 ,.maillist li.new h5{ color:#222;}

.mailtl{ background:#fff; padding:1rem; border-bottom:solid 0.1rem #ddd;}
.mailtl h2{ font-size:1.6rem; float:left; line-height:2.6rem;}
.mailtl h2 span{ color:#666;}
.mailtl time{ font-size:1.4rem; color:#999; line-height:2.6rem; float:right;}
.mailtl h5{ font-size:1.4rem; line-height:1.8rem;}

.replybox{ background:#f9f9f9; position:fixed; bottom:5rem; z-index:99; left:0; width:100%; border-top:solid 0.1rem #ddd; padding:0.5rem; box-sizing:border-box;}
.replybox .txtabox{ width:80%; float:left; box-sizing:border-box; background:#fff; border:solid 0.1rem #ddd; padding:0.5rem; min-height:3rem; max-height:5.4rem; font-size:1.6rem; user-modify: read-write-plaintext-only; overflow:auto; border-radius:0.3rem; line-height:1.8rem; outline:none;}
.replybox .txtabox:focus{box-shadow:0px 0px 0.5rem rgba(33,89,210,1); border:solid 0.1rem #3e78dd;}
.replybox .btnreply{background:#1483da; background: linear-gradient(to right, #1689dd , #21a2eb); float:right; width:18%; height:3rem; border:none; border-radius:0.3rem; outline:none; font-size:1.6rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15); position:absolute; bottom:0.5rem; right:0.5rem;}


.mailcont{ margin-bottom:11rem; padding:0.5rem;}
.mailcont li{ position:relative; padding:1rem; clear:both; overflow:hidden; }
.mailcont li h2{ font-size:1.4rem; color:#666; margin-bottom:0.4rem; padding-left:1rem;}
.mailcont li time{ font-size:1.2rem; color:#999; margin-bottom:0.4rem; display:block; padding-left:1rem;}
.mailcont li .msgcont{ line-height:1.8rem; padding:1rem; font-size:1.4rem; box-shadow:0.1rem 0.1rem 0.1rem rgba(0,0,0,0.1); position:relative; border-radius:0.4rem; }
.mailcont li .msgcont img{ display:block; max-width:100%; border-radius:0.3rem; margin-bottom:0.6rem;}
.mailcont li.receive{ padding-right:15%;}
.mailcont li.send{ padding-left:15%;}
.mailcont li.receive .msgcont{ background:#fff; float:left;}
.mailcont li.receive .msgcont:after{ background:none; position:absolute; 
border-bottom:0.8rem solid rgba(255,255,255,0);
border-left:none;
border-top:0.8rem solid rgba(255,255,255,0);
border-right:0.8rem solid #fff; width:0rem; z-index:1; top:1rem; left:-0.8rem; height:0px;content:"";}
.mailcont li.send time{ text-align:right;}
.mailcont li.send h2{ text-align:right;}
.mailcont li.send .msgcont{ background:#B4E3FF; float:right;}
.mailcont li.send .msgcont:after{ background:none; position:absolute; 
border-bottom:0.8rem solid rgba(255,255,255,0);
border-left:0.8rem solid #B4E3FF;
border-top:0.8rem solid rgba(255,255,255,0);
border-right:none ; width:0rem; z-index:1; top:1rem; right:-0.8rem; height:0px;content:"";}


/* 会员中心 */
.membercentre{ background:#ddb86b; height:4.6rem;}
.membercentre h2{ color:#fff;}
.userfilling{background:#1483da; background: linear-gradient(to right, #117cd6 , #21a1eb);}
.userinfo{text-align:center;}
.userinfo .avatar{ margin:auto;}
.userinfo h1{ color:#fff; padding:1rem 0rem 0rem 0rem; font-size:2.2rem;}
.userinfo h2{ color:#fff; padding:1rem 0rem 0rem 0rem; font-size:1.4rem;}
.userinfo h4{ color:#fff; opacity:0.8; padding-bottom:1rem; font-size:1.2rem;}
.userinfo .avatar .level{ background:#fff; color:#ffae00; text-shadow:none;}
.userinfo .avatar .level:after{ border-bottom:2rem solid #fff;:}

.userassets{ text-align:center; padding:1rem 0; background:rgba(0,0,0,0.1);}
.userassets li{ color:#fff; border-left:solid 0.1rem rgba(255,255,255,0.2); margin-left:-0.1rem;}
.userassets li span{ font-size:1.6rem;}
.userassets li p{ font-size:1.2rem; opacity:0.8}
.userassetss{background:#ddb86b;}

.ucentericon li{ margin:1.5rem 0;}
.ucentericon li i{ color:#999;}

.entryinfo dd>div.option{padding:1rem 1rem 1rem 9.5rem;}
.option{ padding:1rem 1rem 1rem 1rem;}
.option li{ box-sizing:border-box; padding:0.5rem; line-height:2.6rem;}
.option li a{ border:solid 0.1rem #ddd; border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:#fff; box-sizing:border-box;}
.option li.active a{background:#1483da; background:linear-gradient(to right, #117cd6 , #21a1eb); color:#fff; border:solid 0.1rem #1483da;}
.option li.disabled a{border:solid 0.1rem #ccc; background:#ddd; color:#aaa}




/* 提示提醒 */
.promptbox{ padding:6rem 2rem 0rem 2rem;}
.promptcont{ background:#fff; border-radius:0.4rem; position:relative; padding:4rem 2rem 3rem 2rem;}
.prompticon{ position:absolute; left:50%; top:-4rem; width:8rem; height:8rem; box-sizing:border-box; margin-left:-4rem; border-radius:8rem; overflow:hidden; background:#fff; padding:1.5rem 0rem; font-size:5em; color:#ffae00; text-align:center;}
.prompttext{ text-align:center;}
.prompttext h2{ font-size:1.6rem; color:#ffae00; margin-bottom:0.4rem; text-align:left;}
.prompttext p{ font-size:1.2rem; color:#999;}
.prompttext h2 span{ width:50%; display:inline-block; text-align:right; color:#999; }

/* 搜索操作 */
.operating{ background:#eaebec; border-bottom:solid 0.1rem #ddd; padding:1rem;}
.searchbox{margin:0; margin-bottom:1rem; }
.searchbox input.searchtext{ border-radius:0.4rem; height:3.2rem; width:76%; float:left; box-sizing:border-box; padding:0 1rem; font-size:1.3rem; margin:0 1%;}
.searchbox input.searchtexth{ border-radius:0.4rem; height:3.2rem; width:54%; float:left; box-sizing:border-box; padding:0 1rem; font-size:1.3rem; margin:0 1%;}
.searchbox button.operatebtn{border-radius:0.4rem; height:3.2rem; width:20%; float:left; box-sizing:border-box; font-size:1.1rem;
 background:#1483da; background: linear-gradient(to right, #1689dd , #21a2eb); border:none; outline:none; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15); margin:0 1%;}

.searchdate{ display:none;transition:height 0s, opacity 0.5s;}

.searchdate dl{ overflow:hidden; margin-bottom:1rem;}
.searchdate dl input[type="text"]{ height:3.2rem; padding:0 1rem; box-sizing:border-box; font-size:1.3rem; width:12rem; border-radius:0.4rem; color:#454545}
.searchdate dl input[type="text"].searchtext{ width:26rem; margin:0 0.5rem;}
.searchdate dl dt{ float:left; width:20%; font-size:1.3rem; line-height:3.2rem; color:#999; min-height:3.2rem;}
.searchdate dl dd{ float:left; width:80%; font-size:1.3rem; line-height:3.2rem;}
.searchdate dl dd span{ color:#999; padding:0rem 0.5rem;}
.searchmore{ font-size:1.1rem; text-align:center; color:#999;}
.searchmore span{ margin-right:0.5rem; line-height:1.2rem}
.searchmore i{ font-size:1.3rem;}
.seatatebox{ padding-left:0.5rem;}
.fastdate li{ text-align:center; padding:0.2rem 0.5rem; box-sizing:border-box;}
.fastdate li a{ border:solid 0.1rem #ddd; line-height:2.8rem; border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:#fff;}
.fastdate li.active a{ border:solid 0.1rem #1e98e6;  background:#1483da; background: linear-gradient(to right, #1689dd , #21a2eb); color:#fff;}

.searchdateshow{ display:block;}
.searchdateshow dl:nth-last-child(1){ margin-bottom:0rem; }

/* 图片列表 */
.imglist{ padding:0.5rem;}
.imglist li{padding:0.5rem; box-sizing:border-box;}
.imglist li a{ display:block; background:#fff; border:solid 0.1rem #ddd; box-sizing:border-box; padding-bottom:1rem;}
.imglist li a p{position:relative; width:100%; padding-top:100%;}
.imglist li a p img{ width:100%; height:100%; position:absolute; left:0; top:0;}
.imglist li a h2{ font-size:1.2rem; padding:0.4rem 0.6rem; line-height:1.6rem;}
.imglist li a span{ color:#ddb86b; font-size:1.4rem; padding:0.4rem 0.6rem;}



.fixedcart{ position:fixed; right:1rem; bottom:10rem; width:5rem; height:5rem; z-index:40; background:rgba(0,0,0,0.5); color:#fff; padding:1.1rem; font-size:2.8rem; border-radius:50%;  box-sizing:border-box; opacity:0.9; box-shadow:0 0 0.5rem rgba(0,0,0,0.3)}
.fixedcart i{ color:#fff; opacity:0.9;}
.fixedcart span{position:absolute; right:0rem; top:0rem; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; line-height:1.8rem; color:#fff; min-width:0.8rem; text-align:center;}

/* 图片信息 */
.comminfo{ background:#fff;}
.comminfo h1{ font-size:1.6rem; padding:0.5rem 1rem;}
.comminfo h3{ font-size:2.2rem; padding:0.5rem 1rem; color:#DAAF5C}
.comminfo dl{ overflow:hidden; clear:both; min-height:3.2rem;}
.comminfo dl dt{ width:7rem; text-align:right; padding-right:0.5rem; font-size:1.3rem; line-height:3.2rem; color:#999; float:left;}
.comminfo dl dd{ float:left;min-height:3.2rem; line-height:3.2rem;}
.comminfo dl dd input.txtamount{ height:3.2rem; box-sizing:border-box; padding:0rem 0.5rem; font-size:1.3rem; width:7rem; vertical-align:middle; font-size:1.4rem; text-align:right;}
.comminfo dl dd span{ font-size:1.6rem; color:#DAAF5C}
.comminfo dl dd button.btnminus{ width:3.2rem; height:3.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-right:none; border-radius:0.4rem 0rem 0rem 0.4rem; font-size:1.6rem; color:#999;}
.comminfo dl dd button.btnplus{ width:3.2rem; height:3.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-left:none; border-radius:0rem 0.4rem 0.4rem 0rem ; font-size:1.6rem; color:#999;}

.commcont{ width:100%; overflow:hidden;}



/* 购物车 */
.cartlist{ background:#fff; margin-bottom:1rem;}
.cartlist ul{}
.cartlist>dl{ clear:both; overflow:hidden; padding:1rem; border-bottom:solid 0.1rem #eee;}
.cartlist>dl>dt{ float:left;}

.cartlist>dl>dt img{ width:9rem; height:9rem; margin-right:1rem; border-radius:0.3rem; float:left;}
.cartlist>dl>dd{ overflow:hidden;}
.cartlist>dl>dd .cartcomminfo{ float:left; width:18rem;}

.cartlist>dl>dd .delbtn{ float:right; height:9rem; width:4rem; background:#E5D6AF; border:solid 0.1rem #E5C988; font-size:1.2rem; color:#867655;}
.cartlist>dl>dd button.delbtn i{ font-size:2.4rem;}

.cartlist>dl>dd .cartcomminfo{}
.cartlist>dl>dd .cartcomminfo h2{ overflow:hidden; height:2.2rem; font-size:1.2rem; line-height:2.2rem;}
.cartlist>dl>dd .cartcomminfo h3{ color:#f90; font-size:1.2rem; margin-bottom:0.6rem; line-height:2rem;}
.cartlist>dl>dd dl{ overflow:hidden; clear:both; min-height:2.2rem;}
.cartlist>dl>dd dl dt{padding-right:0.5rem; font-size:1rem; line-height:2.2rem; color:#999; float:left;}
.cartlist>dl>dd dl dd{ float:left; min-height:2.2rem; line-height:2.2rem;}

.cartlist>dl>dd dl dd span{ font-size:1.3rem; color:#f90}
.cartlist>dl>dd dl dd button.btnminus{ width:2.2rem; height:2.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-right:none; border-radius:0.4rem 0rem 0rem 0.4rem; font-size:0.8rem; color:#999;}
.cartlist>dl>dd dl dd button.btnplus{ width:2.2rem; height:2.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-left:none; border-radius:0rem 0.4rem 0.4rem 0rem ; font-size:0.8rem; color:#999;}
.cartlist>dl>dd dl dd input.txtamount{ height:2.2rem; box-sizing:border-box; padding:0rem 0.5rem; font-size:1.3rem; width:5rem; vertical-align:middle; font-size:1.4rem; text-align:right;}

.cartlists>dl>dt.choose{}
.cartlists>dl>dt.choose input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:3.6rem 1rem 0 0;}
.cartlists>dl>dd .cartcomminfo{ float:left; width:22rem;}


.orderbriefly{ background:#fff; padding:0.5rem 3rem 0.5rem 1rem; position:relative;}
.orderbriefly{ height:3rem; line-height:3rem; font-size:1.2rem; color:#999;}
.orderbriefly span{ color:#333; padding-right:1rem;}
.orderbriefly span.status{ float:right; padding:0;}
.orderbriefly span.sum{color:#f90; font-weight:bold;}
.orderbriefly span.ship{ color:#37c329}
.orderbriefly span.noship{ color:#f44e4e}
.orderbriefly time{ padding-right:2rem;}
.orderbriefly i{ position:absolute; right:1rem; font-size:2rem; line-height:3rem;}
.orderinfo { line-height:2rem; font-size:1.1rem; background:#f7f7f7; padding:0.6rem; color:#666; border-left:solid 1rem #fff; border-right:solid 1rem #fff;}
.orderinfo a{ color:#ddb86b}

.orderlist{ padding:1rem;}
.orderlist>ul>li{ margin-bottom:1rem; background:#fff; position:relative; border-radius:0.3rem; overflow:hidden}

.orderinfo { line-height:2rem; font-size:1.1rem; background:#f7f7f7; padding:1rem; color:#666;}
.orderinfo a{ color:#ddb86b}
.orderinfo li{ overflow: hidden;}
.orderinfo li span{ float: left;}
.orderinfo li p{ overflow: hidden;}
.ordertotal{ background: #fff; padding: 0.5rem 1rem; height:3rem; line-height:3rem; margin-top:-0.2rem; border-top:dashed 0.15rem #eee; position:relative; z-index:100; font-size:1.3rem;}
.ordertotal span{color:#e3a736; padding:0 0.3rem; font-size:1.5rem;}
.ordertotal a{ color:#56b1b6}


.allinfo{display:none; opacity:0; transition:height 0s, opacity 0.5s;}
.allinfoheigth{opacity:1}
.allinfo:after{ content:""; border-bottom:dotted 1rem #f2f3f5; position:absolute; bottom:-0.5rem; width:100%; height:0; left:0; }

.allinfoshow{opacity:1; display:block; border-top:none !important;}

.leveldivision{ padding:1rem; border-bottom:solid 0.1rem #eee;}
.leveldivision li{ font-size:1rem; text-align:center;}
.leveldivision span{ color:#f90; font-size:1rem;}
.leveldivision i{ font-size:3rem;}
.levelgeneral{margin-bottom:0.6rem; color:#1f9de9}
.levelsilver{margin-bottom:0.6rem; color:#c2c5c7}
.levelgold{margin-bottom:0.6rem; color:#efc648}

.operationlist .orderbriefly{ padding-left:3.5rem;}


/* 页脚导航 */
footer{ position:fixed; height:5rem; background:#fff; left:0; bottom:0; width:100%; z-index:100; border-top:solid 0.1rem #cdd6de;}
footer li{ text-align:center; font-size:0.9rem; line-height:2rem; }
footer li a{ color:#787878; padding-top:3rem; display:block;}
footer li img{ width:2.6rem; margin:0.7rem;}
footer li.active a{ color:#4eaeff;}

footer li:nth-child(1){ background:url(/Content/APP/Admin/images/ficon1.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li:nth-child(2){ background:url(/Content/APP/Admin/images/ficon2.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li:nth-child(3){ background:url(/Content/APP/Admin/images/ficon3.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li:nth-child(4){ background:url(/Content/APP/Admin/images/ficon4.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li:nth-child(5){ background:url(/Content/APP/Admin/images/ficon5.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li.active:nth-child(1){ background:url(/Content/APP/Admin/images/ficon1s.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li.active:nth-child(2){ background:url(/Content/APP/Admin/images/ficon2s.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li.active:nth-child(3){ background:url(/Content/APP/Admin/images/ficon3s.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li.active:nth-child(4){ background:url(/Content/APP/Admin/images/ficon4s.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}
footer li.active:nth-child(5){ background:url(/Content/APP/Admin/images/ficon5s.png) no-repeat center 0.6rem; background-size:2.6rem 2.6rem;}







.loadbox{ width:10rem; height:10rem; position:fixed; left:50%; top:50%; margin:-5rem 0 0 -5rem; z-index:30;}
.loading{ background:url(../images/load.png) no-repeat; width:10rem; height:10rem; background-size:100% 100%; position:relative;}
.loading img{ box-sizing:border-box; padding:1rem; width:10rem; height:10rem; border-radius:50%;}
.loadpro{ position:absolute; background:url(../images/loading.png) no-repeat;width:10rem; height:10rem; background-size:100% 100%; left:0; top:0;
animation:lardret linear 2s infinite;}
@keyframes lardret{
0%   {transform:rotate(0deg);}
25%  {transform:rotate(90deg);}
50%  {transform:rotate(180deg);}
75%  {transform:rotate(270deg);}
100% {transform:rotate(360deg);}
}

/* 信息提示框 */
.promptbg{ height:100% !important; width:100%; position:fixed; z-index:998; background:rgba(0,0,0,0.3); left:0; bottom:-120%; opacity:0;}
.promptbgbox{width:100% !important; position:fixed; z-index:999; background:#fff; left:0; bottom:-120%;opacity:0;}
.promtotal{ width: 100%; height: 100%; position: fixed; left: 0; box-sizing: border-box; padding: 3rem; background: #fff; background-clip: content-box; border-radius: 3.4rem;bottom:0;z-index:999;bottom:-120%;opacity:0; overflow: hidden;}
.promptbottom{bottom:0; opacity:1;}
.prompttl{ background:#fff; border-bottom:0.1rem solid #1483da;}
.prompttl h2, .prompttl h3{ color:#666;}


/* 系谱图 */
.userlevel{}
.userlevel li{ padding:0 1%; box-sizing:border-box; line-height:1.8rem; text-align:center;}
.userlevel li span{border-radius:0.3rem;}
.fleveln span{ background:#ffffff; display:block; font-size:0.8rem;}
.flevel0 span{ background:#c8c9ce; color:#a6a6a6; display:block; font-size:0.8rem;}
.flevel1 span{ background:#f7ab5c; color:#df5821; display:block; font-size:0.8rem;}
.flevel2 span{ background:#abaed4; color:#666b9b; display:block; font-size:0.8rem;}
.flevel3 span{ background:#f7d01f; color:#fffab3; display:block; font-size:0.8rem;}
.flevel4 span{ background:#f564b4; color:#ffd9e7; display:block; font-size:0.8rem;}
.flevel5 span{ background:#a3a6af; color:#e1e5ee; display:block; font-size:0.8rem;}

.pedigreebox{ overflow:auto; padding:1rem 0;}
.memberpedigree{ display:table-cell}
.memberpedigree .panels{ margin-bottom:0px; text-align:center;	border: 1px solid transparent;	border-color: #ddd;	border-radius: 4px;	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);	box-shadow: 0 1px 1px rgba(0,0,0,.05)}
.memberpedigree li{ display:table-cell; width:1%;}
.memberpedigree ul{ width:100%;}

.memberpedigree .pedigreedata{ padding:0px;}
.memberpedigree .pedigreedata table{ width:100%; background:#fff; border-collapse:collapse;border:solid 0.1rem #ddd; border-top:none; border-radius:0.3rem;}
.memberpedigree .pedigreedata table th, .memberpedigree .pedigreedata table td{ border-bottom:solid 0.1rem #ddd; text-align:center; color:#505a55; font-size:0.8rem;}
.memberpedigree .memberbox{ width:8rem; margin:auto; padding:0 0.5rem; line-height:1.6rem; text-align:center;}
.memberpedigree .memberbox .userpedigree{ border-radius:0.3rem; overflow:hidden; box-shadow:0 0 0.2rem rgba(51,51,51,0.2)}

.pedigreeline{ width:50%; margin:auto; font-size:0px; line-height:0px; overflow:hidden}
.pedigreeline>div{font-size:0px; line-height:0px;}
.pedigreeline .pedigreelinetop{ width:0.1rem; margin:auto; height:1.5rem;  background:#CCC;}
.pedigreeline .pedigreelinemiddle{ height:1.5rem; border:solid 0.1rem #ccc; border-bottom:none; border-radius:0.5rem 0.5rem 0 0;}

/* 树形结构 */
/*.usertree{ padding:1rem; font-size:1.3rem; overflow:auto; line-height:3rem;}
.usertree dt{ line-height:3rem; height:3rem; overflow:hidden;}
.usertree dt{ line-height:3rem; height:3rem; overflow:hidden;}
.usertree dt i{ color:#777; width:2rem; text-align:center;}
.usertree dd{ transition:height 0s, opacity 0.5s; margin-left:1rem; display:none; border-left:dotted 0.1rem #999; padding-left:0.8rem;}
.usertree dd:nth-last-child(1){ border-left:none;}
.usertree dt span{ position:relative; width:2rem; height:3rem; display:inline-block; float:left;}
.usertree dt span.adult{ background:url(../images/treeclose.png) no-repeat 0.5rem 0.8rem; background-size:1.2rem; position:relative;}
.usertree dt.bg span.adult{background:url(../images/treeopen.png) no-repeat 0.5rem 0.8rem;background-size:1.2rem;}

.usertree dt span:after{background:none; border-left:dotted 0.1rem #999; position:absolute; height:3rem; z-index:-1; top:0.1rem; left:1rem; content:"";}
.usertree dt span:before{background:none; border-top:dotted 0.1rem #999; position:absolute; width:1rem; z-index:-1; top:1.35rem; left:1rem; content:"";}
.usertree>dl>dt:nth-of-type(1) span:after{height:1.5rem;top:1.4rem;}
.usertree dl dt:nth-last-of-type(1) span:after{height:1.5rem; top:0rem;}
.usertree dt input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0;}*/

.usertree{ margin:1rem; font-size:1.3rem; overflow:auto; line-height:3rem;}
.usertree dt{ line-height:3rem; height:3rem; line-height:3rem; height:3rem; display:block; white-space:nowrap;}
.usertree dt i{ color:#777; width:2rem; text-align:center;}
.usertree dd{ transition:height 0s, opacity 0.5s; margin-left:1rem; display:none; border-left:dotted 0.1rem #999; padding-left:0.8rem;}
.usertree dd:nth-last-child(1){ border-left:none;}
.usertree dt span{ position:relative; width:2rem; height:3rem; display:inline-block; float:left;}
.usertree dt span.adult{ background:url(../images/treeclose.png) no-repeat 0.5rem 0.8rem; background-size:1.2rem; position:relative;}
.usertree dt.bg span.adult{background:url(../images/treeopen.png) no-repeat 0.5rem 0.8rem;background-size:1.2rem;}

.usertree dt span:after{background:none; border-left:dotted 0.1rem #999; position:absolute; height:3rem; z-index:-1; top:0.1rem; left:1rem; content:"";}
.usertree dt span:before{background:none; border-top:dotted 0.1rem #999; position:absolute; width:1rem; z-index:-1; top:1.35rem; left:1rem; content:"";}
.usertree>dl>dt:nth-of-type(1) span:after{height:1.5rem;top:1.4rem;}
.usertree dl dt:nth-last-of-type(1) span:after{height:1.5rem; top:0rem;}
.usertree dt input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0;}


/* 修改说明树形结构 */
.usertreeshow{ padding:1rem; font-size:1.3rem; overflow:auto; line-height:2rem;}
.usertreeshow dl{ padding:0 !important; margin:0 !important;}
.usertreeshow dt{ line-height:2rem !important; height:2rem !important; overflow:hidden; float:none !important; min-height:2rem !important;}
.usertreeshow dt i{ color:#777; width:2rem; text-align:center;}
.usertreeshow dd{ transition:height 0s, opacity 0.5s; margin:0 0 0 1rem !important; border-left:dotted 0.1rem #999; padding:0 0 0 0.8rem !important; float:none !important;}
.usertreeshow dd:nth-last-child(1){ border-left:none;}
.usertreeshow dt span{ position:relative; width:2rem !important; height:2rem !important; display:inline-block; float:left;}
.usertreeshow dt span:after{background:none; border-left:dotted 0.1rem #999; position:absolute; height:2rem;  top:0.1rem; left:1rem; content:"";}
.usertreeshow dt span:before{background:none; border-top:dotted 0.1rem #999; position:absolute; width:1rem;  top:0.9rem; left:1rem; content:"";}
.usertreeshow>dl>dt:nth-of-type(1) span:after{height:1rem;top:1rem;}
.usertreeshow dl dt:nth-last-of-type(1) span:after{height:1rem; top:0rem;}
.redtext, .redtext a, .redtext a i{color:#F30}
/* 输入框 */
.richtextbox{ padding:5rem 0rem 1rem 0rem; min-height:16rem;}
.richtextbox>textarea{ width:100%; box-sizing:border-box; border:none; resize:none; outline:none; font-size:1.2rem; height:16rem; padding:0 1rem;}

.richtextboxs{ padding:0rem; min-height:8rem;}
.richtextboxs>textarea{ width:100%; box-sizing:border-box; border:none; resize:none; outline:none; font-size:1.2rem; height:8rem; padding:1rem; line-height:2rem;}



.tipsword{ font-size:1.2rem; padding:1rem; line-height:2.2rem;}
.uploadbanner{ padding:0 0.5rem;}
.uploadbanner .uploadimg{ position:relative; width:34rem; height:7.8rem; background-color:#eee; overflow:hidden; border-radius:0.3rem; font-size:1.2rem; text-align:center; color:#999; padding:1.5rem 1rem; box-sizing:border-box; margin:0.5rem; float:left;}
.uploadbanner .uploadimg .uploadimgfile{ position:absolute; z-index:1; background-position:center; background-size:cover; width:34rem; height:7.8rem; left:0; top:0; display:block;}
.uploadbanner .uploadimg i{ font-size:3rem;}
.uploadbanner .uploadimg .uploadicon{ padding:0rem 0;}
.uploadbanner .editimg{ position:absolute; right:0.2rem; top:0.2rem;  z-index:3}
.uploadbanner .editimg span.editimging{ margin:0.2rem;background:#F33; height:2.4rem; height:2.4rem; border-radius:1.2rem; overflow:hidden; text-align:center; box-sizing:border-box; padding:0.4rem; display:block; float:left;}

.uploadbanner .editimg img{ width:1.6rem; height:1.6rem;}
.uploadbanner .uploadplug{ position:absolute; display:block; left:0; top:0;width:34rem; height:7.8rem;opacity:0; z-index:2;}

.operation{ padding:0.5rem; background:#FFF; border-bottom:solid 0.1rem #eee;}
.operation li{ padding:0 0.5rem; box-sizing:border-box; line-height:3.2rem; font-size:1.2rem;}
.operation li input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0;}

.totalinfo{ overflow: auto; height: calc(100% - 19rem); position: relative; box-sizing: border-box; padding: 1rem;}
.totalinfo ul{ position: relative;}
.totalinfo ul:before{position:absolute; height:100%; width:1rem; z-index:-1; top:0rem; left:6.2rem; content:""; border-left: solid 0.1rem #ddd;}
.totalinfo li{ overflow: hidden; font-size: 1rem; margin-bottom: 1rem; line-height: 1.4rem;}
.totalinfo li time{ float: left; color: #999; width: 5rem; text-align: right;}
.totalinfo li span{ float: left; margin: 0.3rem 1rem; width: 0.5rem; height: 0.5rem; background: #999; border-radius: 0.5rem; overflow: hidden;}
.totalinfo li p{ overflow: hidden;}
.totalinfo li:nth-child(1) span{margin: 0.1rem 0.8rem; width: 0.9rem; height: 0.9rem;background: #56b1b6;}


































