﻿<div class="banner">
    <div class="main_visual">
        <div class="flickingbox">
            <div class="flicking_con">
                <a class=""></a>
                <a class="on"></a>
                <a class=""></a>
                <a class=""></a>
                <a class=""></a>
                <a class=""></a>
            </div>
        </div>
        <div class="main_image">
            <ul id="slides"></ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>
        </div>
    </div>
</div>

<div class="mainuser">
    <div class="title">
        <h2><span id="userId">会员编号</span>&nbsp;欢迎您来到猪猪集市！</h2>
        <h5><a href="#fenxiang"><img src="/Content/APP/User/images/iconshare.png" /></a></h5>
        <div class="clear"></div>
    </div>
</div>


<div class="imglist" id="UBTZdatalist" style="box-sizing: border-box; max-width: 100%; background-color: white;">
    <ul class="tga2" id="UBTZitemList" style="box-sizing: border-box; max-width: 100%; "></ul>
    <div class="clear"></div>
</div>




<input type="hidden" id="bankName" />
<input type="hidden" id="bankCard" />
<input type="hidden" id="bankUser" />
<input type="hidden" id="bankAddress" />
<!--确认提示框-->
<div class="promptbg" style="z-index:9000; color:#fff;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">您确定退出登录吗？</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="entryinfo" id="waitThing_Txdz" style="padding:30px; margin-bottom:0; display:none;">
            <div class="newslist">
                <ul id="newsItem">
                    <!--<li><a href="新闻详细.html">热烈祝贺会员管理系统上线，注册会员送888元新人礼包</a><time>2017/11/02 08:00</time></li>
                    <li><a href="新闻详细.html">会员管理系统内测，推荐新人可获得188元推荐礼包</a><time>2017/11/02 08:00</time></li>
                    <li><a href="新闻详细.html">系统升级，暂停服务，带来不变请谅解</a><time>2017/11/02 08:00</time></li>
                    <li><a href="新闻详细.html">政府新闻发布会指定会员管理系统为高新科技产品</a><time>2017/11/02 08:00</time></li>-->
                </ul>

            </div>
        </div>
        <div class="btnbox" id="btnbox" style="padding:30px;display:block;">
            <button class="smallbtn" id="sureBtn">确定退出</button>
        </div>
    </div>
</div>


