﻿

<div class="userassets">

    <div class="totalassets">
        <p>總資產</p>
        <span id="ZZC">0</span>
    </div>

    <ul class="tga3">
        <li style="cursor:pointer;" onclick="ShowUsyzBTZ()">
            <p>推薦收益</p><span id="agentTjsy">00</span>
        </li>
        <li style="cursor:pointer;" onclick="ShowUsyzBTZ()">
            <p>團隊收益</p><span id="agentTdj">451321.00</span>
        </li>
        <li style="cursor:pointer;" onclick="ShowUsyzBTZ()">
            <p>城市合夥人獎</p><span id="agentCsj">0.00</span>
        </li>

        <li>
            <a href="#financeMan"><p>領養收益</p><span id="LJSY">0.00</span></a>
        </li>

        <li>
            <a href="#financeMan"><p>瑞獸價值 </p><span id="ZJZ">451321.00</span></a>
        </li>

        <li style="cursor:pointer;" onclick="ShowUsyzBTZ()">
            <p>復投</p><span id="agentFt">451321.00</span>
        </li>
        <li style="cursor:pointer;">
            <p>直推加息比例</p><span id="bounsAmounts">0</span>
        </li>
        <li style="cursor:pointer;">
            <p>锁仓余额</p><span id="agentLockBouns">0</span>
        </li>
    </ul>
    <div class="clear"></div>


</div>



<div class="assetslist">
    <ul>
        <li>
            <a href="#UCharge" class="assetsinfo">
                <img src="/Content/APP/User/images/ciong1.png">
                <p><i>灵气</i><span id="agentLz">1215.00</span></p>
            </a>

            <a href="#UMTransfer" class="btnlink">轉賬</a>
            <div class="clear"></div>
        </li>


        <li>
            <a href="#main" class="assetsinfo">
                <img src="/Content/APP/User/images/ciong5.png">
                <p><i>瑞獸</i><span id="Btzsl">1215.00</span></p>
            </a>

            <a href="#Uzrmx" class="btnlink">轉讓明細<span id="zrmx_account">0</span></a>
            <div class="clear"></div>
        </li>



        <li>
            <a href="#financeMan" class="assetsinfo">
                <img src="/Content/APP/User/images/ciong2.png">
                <p><i>BTD</i><span id="agentBTD">1215.00</span></p>
            </a>

            <a href="#financeMan" class="btnlink">提現(開發中)</a>
            <div class="clear"></div>
        </li>

        <li>
            <a href="#financeMan" class="assetsinfo">
                <img src="/Content/APP/User/images/ciong7.png">
                <p><i>DOGE</i><span id="agentBTT">1215.00</span></p>
            </a>

            <a href="#UTakeCash" class="btnlink">提現</a>
            <div class="clear"></div>
        </li>

        <li>
            <a href="#Ujqr" class="assetsinfo">
                <img src="/Content/APP/User/images/ciong4.png">
                <p><i>機器人</i><span id="Jqrsl">1215.00</span></p>
            </a>

            <a href="#Ujqr" class="btnlink">轉讓</a>
            <div class="clear"></div>
        </li>



        <li>
            <a href="#ULiushui" class="assetsinfo">
                <img src="/Content/APP/User/images/ciong8.png">
                <p><i>流水賬</i></p>
            </a>

            <a href="#ULiushui" class="btnlink">流水賬</a>
            <div class="clear"></div>
        </li>


    </ul>
    <div class="clear"></div>
</div>





<style type="text/css">
    .bigtitle {
        background: #fff;
        padding: 1rem;
        height: 3.2rem;
        box-sizing: border-box;
    }

        .bigtitle h2 {
            float: left;
            font-size: 1rem;
            color: #53595e;
            padding-left: 0.6rem;
            border-left: solid 0.3rem #ddb86b;
        }
</style>

<input type="hidden" id="bankName" />
<input type="hidden" id="bankCard" />
<input type="hidden" id="bankUser" />
<input type="hidden" id="bankAddress" />

<input type="hidden" id="currentHour" />
<input type="hidden" id="currentHourMsg" />

<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header id="div_header">
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>提示信息</h2>
            </div>
            <div class="clear"></div>
        </header>

        <div class="entryinfo" id="waitThing_Txdz" style="padding:30px; margin-bottom:0; display:none;">
            <div class="tipslistbox">
                <div class="tipslisttl" style="    font-size: 1.3rem;  line-height: 2.4rem;  border-bottom: solid 0.1rem #272624;  margin-bottom: 0.6rem;">待處理事項：</div>
                <div class="tipslist">
                    <p style="    color: #52c1fb;  font-size: 1.3rem;  line-height: 1.8rem;">請先完善銀行信息</p>  <a href="#UMemberInfo">馬上完善</a>
                </div>
            </div>
        </div>

    </div>
</div>