﻿
<header>

    <div class="header" id="header">
        <a href="javascript:void(0);" class="outicon" id="exitSystem"><i class="fa fa-sign-out"></i></a>
        <a href="javascript:void(0);" class="outicon" id="isMusic"><i id="isMusicPicOn" class="fa fa-volume-up" style=""></i> <i id="isMusicPicOff" class="fa fa-volume-off" style=""></i></a>
        <a href="#messageCenter/10201" class="mesicon"><img src="/Content/APP/User/images/mesicon.png" /></a>
        <a href="javascript:QD();" class="checkicon"><img src="/Content/APP/User/images/checkicon.png" /></a>
        <a href="javascript:News();" class="mesicon" id="HaveNews"><span id="newsaccount">1</span><img src="/Content/APP/User/images//mesicon.png" /></a>
       
       
        <h2><span id="userId">会员编号</span>&nbsp;歡迎來到络绎阁市場</h2>
        <div class="clear"></div>

    </div>
</header>

<div class="banner">
    <div class="main_visual">
        <div class="flickingbox">
            <div class="flicking_con">
             
            </div>
        </div>
        <div class="main_image">
            <ul id="slides"></ul>
            <a href="javascript:;" id="btn_prev"></a>
            <a href="javascript:;" id="btn_next"></a>
        </div>
    </div>
</div>

<script>
    //初始化滚动图片
    InitHImgs = function () {
        $(".main_visual").hover(function () {
            $("#btn_prev,#btn_next").fadeIn()
        }, function () {
            $("#btn_prev,#btn_next").fadeOut()
        });

        $dragBln = false;

        $(".main_image").touchSlider({
            flexible: true,
            speed: 400,
            btn_prev: $("#btn_prev"),
            btn_next: $("#btn_next"),
            paging: $(".flicking_con a"),
            counter: function (e) {
                $(".flicking_con a").removeClass("on").eq(e.current - 1).addClass("on");
            }
        });

        $(".main_image").bind("mousedown", function () {
            $dragBln = false;
        });

        $(".main_image").bind("dragstart", function () {
            $dragBln = true;
        });

        $(".main_image a").click(function () {
            if ($dragBln) {
                return false;
            }
        });

        timer_slider = setInterval(function () {
            $("#btn_next").click();
        }, 10000);

        $(".main_visual").hover(function () {
            clearInterval(timer_slider);
        }, function () {
            timer_slider = setInterval(function () {
                $("#btn_next").click();
            }, 10000);
        });

        $(".main_image").bind("touchstart", function () {
            clearInterval(timer_slider);
        }).bind("touchend", function () {
            timer_slider = setInterval(function () {
                $("#btn_next").click();
            }, 10000);
        });
    }
</script>



    <img src="/Content/APP/User/testimg/testb1.jpg" style="width:100%;display:none;" />

  
    <span style="display:none" id="musicDjs">180</span>
    <span style="display:none" id="musicHtml"></span>


    <span style="display:none" id="music_ly_lose_Html"></span>
<span style="display:none" id="music_click_ly_Html"></span>
<span style="display:none" id="music_ly_success_Html"></span>
<span style="display:none" id="music_click_jqr_Html"></span>
<span style="display:none" id="AllHaveShowLihua">no</span>
<span style="display:none" id="isCgBTZid">0</span>
    <div class="zzlist" id="UBTZdatalist">
        <ul class="tga2" id="UBTZitemList"></ul>
        <div class="clear"></div>
    </div>


    <div class="mesbackbg"></div>

    <div class="checkinbox">
        <img src="/Content/APP/User/images/checkinpic.png" class="checkinpic">
        <div class="checkincont">
            <a href="javascript:;" class="closecheck"><img src="/Content/APP/User/images/btncloseg.png"></a>
            <h5>恭喜你，本次签到获得</h5>
            <p>靈氣<span>1</span>个</p>
        </div>
        <div class="btnbox" style="display:none;">
            <a href="签到记录.html" class="checkinlink">查看签到日历</a>
        </div>
    </div>


    <div class="noticebox" style="display:none;">
        <div class="noticecont">
            <a href="javascript:;" class="closenotice"><img src="/Content/APP/User/images/btncloseg.png"></a>
            <article>

                <h5 id="title">通知</h5>
                <p id="content">服务器将于2月27日24:00停机维护，维护期间不能正常使用系统，对您造成的不便，我们深表歉意。</p>
            </article>
</div>
        <div class="btnbox" id="newsurl">
            <a href="新闻详细.html" class="checkinlink">了解更多</a>
        </div>
    </div>



    <div class="lihuabox">
        <img src="/Content/APP/User/images/lihua1.png">
        <img src="/Content/APP/User/images/lihua2.png">
        <img src="/Content/APP/User/images/lihua3.png">
        <img src="/Content/APP/User/images/lihua4.png">
        <img src="/Content/APP/User/images/lihua5.png">
        <img src="/Content/APP/User/images/lihua6.png">
        <img src="/Content/APP/User/images/lihua7.png">
        <img src="/Content/APP/User/images/lihua8.png">
        <img src="/Content/APP/User/images/lihua9.png">
        <img src="/Content/APP/User/images/lihua10.png">
    </div>
    <div class="lihuazbox">
        <img class="showtext" src="/Content/APP/User/images/pig1.png">
        <img class="showtext" src="/Content/APP/User/images/pig2.png">
        <img class="showtext" src="/Content/APP/User/images/pig3.png">
        <img class="showtext" src="/Content/APP/User/images/pig4.png">
        <img class="showtext" src="/Content/APP/User/images/pig5.png">
        <img class="showtext" src="/Content/APP/User/images/pig6.png">
        <img class="showtext" src="/Content/APP/User/images/pig7.png">
        <img class="showtext" src="/Content/APP/User/images/pig8.png">
        <img class="showtext" src="/Content/APP/User/images/pig9.png">
        <img class="showtext" src="/Content/APP/User/images/pig10.png">
    </div>

<div class="baoxiang">
    <div class="baoxiangc">
        <div class="baoxaingcon">
            <img src="/Content/APP/User/images/tbox.png" class="baoxaing">
            <img src="/Content/APP/User/images/tboxlg.png" class="baoxaingg">
        </div>
        <div class="baoxaingbg"></div>
    </div>
</div>


    <div class="prizebox" id="div_prizebox">
    <div class="prizecont">
        <a href="javascript:;" class="closeprize"><img src="/Content/APP/User/images/btncloseg.png"></a>
        <h5 id="btzPrizeTip">
            恭喜你，获得/很抱歉<br />
            <span>瑞兽与你擦肩而过</span>
        </h5>

        <p>
            <img src="/Content/APP/User/images/pig8.png" id="img_pig_smile">
            <img src="/Content/APP/User/images/crypig.png" id="img_pig_cry">
        </p>
    </div>
    <div class="btnbox" style="display:none;" id="div_go_fk">
        <a href="#Uzrmx" class="prizelink">去付款</a>
    </div>
</div>




<input type="hidden" id="isMusic" />
    <input type="hidden" id="bankName" />
    <input type="hidden" id="bankCard" />
    <input type="hidden" id="bankUser" />
    <input type="hidden" id="bankAddress" />
    <!--确认提示框-->
    <div class="promptbg" style="z-index:9000; color:#fff;">
        <div class="promptbgbox">
            <header>
                <div class="">
                    <i class="backicon"></i>
                    <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                    <h2 id="prompTitle">您確定退出登錄嗎？</h2>
                </div>
                <div class="clear"></div>
            </header>
            <div class="entryinfo" id="waitThing_Txdz" style="padding:30px; margin-bottom:0; display:none;">
                <div class="newslist">
                    <ul id="newsItem">
                        <!--<li><a href="新闻详细.html">热烈祝贺会员管理系统上线，注册会员送888元新人礼包</a><time>2017/11/02 08:00</time></li>
                        <li><a href="新闻详细.html">会员管理系统内测，推荐新人可获得188元推荐礼包</a><time>2017/11/02 08:00</time></li>
                        <li><a href="新闻详细.html">系统升级，暂停服务，带来不变请谅解</a><time>2017/11/02 08:00</time></li>
                        <li><a href="新闻详细.html">政府新闻发布会指定会员管理系统为高新科技产品</a><time>2017/11/02 08:00</time></li>-->
                    </ul>

                </div>
            </div>
            <div class="btnbox" id="btnbox" style="padding:30px;display:block;">
                <button class="smallbtn" id="sureBtn">確定退出</button>
            </div>
        </div>
    </div>


