﻿<div class="userinfo">
    <div class="avatar">
        <img src="/Content/APP/User/images/logo2.png" />
        <div class="level" id="ulevel">會員等級</div>
    </div>
    <h2 id="userName" style="display:none">會員名稱</h2>
    <br />
    <h4 id="userId">會員賬號：SD2368</h4>
</div>
<div class="userassets" style="display:none;">
    <ul class="tga3">
        <li><span id="agentLz" style="font-size:1.4rem;">451321.00</span><p>靈氣</p></li>
        <li><span id="agentBTT" style="font-size: 1.4rem;">984.00</span><p>BTT</p></li>
        <li><span id="agentBTD" style="font-size: 1.4rem;">45748.00</span><p>BTD</p></li>

    </ul>
    <div class="clear"></div>
</div>

<div class="navicon ucentericon">
    <ul class="tga3" id="itemCont"></ul>
    <div class="clear"></div>
</div>

