﻿<div class="duobao">
    <div style="padding-left:230px;">
        
    </div>
        <div class="countdown">奪寶倒計時：<span id="dbdjsFormat"></span>秒 <span id="dbdjs" style="display:none;">15:15:58</span><h1 id="olddbdjs" style="display:none;"></h1></div>
        <div class="bluediam"><span id="agentLz">25684.00</span></div>
        <div class="circlebox">
            <div class="circlebg">
                <img src="/Content/APP/User/images/quan0.png" class="quan0">
                <img src="/Content/APP/User/images/quan1.png" class="quan1">
                <img src="/Content/APP/User/images/quan2.png" class="quan2">
                <span class="quan3"></span>
            </div>
            <div class="bonus" id="axdbAccount">844565598<span>元</span></div>
        </div>

        <div class="duobaoxf">期数：<span id="dbxqs"></span>
       每次只需<span id="Axdbxmclz">1</span>靈氣即可參與奪寶</div>
        <div class="joingame"><input type="button" value="" class="btnjoin" id="iWantdb" onclick="iWantdb()"></div>
        <div class="duobaojl"><a href="#Udbjl">奪寶記錄</a></div>
</div>
<input type="hidden" id="isMusic" />
<span style="display:none" id="music_dbx_load_Html"><audio class="foo" autoplay="autoplay" preload="auto" id="audio" loop="true"><source src="/Content/APP/User/images/dbx_load.mp3"></audio></span>


<div class="gameruletl">
    <ul class="tga2">
        <li id="winrule1" class="active" onclick="showzhong()">中奖名单</li>
        <li id="winrule2" onclick="showrule()">游戏规则</li>
    </ul>
    <div class="clear"></div>
</div>


<div class="">


    <div class="winnerslist">
        <div class="winnertl">
            <ul class="tga3">
                <li>会员编号</li>
                <li>手机号码</li>
                <li>中奖金额</li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="winlist" id="winlist">
            <ul class="winlistcont">
                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65061</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65062</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65063</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65064</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65065</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65066</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65067</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65068</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65069</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65060</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <ul class="winlistcont">
                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65061</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65062</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65063</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65064</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65065</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65066</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65067</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65068</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65069</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>

                <li>
                    <div class="winlcont">
                        <ul class="tga3">
                            <li>65060</li>
                            <li>157****5489</li>
                            <li><span>10050</span></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>

    </div>



    <div class="gamerule">
        <!--<div class="gameruletl"><img src="/Content/APP/User/images/gamerule.png"></div>-->
        <div class="gamerulecont" id="regContent">
            <p>1、首先，你要有钱<span>你要有钱</span>你要有钱你要有钱你要有钱你要有钱你要有钱你要有钱你要有钱</p>
            <p>2、其次，你要有钱你要有钱你要有钱你要有钱你要有钱你要有钱你要有钱你要有钱</p>
            <p>3、然后，你要有钱</p>
            <p>4、最后，你要有钱你要有钱你要有钱你要有钱你要有钱你要钱你要有钱</p>
        </div>
    </div>

</div>




    <!--确认提示框-->
    <div class="promptbg" style="z-index:9000;">
        <div class="promptbgbox">
            <header>
                <div class="">

                    <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                    <h2 id="prompTitle">确定操作</h2>
                </div>
                <div class="clear"></div>
            </header>

            <div class="btnbox">
                <button class="smallbtn" id="sureBtn">确定</button>
            </div>
        </div>
    </div>


<script>
    function showzhong() {
        document.getElementById('winrule1').className = 'active';
        document.getElementById('winrule2').className = '';
        $(".winnerslist").show();
        $(".gamerule").hide();
    }
    function showrule() {
        document.getElementById('winrule1').className = '';
        document.getElementById('winrule2').className = 'active';
        $(".winnerslist").hide();
        $(".gamerule").show();
    }
</script>