﻿<div class="entryinfo" id="agentForm" style="display:none">

    <div class="tipslistbox">
        <div class="tipslisttl"></div>
        <div class="tipslist">
            <p>滿足以下兩個條件的會員，支付<span id="Bdzxzflz"></span></p>
            <p>靈氣成為城市合夥人：</p>
            <p>1）	自身累計直推人數>=<span id="Bdzxztrs"></span></p>
            <p>2）	自身直推圖下線人數>=<span id="Bdzxxxrs"></span></p>
        </div>
    </div>


    <dl>
        <dt>所在省份</dt>
        <dd>
            <input type="text" class="entrytxt area" id="province" name="province" placeholder="請選擇省" readonly emptymsg="請選擇省" />
        </dd>
    </dl>
    <dl>
        <dt>所在城市</dt>
        <dd>
            <input type="text" class="entrytxt area" id="city" name="city" placeholder="請選擇市" readonly emptymsg="請選擇市" />
        </dd>
    </dl>
    <dl style="display:none">
        <dt>區</dt>
        <dd>
            <input type="text" class="entrytxt area" id="area" name="area" />
        </dd>
    </dl>

    <div class="btnbox" id="agent0" style="display:none">
        <div class="btnbox">
            <ul class="tga1">
                <!--<li><button class="cancelbtn">返回</button></li>-->
                <li><button class="bigbtn" id="saveBtn">提交申請</button></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="tipslistbox">
        <div class="tipslisttl"></div>
        <div class="tipslist">
            <p><input type="checkbox" id="read" name="read" value="read" style="width:2rem;height:2rem;" />协议：我自愿申请城市合伙人，并不定期的接受系统瑞兽订单，及时完成付款，共创辉煌，也接受未付款可能造成的封号风险！</p>
            
        </div>
    </div>


    <div class="btnbox" id="agent1" style="display:none">
        <div class="btnbox">
            <ul class="tga1">
                <li style="font-size: 2.1rem; color: #f1a325;">申請中,請等待管理員審核 ...</li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="promptbox" id="agent2" style="display:none">
    <div class="promptcont">
        <div class="prompticon">
            <i class="fa fa-diamond"></i>
        </div>
        <div class="prompttext">
            <h2 id="shopName2"></h2>
            <p style="display:none">報單中心編號</p>
            <p>代理城市: <span id="provinceAgent"></span> <span id="cityAgent"></span></p>
        </div>
    </div>
</div>

<!--確認提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2 id="prompTitle">申請確認</h2>
            </div>
            <div class="clear"></div>
        </header>

        <div class="btnbox">
            <button class="greenBtn" id="sureBtn">確定申請</button>
        </div>
    </div>
</div>
