﻿
<div class="maintag">
    <ul class="tga3">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">賬戶充值</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">充值明細</a></li>
        <li id="tabBtn3"><a href="javascript:LzTakecash();" id="tabA3">靈氣兌現狗狗幣</a></li>
    </ul>
</div>
<input type="hidden" id="ethRMB" />
<input type="hidden" id="bttRMB" />
<input type="hidden" id="dogeRMB" />
<input type="hidden" id="uLevel" />
<input type="hidden" id="chargeLzzkje" />
<input type="hidden" id="chargeLzkUlevel1" />
<input type="hidden" id="chargeLzkUlevel2" />
<input type="hidden" id="chargeLzkUlevel3" />
<input type="hidden" id="chargeLzkUlevel4" />
<input type="hidden" id="chargeLzkUlevel5" />

<div id="detailTab1">
    <div class="entryinfo">
        <dl>
            <dt>帳戶類型</dt>
            <dd>
                <input type="hidden" id="accounttypeId" value="36" />
                <input type="text" class="searchtext" placeholder="靈氣" value="靈氣" id="accounttypeValue" readonly />
            </dd>
        </dl>
        <dl>
            <dt>支付方式</dt>
            <dd>
                <input type="hidden" id="sysBankId" />
                <input type="text" class="entrytxt" placeholder="請選擇支付方式" id="sysBankName" readonly />
            </dd>
        </dl>
        <dl>
            <dt>錢包地址</dt>
            <dd>
                <p id="toBankCard" style="font-size: 8px;width:70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; "></p>
              
            </dd>
        </dl>
     
        <dl style="display:none;">
            <dt>開戶名</dt>
            <dd>
                <p id="toBankUser"></p>
            </dd>
        </dl>

    </div>

    <div class="entryinfo" id="div_img_BTT" style="display:none;">
        <div class="userdltl">DOGE付款码</div>
        <img src="testimg/testb1.jpg" id="imgBTTfkmCode" width="100%" />
    </div>
    <div class="entryinfo" id="div_img_ETH" style="display:none;">
        <div class="userdltl">ETH付款码</div>
        <img src="testimg/testb1.jpg" id="imgETHfkmCode" width="100%" />
    </div>

    <div class="entryinfo">
        <div class="userdltl">填寫匯款單</div>
        <dl style="display:none;">
            <dt>匯出銀行</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="請輸入銀行名稱" id="fromBank" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>充值金額</dt>
            <dd class="money">
                <input type="text" required="required" class="entrytxt" placeholder="請輸入金額" id="epoints" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>數字幣個數</dt>
            <dd>
                <p id="epointsDzb"></p>
            </dd>
        </dl>
        <dl>
            <dt>訂單號</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" placeholder="訂單號" id="bankTime" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>匯款憑證</dt>
            <dd>
                <p>&nbsp;&nbsp;<input id="file" type="file" name="file" accept="image/*" /></p>
            </dd>
        </dl>
        <dl>
            <dt>二級密碼</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" placeholder="二級密碼" id="passOpen" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div class="btnbox">
            <button class="smallbtn" id="saveBtn">提交申請</button>
        </div>

    </div>
</div>
<!--確認提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>充值詳情</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist">
            <ul>
                <li>
                    <dl>
                        <dt>匯入銀行</dt>
                        <dd id="czhryh"></dd>
                    </dl>
                    <dl>
                        <dt>銀行卡號</dt>
                        <dd id="czkh"></dd>
                    </dl>
                    <dl>
                        <dt>開戶名</dt>
                        <dd id="czkhm"></dd>
                    </dl>
                    <dl>
                        <dt>充值金額</dt>
                        <dd><span id="czje">0</span>&nbsp;元</dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">確定充值</button>
        </div>
    </div>
</div>

<div id="detailTab2" style="display:none;">
    <div class="operating">
        <div class="searchbox">
            <table>
                <tr>
                    <td style="width:32%"><input type="text" class="searchtext" style="width:100%;" placeholder="開始日期" id="startTime" /></td>
                    <td align="center">至</td>
                    <td style="width:32%"><input type="text" class="searchtext" style="width: 100%;" placeholder="結束日期" id="endTime" /></td>
                    <td style="width:18%"><button class="operatebtn" id="searchBtn" style="width:100%">搜索</button></td>
                    <td style="width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:100%">清除</button></td>
                </tr>
            </table>
        </div>
        <!--<div class="searchdate">
            <dl>
                <dt>精準查詢</dt>
                <dd><div class="seatatebox"><input type="text" class="datebox" value="2017-11-18" /><span>至</span><input type="text" class="datebox" value="2017-11-20" /></div><div class="clear"></div></dd>
            </dl>
            <dl>
                <dt>快速查詢</dt>
                <dd>
                    <div class="fastdate">
                        <ul class="tga4">
                            <li class="active"><a href="#">7天</a></li>
                            <li><a href="#">1個月</a></li>
                            <li><a href="#">3個月</a></li>
                            <li><a href="#">1年</a></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>-->
    </div>
    <div class="datalist" id="UChargeDatalist">
        <ul id="UChargeItemList"></ul>
    </div>
</div>


<input type="text" id="copytext" style="width: 100px; height: 1px;" value="我的復制內容" />