﻿<div class="maintag">
    <ul class="tga3">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">認購機器人</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">認購明細</a></li>
        <li id="tabBtn3"><a href="javascript:tabClick(3);" id="tabA3">轉讓明細</a></li>
    </ul>
</div>
<div id="detailTab1">

    <div class="robotshow">
        <img src="/Content/APP/User/images/robotbg.png" />
    </div>

    <div class="entryinfo">
       
        <dl>
            <dt>靈氣余額</dt>
            <dd>
                <input type="text" class="entrytxt" id="agentLz" readonly />

            </dd>
        </dl>
        <dl>
            <dt>機器人價格</dt>
            <dd>
                <p><span id="Jqrjg"></span></p>
            </dd>
        </dl>

        <dl>
            <dt>二級密碼</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" placeholder="二級密碼" id="passOpen" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <div class="btnbox">
            <button class="smallbtn" id="saveBtnJqr">確認購買</button>
        </div>

    </div>
</div>

<div id="detailTab4" style="display:none;">


    <div class="entryinfo">
        <dl style="display:none;">
            <dt>機器人ID</dt>
            <dd>
                <input type="text" class="entrytxt" id="JqrID" readonly />

            </dd>
        </dl>
        <dl>
            <dt>手機號碼</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="toUserId" placeholder="請輸入收方手機號碼" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>會員編號</dt>
            <dd>
                <p><span id="toUserName"></span></p>
            </dd>
        </dl>
        <dl>
            <dt>二級密碼</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" placeholder="二級密碼" id="passOpenzr" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>

        <div class="btnbox">
            <button class="smallbtn" id="saveBtnJqrzr">確認轉讓</button>
        </div>

    </div>
</div>

<!--確認提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>確定操作</h2>
            </div>
            <div class="clear"></div>
        </header>

        <div class="btnbox">
            <button class="smallbtn" id="sureBtnJqr">確定購買</button>
            <button class="smallbtn" id="sureBtnJqrzr">確定轉讓</button>
        </div>
    </div>
</div>

<div id="detailTab2" style="display:none;">

    <div class="contentbox">
        <div class="operating" style="display:none;">
            <div class="searchbox">
                <table style="width:100%;">

                    <tr>
                        <td style="text-align:center;">
                            <div class="seatatebox">
                                <input type="text" class="datebox" id="startTimeJqr" style="width:45%" /><span>至</span><input type="text" class="datebox" id="endTimeJqr" style="width:45%" />
                            </div>
                        </td>
                        <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtnJqr" style="width:95%">搜索</button></td>
                    </tr>
                </table>

                <div class="clear"></div>
            </div>

        </div>
        <div class="datalist" id="UJqrdatalist">
            <ul id="UJqritemList"></ul>
        </div>
    </div>
</div>


<div id="detailTab3" style="display:none;">

    <div class="contentbox">
        <div class="operating" style="display:none;">
            <div class="searchbox">
                <table style="width:100%;">

                    <tr>
                        <td style="text-align:center;">
                            <div class="seatatebox">
                                <input type="text" class="datebox" id="startTimeJqrzr" style="width:45%" /><span>至</span><input type="text" class="datebox" id="endTimeJqrzr" style="width:45%" />
                            </div>
                        </td>
                        <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtnJqrzr" style="width:95%">搜索</button></td>
                    </tr>
                </table>

                <div class="clear"></div>
            </div>

        </div>
        <div class="datalist" id="UJqrzrdatalist">
            <ul id="UJqrzritemList"></ul>
        </div>
    </div>
</div>