﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">賬戶轉賬</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">轉賬明細</a></li>
    </ul>
</div>
<div id="detailTab1">
    <div class="userassets userassetss">
        <ul class="tga2">
            <li><span id="agentLz">0</span><p>靈氣</p></li>
            <li style="display:none;"><span id="agentBTT">0</span><p>DOGE</p></li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="entryinfo">
        <dl>
            <dt>轉賬類型</dt>
            <dd>
                <input type="hidden" id="typeId" />
                <input type="text" class="entrytxt" id="typeName" readonly placeholder="請選擇轉賬類型" />
            </dd>
        </dl>
        <dl>
            <dt>手機號碼</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="toUserId" placeholder="請輸入收款方手機號碼" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>會員編號</dt>
            <dd>
                <p><span id="toUserName"></span></p>
            </dd>
        </dl>
        <dl>
            <dt>轉賬金額</dt>
            <dd>
                <input type="text" required="required" class="entrytxt" id="epoints" placeholder="請輸入金額" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <dl>
            <dt>二級密碼</dt>
            <dd>
                <input type="password" required="required" class="entrytxt" placeholder="二級密碼" id="passOpen" />
                <span class="erase"><i class="fa fa-times-circle-o"></i></span>
            </dd>
        </dl>
        <div class="btnbox">
            <button class="smallbtn" id="saveBtn">提交申請</button>
        </div>

    </div>
</div>

<!--確認提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>轉賬詳情</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="datalist">
            <ul>
                <li>
                    <dl>
                        <dt>轉賬類型</dt>
                        <dd id="zzlx"></dd>
                    </dl>
                    <dl>
                        <dt>轉賬金額</dt>
                        <dd><span id="zzje">0</span>&nbsp;元</dd>
                    </dl>

                    <dl>
                        <dt>會員編號</dt>
                        <dd id="hybh"></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">確定轉賬</button>
        </div>
    </div>
</div>

<div id="detailTab2" style="display:none;">

    <div class="contentbox">
        <div class="operating">
            <div class="searchbox">
                <table style="width:100%;">
                    <tr>
                        <td style="text-align:center;">
                            <input type="hidden" id="typeId2" />
                            <input type="text" class="searchtext searchtexth" id="typeName2" placeholder="轉賬類型" readonly style="width:100%" />
                        </td>
                        <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                        <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                    </tr>
                </table>

                <div class="clear"></div>
            </div>
            <div class="searchdate">
                <dl>
                    <dt>轉賬日期</dt>
                    <dd>
                        <div class="seatatebox">
                            <input type="text" class="datebox" id="startTime" style="width:45%" /><span>至</span><input type="text" class="datebox" id="endTime" style="width:45%" />
                        </div><div class="clear">
                        </div>
                    </dd>
                </dl>
                <!--<dl>
                    <dt>快速查詢</dt>
                    <dd>
                        <div class="fastdate">
                            <ul class="tga4">
                                <li class="active"><a href="#">7天</a></li>
                                <li><a href="#">1個月</a></li>
                                <li><a href="#">3個月</a></li>
                                <li><a href="#">1年</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>-->
            </div>
            <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
        </div>
        <div class="datalist" id="UMTransferdatalist">
            <ul id="UMTransferitemList"></ul>
        </div>
    </div>
</div>