﻿<div id="lemeinfo">
    <input type="hidden" id="id" name="id" />
    <input type="hidden" id="skIsbank" name="skIsbank" />
    <input type="hidden" id="skIszfb" name="skIszfb" />
    <input type="hidden" id="skIswx" name="skIswx" />
    <input type="hidden" id="skIsszhb" name="skIsszhb" />
    <input type="hidden" id="imgUrlzfb" name="imgUrlzfb" />
    <input type="hidden" id="imgUrlwx" name="imgUrlwx" />
    <input type="hidden" id="imgUrlszhb" name="imgUrlszhb" />
    <input type="hidden" id="imgUrlszhb1" name="imgUrlszhb1" />
    <input type="hidden" id="isSksh" name="isSksh" />
    <div class="entryinfo contentbox">

        <div class="tipslistbox">
            <div class="tipslisttl"></div>
            <div class="tipslist">
                <p>請勾選支付方式</p>
                <p><input type="checkbox" id="chk_skIsbank" name="chk_skIsbank">銀行匯款</p>
            </div>
        </div>
        <dl>
            <dt>開戶行</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankName" name="bankName" placeholder="請選擇開戶行" readonly emptymsg="請選擇開戶行" />
            </dd>
        </dl>

        <dl>
            <dt>銀行卡號</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankCard" name="bankCard" placeholder="請輸入銀行卡號" emptymsg="銀行卡號不能為空" />
               
            </dd>
        </dl>
        <dl>
            <dt>開戶名</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankUser" name="bankUser" placeholder="請輸入開戶名" emptymsg="開戶名不能為空" />
               
            </dd>
        </dl>
        <dl>
            <dt>開戶支行</dt>
            <dd>
                <input type="text" class="entrytxt" id="bankAddress" name="bankAddress" placeholder="請輸入開戶支行名稱" emptymsg="開戶支行名稱不能為空" />
               
            </dd>
        </dl>

        <div class="tipslistbox">
            <div class="tipslisttl"></div>
            <div class="tipslist">
                <p><input type="checkbox" id="chk_skIszfb" name="chk_skIszfb">支付寶收款</p>
            </div>
        </div>

        <dl>
            <dt>

            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgzfb"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上傳圖片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFilezfb" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>

        <div class="tipslistbox">
            <div class="tipslisttl"></div>
            <div class="tipslist">
                <p><input type="checkbox" id="chk_skIswx" name="chk_skIswx">微信收款</p>
            </div>
        </div>

        <dl>
            <dt>

            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgwx"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上傳圖片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFilewx" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>

        <div class="tipslistbox">
            <div class="tipslisttl"></div>
            <div class="tipslist">
                <p><input type="checkbox" id="chk_skIsszhb" name="chk_skIsszhb">數字貨幣收款</p>
            </div>
        </div>

        <dl>
            <dt>貨幣名稱1</dt>
            <dd>
                <input type="text" class="entrytxt" id="szhbmc" name="szhbmc" placeholder="請輸入貨幣名稱1" value="DOGE" readonly />
              
            </dd>
        </dl>

        <dl>
            <dt>

            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgszhb"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上傳圖片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFileszhb" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>


        <dl>
            <dt>貨幣1錢包</dt>
            <dd>
                <input type="text" class="entrytxt" id="BTTaddress" name="BTTaddress" placeholder="請輸入錢包地址" />
             
            </dd>
        </dl>

        <dl>
            <dt>貨幣名稱2</dt>
            <dd>
                <input type="text" class="entrytxt" id="szhbmc1" name="szhbmc1" placeholder="請輸入貨幣名稱2" value="ETH" readonly />
               
            </dd>
        </dl>

        <dl>
            <dt>

            </dt>
            <dd>
                <div class="uploaddiv">
                    <div class="uploadimg">
                        <span class="uploadimgfile" style="background-image:url(-testimg/testd1.jpg);" id="showImgszhb1"></span>
                        <div class="uploadicon"><i class="fa fa-image"></i><br />上傳圖片</div>
                        <label class="uploadplug"><input class="fileinput" type="file" id="imgFileszhb1" /></label>
                    </div>
                    <div class="clear"></div>
                </div>
            </dd>
        </dl>


        <dl>
            <dt>貨幣2錢包</dt>
            <dd>
            
                <input type="text" class="entrytxt" id="ETHaddress" name="ETHaddress" placeholder="請輸入錢包地址" />
               
            </dd>
        </dl>

        <dl>
            <dt>审核状态</dt>
            <dd>
                <p><span id="isSkshName">未审核</span></p>
            </dd>
        </dl>
        <dl>
            <dt>审核备注</dt>
            <dd>
                <input type="text" class="entrytxt" id="refuseSksh" name="refuseSksh"  readonly />
              
            </dd>
        </dl>

        <div class="tipslistbox">
            <div class="tipslisttl"></div>
            <div class="tipslist">
                <p style="color:red;"><!--提示：上傳收款碼必須與實名認證姓名壹致否則後果自負--></p>
            </div>
        </div>

        <div class="btnbox">
            <div class="btnbox">
                <ul class="tga1">
                    <li><button class="bigbtn" id="saveBtn">保存</button></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>