﻿<div class="maintag">
    <ul class="tga2">
        <li class="active" id="tabBtn1"><a href="javascript:tabClick(1);" id="tabA1">收益轉络绎阁</a></li>
        <li id="tabBtn2"><a href="javascript:tabClick(2);" id="tabA2">轉化明細</a></li>
    </ul>
</div>
<div id="detailTab1">
    <div class="userassets userassetss">
        <ul class="tga4">
            <li><span id="agentTjsy">0</span><p>推薦收益</p></li>
            <li><span id="agentTdj">0</span><p>團隊獎</p></li>
            <li><span id="agentCsj">0</span><p>城市獎</p></li>
            <li><span id="agentFt">0</span><p>復投</p></li>
        </ul>
        <div class="clear"></div>
    </div>

    <div class="entryinfo">
        <dl>
            <dt>賬戶類型</dt>
            <dd>
                <input type="hidden" id="accountId"  />
                <input type="text" class="entrytxt" id="accountIdName" readonly placeholder="請選擇賬戶類型"  />
            </dd>
        </dl>
        <dl>
            <dt>轉化類型</dt>
            <dd>
                <input type="hidden" id="Btzid" value="0" />
                <input type="text" class="entrytxt" id="BTZName_agentTjsy" readonly placeholder="請選擇轉化類型" value="轉化類型" />
                <input type="text" class="entrytxt" id="BTZName_agentTdj" readonly placeholder="請選擇轉化類型" value="轉化類型" />
                <input type="text" class="entrytxt" id="BTZName_agentCsj" readonly placeholder="請選擇轉化類型" value="轉化類型" />
                <input type="text" class="entrytxt" id="BTZName_agentFt" readonly placeholder="請選擇轉化類型" value="轉化類型" />
            </dd>
        </dl>

        <div class="btnbox">
            <button class="smallbtn" id="saveBtn">提交申請</button>
        </div>

    </div>
</div>

<!--確認提示框-->
<div class="promptbg" style="z-index:9000;">
    <div class="promptbgbox">
        <header>
            <div class="">
                <i class="backicon"></i>
                <i class="dellink hideprompt"><a href="javascript:void(0);"><img src="/Content/APP/User/images/btnclose.png" /></a></i>
                <h2>轉化詳情</h2>
            </div>
            <div class="clear"></div>
        </header>
        <div class="btnbox">
            <button class="smallbtn" id="sureBtn">確定轉化</button>
        </div>
    </div>
</div>

<div id="detailTab2" style="display:none;">

    <div class="contentbox">
        <div class="operating">
            <div class="searchbox">
                <table style="width:100%;">
                    <tr>
                        <td style="text-align:center;">
                            <input type="hidden" id="accountId2" />
                            <input type="text" class="searchtext searchtexth" id="accountIdName2" placeholder="賬戶類型" readonly style="width:100%" />
                        </td>
                        <td style="text-align:center;width:18%"><button class="operatebtn" id="searchBtn" style="width:95%">搜索</button></td>
                        <td style="text-align:center;width:18%"><button class="operatebtn" id="clearQueryBtn" style="width:98%">清除</button></td>
                    </tr>
                </table>

                <div class="clear"></div>
            </div>
            <div class="searchdate">
                <dl>
                    <dt>轉賬日期</dt>
                    <dd>
                        <div class="seatatebox">
                            <input type="text" class="datebox" id="startTime" style="width:45%" /><span>至</span><input type="text" class="datebox" id="endTime" style="width:45%" />
                        </div><div class="clear">
                        </div>
                    </dd>
                </dl>
                <!--<dl>
                    <dt>快速查詢</dt>
                    <dd>
                        <div class="fastdate">
                            <ul class="tga4">
                                <li class="active"><a href="#">7天</a></li>
                                <li><a href="#">1個月</a></li>
                                <li><a href="#">3個月</a></li>
                                <li><a href="#">1年</a></li>
                            </ul>
                        </div>
                    </dd>
                </dl>-->
            </div>
            <div class="searchmore"><span>搜索更多</span><i class="fa fa-caret-down "></i></div>
        </div>
        <div class="datalist" id="UMTransferdatalist">
            <ul id="UMTransferitemList"></ul>
        </div>
    </div>
</div>