﻿@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:Arial,'PingFang SC','微软雅黑'; list-style:none; font-weight:normal;transition:width 0.5s, height 0.5s,background 0.5s, transform 0.5s, border 0.5s, box-shadow 0.5s, opacity 0.5s, bottom 0.5s, top 0.5s;}
html{font-size:10px; height:100%;}
input, textarea, keygen, select, button{ font:1rem Arial;}
body{ height:100%; background:#171e29; background-size:cover; color:#dbe3ec}
@media (min-width: 90px){html{ font-size:2.5px;}}
@media (min-width: 180px){html{ font-size:5px;}}
@media (min-width: 240px){html{ font-size:6.66px;}}
@media (min-width: 270px){html{ font-size:7.5px;}}
@media (min-width: 320px){html{ font-size:8.8px;}}
@media (min-width: 360px){html{ font-size:10px;}}
@media (min-width: 375px){html{ font-size:10.4px;}}
@media (min-width: 393px){html{ font-size:11px;}}
@media (min-width: 414px){html{ font-size:11.5px;}}
@media (min-width: 480px){html{ font-size:13.33px;}}
@media (min-width: 540px){html{ font-size:15px;}}
@media (min-width: 720px){html{ font-size:20px;}}
@media (min-width: 900px){html{ font-size:25px;}}
@media (min-width: 1080px){html{ font-size:30px;}}

a{ text-decoration:none; color:#dbe3ec;}
a:active{ color:#738091;}

.btnbox{ padding:1rem 2rem;}
.btnbox input, .btnbox button{margin-bottom: 0.2rem;}
.btnbox li{ box-sizing:border-box; padding:0rem 1rem;}

/* 按钮输入框样式 */
input[type="text"],input[type="password"],select{position:relative; z-index:10; background:none; border:solid 0.1rem rgba(0,0,0,0.2); box-sizing:border-box; outline:none; -webkit-appearance:none; color:#fff;}
input[type="text"]:focus,input[type="password"]:focus,select:focus{ background:rgba(0,0,0,0.3); box-shadow:0px 0px 0.5rem rgba(26,161,255,0.6); border:solid 0.1rem rgba(26,161,255,0.8); border-radius:0.4rem; z-index:20}
input::-webkit-input-placeholder { color:rgba(255,255,255,0.6)}

button, input[type="button"]{width:100%; height:3.2rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#fff; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:url(../images/btnbg.png) no-repeat top center / 100% 100%; cursor:pointer; box-sizing: border-box;}

button.bigbtn, input[type="button"].bigbtn{ background:url(../images/btnbg.png) no-repeat top center / 100% 100%; width:100%; height:4rem; border:none; border-radius:2rem; outline:none; font-size:1.5rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2);}
button.cancelbtn, input[type="button"].cancelbtn{ background:url(../images/btnbg.png) no-repeat bottom center / 100% 100%; width:100%; height:4rem; border:none; border-radius:2rem; outline:none; font-size:1.5rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2); }

button.smallbtn, input[type="button"].smallbtn{ background:url(../images/btnbg.png) no-repeat top center / 100% 100%; width:100%; height:3.2rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2); }
button.seditbtn, input[type="button"].seditbtn{ outline:none; width:100%; height:3.2rem; font-size:1.3rem; border:none; border-radius:1.6rem; background:url(../images/btnbg.png) no-repeat bottom center / 100% 100%;color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2);}
button.sdelbtn, input[type="button"].sdelbtn{outline:none; width:100%; height:3.2rem; font-size:1.3rem; border:none; border-radius:1.6rem; background:url(../images/btnbg.png) no-repeat bottom center / 100% 100%;color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2);}
button.sclreabtn, input[type="button"].sclreabtn{outline:none; width:100%; height:3.2rem; font-size:1.3rem; border:none; border-radius:1.6rem; background:url(../images/btnbg.png) no-repeat bottom center / 100% 100%;color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2);}

button.getbtn, input[type="button"].getbtn{ background:url(../images/btnbbg.png) no-repeat top center / 100% 100%; width:100%; height:4rem; border:none; border-radius:2rem; outline:none; font-size:1.5rem; color:#fff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2);}

.fleft{ float: left;}
.fright{ float:right;}
.clear{clear:both; line-height:0; font-size:0px; height:0;}

/* 页头 */
header{ height:4.4rem; background:none; overflow:hidden; padding: 0rem 0.5rem;}
header .backicon img, header .shareicon img, header .homeicon img,header .dellink img,header .mesicon img,header .checkicon img{width:2rem; height:2rem; font-size:0;}
header .backicon{ float:left; box-sizing:border-box; padding:1.2rem 0.4rem 1.2rem 1rem; background:url(../images/btnbackw.png) no-repeat center center; background-size:2rem 2rem;}
header .homeicon{ float:right;box-sizing:border-box; padding:1.2rem; background:url(../images/homew.png) no-repeat center center; background-size:2rem 2rem;}
header .shareicon{ float:right;box-sizing:border-box; padding:1.2rem;}
header .dellink{ float:right; line-height:2rem; padding:1.2rem; font-size:1.6rem; color:#ecae33}
header .outicon{ float:right; line-height:2rem; padding:1.2rem 0.6rem; font-size:2rem; color:#ecae33}
header .mesicon{ float:right;box-sizing:border-box; padding:1.2rem 0.5rem;}
header .checkicon{ float:right;box-sizing:border-box; padding:1.2rem 0.5rem; }
header a{position: relative;}
header a span{position: absolute; width: 0.8rem; height: 0.8rem; border-radius: 0.4rem; background: #e64336; top: 1rem; right: 0.2rem;
animation:mesicon linear 2s infinite;}
@keyframes mesicon{
0%   {opacity: 0.5;}
50%  {opacity: 1;}
100% {opacity: 0.5;}
}

header h2{ font-size:1.4rem; font-weight:normal; line-height:4.4rem; margin:0; padding:0; color:#d1d9e3;}
header h2 span{color: #ffbf2f; padding:0rem 0.5rem;}
header h3{ font-size:1.4rem; font-weight:normal; line-height:4.4rem; margin:0; padding:0; color:#d1d9e3; text-align:center;}

header.headerbg{background: #111823;}

article{ padding:1rem 2rem;word-break:break-all}
article h1{ font-size:2rem; text-align:center; font-weight:normal; margin-bottom:1rem; color:#ffbf2f;}
article h5{ font-size:1.2rem; text-align:center; color:#998256; margin-bottom:1rem;}
article p{font-size:1.4rem; line-height:2.4rem; text-indent:2.4rem; margin-bottom:1.2rem;}
section{ padding:1rem; word-break:break-all}
section h1{ font-size:1.8rem; text-align:center; font-weight:normal; margin-bottom:1rem; color:#ffbf2f;}
section p{ font-size:1.2rem; line-height:2.2rem;word-break:break-all}

/* 页脚导航 */
footer{ position:fixed; height:5rem; background:#0b1420; background-size:100% 100%; left:0; bottom:0; width:100%; z-index:100; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
footer li{ text-align:center; font-size:0.9rem; line-height:1rem; position:relative; opacity:1}
footer li a{ color:#858a90; padding-top:3.5rem; display:block;}
footer li a i{ width:0.8rem; height:0.8rem; background:#F66; border-radius:50%; position:absolute; left:50%; top:0.6rem; margin-left:1rem;}
footer li img{ width:3rem; margin:0.7rem;}
footer li.active a{ color: #e8a201; opacity: 1;}

footer li:nth-child(1){ background:url(../images/iconfoot1.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(2){ background:url(../images/iconfoot2.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(3){ background:url(../images/iconfoot3.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(4){ background:url(../images/iconfoot4.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li:nth-child(5){ background:url(../images/iconfoot5.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(1){ background:url(../images/iconfoot1s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(2){ background:url(../images/iconfoot2s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(3){ background:url(../images/iconfoot3s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(4){ background:url(../images/iconfoot4s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
footer li.active:nth-child(5){ background:url(../images/iconfoot5s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}

.nocontent{ font-size:1rem; line-height:2rem; color:#738091; text-align:center; padding:1rem 0 0 0; opacity: 0.5}

/* 登录界面 */
.loginbg{ background:#252525 url(../images/loginbg.jpg) center center / cover; display:flex;}
.loginlogo{ padding:0rem 0rem 7rem 0rem; margin:auto; text-align:center;position:relative;}
.loginlogo img{ width:12rem;}
.loginlogo p{ color:#fff; font-size:2.6rem; line-height:3rem;}
.loginlogo p span{ color:#fff}

.loginenter{ width:26rem; box-sizing:border-box; margin:auto; position:relative; z-index:10;}
.loginenter dl{ position:relative; z-index:1; margin-bottom:1rem;}
.loginenter dl dt{ position:absolute; left:0; top:0; height:4.8rem; width:4.8rem; z-index:30;}
.loginenter dl dt img{ width:2rem; height:2rem; padding:1.4rem 1.4rem; box-sizing:content-box; opacity:0.7}
.loginenter dl dd{ width:100%; height:4.8rem;}
.loginenter dl dd input{ width:100%; height:4.8rem; padding:0rem 1rem 0rem 3.6rem; color:#fff; background:rgba(0,0,0,0.3);font-size:1.6rem; box-shadow:0rem 0rem 0.5rem rgba(0,0,0,0.2); border: solid 0.1rem rgba(0,0,0,0.3); border-radius: 0.4rem;}
.loginenter dl dd input::-webkit-input-placeholder { color:rgba(255,255,255,0.6)}
.loginenter dl dd input:focus{border-radius: 0.4rem; background:rgba(0,0,0,0.5)}
.loginenter dl dd input.entercodetxt{ padding-right:12rem;}
.loginenter dl dd a.rescodeimg{ position:absolute; z-index:21; right:0; top:0; margin-right:1rem; background:url(../images/refresh.png) no-repeat right center; background-clip:padding-box; padding:0.2rem 2.4rem 0.2rem 0.4rem; background-size:2rem 2rem;}
.loginenter dl dd a.rescodeimg img{ width:8rem; height:3.6rem; border-radius:0.3rem;}
.loginenter dl dd span.erase{ position:absolute; z-index:21; font-size:2rem; right:0rem; top:0; padding:1.5rem 1rem; color:#c1980d;}
.loginenter dl dd span.erase img{ width:2rem; height:2rem;}


.loginset{ padding:0.5rem 0; color:#ffbf2f; line-height:1.6rem; font-size:1.2rem; text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);}
.loginset input[type="checkbox"]{ width:1.4rem; height:1.4rem; float:left; margin:0.1rem 0.3rem 0 0;}
.loginset label{ float:left;}
.loginset a{ float:right; color:#ffbf2f; text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);}

.lbtnbox{ padding:1rem 0 2rem 0; text-align:center; position: relative}
button.loginbtn{ background:#e9ad1c;background-size:100% 100%; width:100%; height:5rem; line-height:5rem; border:none; border-radius:0.4rem; outline:none; font-size:1.7rem; color:#fff; text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);  box-shadow:0rem 0.1rem 0.5rem rgba(0,0,0,0.3);}
.original{ text-align:center; padding-bottom:1rem; font-size:1.2rem;}
.loginbg .original a{ font-size:1.2rem; color:#1aa1ff;text-shadow:0rem 0.1rem 0rem rgba(0,0,0,0.2);}
.loginverify{position:fixed; left: 50%; width: 90%; margin-left: -45%; border: solid 0.6rem #fff; border-radius: 0.3rem; background: #020304; z-index: 199; box-shadow: 0rem 0rem 1rem rgba(0,0,0,0.5); top:-30rem; z-index: 1999; height: 26rem;}
.loginverifys{top:30%;}

/* 信息录入 */
.entryinfo{ background:#202731; padding-bottom:0rem; margin:1rem; border-radius:0.4rem;}
.entryinfo dl{position:relative; min-height:5.4rem;}
.entryinfo dl dt{position:absolute; line-height:5.4rem; min-height:5.4rem; padding:0 1rem; z-index:30; color:#738091; font-size:1.3rem;}
.entryinfo dl dd{ position:relative; border-bottom:solid 0.1rem rgba(255,255,255,0.05); min-height:5.4rem;}
.entryinfo dl dd input[type="text"],.entryinfo dl dd input[type="password"]{ width:100%; border:none; height:5.4rem; padding:0rem 1rem 0rem 10rem; font-size:1.3rem; color:#deb774; border-radius: 0.4rem;}
.entryinfol dl dd input[type="text"],.entryinfol dl dd input[type="password"]{padding:0rem 1rem 0rem 15rem;}
.entryinfo dl dd select{ width:100%; border:none; height:5.4rem; padding:0rem 1rem 0rem 10rem; font-size:1.3rem; background:none;}

.entryinfo dl dd .getcode{ width:10rem; height:4rem; margin:0.8rem; right:0; position:absolute; z-index:30; top:0; background:#ADB4B7; border:solid 1px #899095; font-size:1.4rem; border-radius:0.4rem; outline:none;}
.entryinfo dl dd .getcode:disabled{ background:#D3D8D8; border:solid 0.1rem #ADB4B7}
.entryinfo dl dd p{min-height:3.4rem; padding:1rem 1rem 1rem 10rem; line-height:3.4rem; font-size:1.4rem;}
.entryinfo dl dd p span, .entryinfo dl dd p a{ color:#ffbc1a}

.entryinfo dl dd .richtext{padding:1.6rem 1rem 1.6rem 10rem; box-sizing:border-box; min-height:10rem; max-height:28rem; font-size:1.3rem; user-modify: read-write-plaintext-only; overflow:auto; line-height:2.2rem; outline:none; position:relative;}
.entryinfo dl dd .richtext:focus{box-shadow:0px 0px 0.5rem rgba(254,127,148,0.8); z-index:20}
.entryinfo dl dd span.erase{ position:absolute; z-index:21; font-size:2rem; right:0rem; top:0; padding:1.7rem; color:#666;}
.entryinfo dl dd span.erase img{ width:2rem; height:2rem;}
.entryinfo dl dd.money:after{ content:"元"; position:absolute; right:4rem; top:0rem; color:#999; font-size:1.5rem; z-index:22; line-height:5.4rem;}

.entryinfo dl dd p label input[type="checkbox"]{ float:left; width:2rem; height:2rem; margin:0.6rem 0.2rem 0rem 0; }

.entryinfo .uploaddiv{min-height:5.4rem; padding:1rem 1rem 1rem 9rem; line-height:3.4rem; font-size:1.6rem;}
.uploadimg{ position:relative; width:16rem; height:9rem; background-color:#eee; overflow:hidden; border-radius:0.3rem; font-size:1.2rem; text-align:center; color:#999; padding:1.5rem 1rem; box-sizing:border-box;}
.uploadimg .uploadimgfile{ position:absolute; z-index:1; background-position:center; background-size:cover; width:16rem; height:9rem; left:0; top:0; display:block;}
.uploadimg i{ font-size:3rem;}
.uploadplug{ position:absolute; display:block; left:0; top:0;width:16rem; height:9rem; opacity:0; z-index:2;}


.maintag{ text-align:center; font-size:1.2rem; height:3rem; padding:1rem;}
.maintag ul{}
.maintag li{line-height:3rem; box-sizing:border-box; border:solid 0.1rem rgba(255,255,255,0.2); background:#202731;}
.maintag li a{ display:block;}
.maintag li a sup{ line-height:0; background:#deb774; padding:0.3rem 0.6rem; text-align:center; margin-left:0.3rem; border-radius:2rem; color:#fff; font-size:1rem;}
.maintag li.active{ background:#1aa1ff; border:solid 0.1rem #1aa1ff; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15);}
.maintag li.active a{ color:#fff; text-shadow: 0.1rem 0.1rem 0 rgba(0,0,0,0.2); display:block;}
.maintag li.active a sup{ color:#fff; background:#f4776d;}
.maintag li:first-child{ border-radius:0.4rem 0 0 0.4rem;}
.maintag li:last-child{ border-radius:0 0.4rem 0.4rem 0;}



.tga2 li{ float:left; width:50%;}
.tga3 li{ float:left; width:33.33%;}
.tga4 li{ float:left; width:25%;}
.tga5 li{ float:left; width:20%;}
.tga6 li{ float:left; width:16.66%;}
.tga7 li{ float:left; width:14.28%;}
.tga8 li{ float:left; width:12.5%;}

.userdltl{ background:#171e29; font-size:1.3rem; padding:1rem 0rem 0.8rem 1rem; border-bottom:solid 0.2rem #738091}

.tabtga{text-align:center; font-size:1.4rem; height:3.6rem; background:#fff;}
.tabtga ul{ overflow:hidden}
.tabtga ul li{ float:left; line-height:3.6rem; font-size:1.3rem; overflow:hidden; width:50%; text-align:center; border-bottom:solid 0.15rem #dddddd;}
.tabtga ul li.active{ border-bottom:solid 0.15rem #ffbc1a}
.tabtga ul li.active a{ color:#ffbc1a;}

/* 数据显示 */
.datalist{ padding:1rem;}
.datalist>ul>li{ margin-bottom:1rem; background:#202731; position:relative; border-radius:0.4rem; overflow:hidden}
/* .datalist>ul>li:after{ content:""; border-bottom:dotted 1rem #f2f3f5; position:absolute; bottom:-0.5rem; width:100%; height:0; left:0; } */
.datalist li dl{ overflow:hidden; clear:both; font-size:1.3rem; border-bottom:solid 0.1rem rgba(255,255,255,0.05); padding:0rem 0rem; margin:0 1rem;}
.datalist li dl:last-of-type{border-bottom:solid 0.1rem rgba(255,255,255,0.05);}
.datalist li dl dt{ min-height:4rem; line-height:4rem; float:left; color:#738091;}
.datalist li dl dd{ float:right; line-height:4rem;}
.datalist li dl dd span{ color:#ffbc1a}
.datalist li .lead{ background:#738091; height:4rem; margin-bottom:0.4rem; padding:0 2rem; color:#fff; line-height:4rem; font-size:1.3rem;}
.datalist li .lead h5{ float:left; font-size:1.3rem;}
.datalist li .lead span{ float:right; font-size:1.3rem;}
.datalist li .allinfo{ background:#202731; border-top:solid 0.1rem rgba(255,255,255,0.1) }

/* 主界面-banner */
.mainbox{ padding-bottom:6rem;}
.banner{ position:relative; z-index:1; overflow:hidden;}
.main_visual{overflow:hidden; position:relative;}
.main_image{overflow:hidden; position:relative;}
.main_image ul{overflow:hidden; padding-top:38%;}
.main_image li{float:left;width:100%; padding-top:38%; position:relative;}
.main_image li img{ width:100%; position:absolute; height:100%; left:0; top:0;}
.main_image li span{display:block;width:100%;}
.main_image li a{display:block;width:100%;}
div.flickingbox{position:absolute;bottom:0.6rem;left:50%;z-index:999;}
div.flicking_con{margin:0 0 0 -50%;}
div.flicking_con a{float:left;width:0.6rem;height:0.6rem;margin:0rem 0.5rem;padding:0;background:#fff; display:block; border-radius:0.5rem; opacity:0.5; box-shadow:0rem 0rem 0.3rem rgba(0,0,0,0.6)}
div.flicking_con a.on{ opacity:0.8; width:2rem;}

#btn_prev,#btn_next{z-index:11111;position:absolute;width:7rem!important;height:7rem!important;top:50%;margin-top:-3.5rem;display:none;}
#btn_prev{left:0;}
#btn_next{right:0;}

.shopimg ul{padding-top:100%;}
.shopimg ul li{padding-top:100%;}


/* 主界面-用户信息 */
.mainuser{ margin:1rem; background:#303030; border-radius: 0.4rem; box-shadow: 0 0 1rem rgba(0,0,0,0.2)}
.title{ height:3.6rem; line-height:3.6rem; border-bottom:0.1rem solid rgba(255,255,255,0.2); padding:0rem 1rem;}
.title h2{ float:left; font-size:1.3rem;}
.title h2 span{ color:#ffbf2f}
.title h3{ float: left; width: 2rem; height: 3.6rem; color: #ffbf2f; text-shadow: 0.1rem 0.1rem 0rem #8c7446; text-align: center; font-size: 0.9rem;}
.title h3.level{ background:url(../images/miniicon1.png) no-repeat center center; background-size:1.8rem 1.8rem;}
.title h3.honor{ background:url(../images/miniicon2.png) no-repeat center center; background-size:1.8rem 1.8rem;}
.title h5{ float:right; font-size:1.3rem; margin:0.6rem 0;}
.title h5 img{ width:2rem; height:2rem; opacity:1; margin:1rem 0;}
.title h5 a{ display:block; border-radius:1.2rem; padding:0 1.5rem; font-size:1rem; color:#fff; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2); line-height:2.4rem; background:url(../images/btnbg.png) no-repeat center center; background-size: 100% 5rem; }

.mainuser .avatar{float:left;}
.avatar{ width:8rem; margin:2rem;  position:relative;z-index:10;}
.avatar img{ width:8rem; height:8rem; border-radius:4rem; position:relative; background:#fff; }
.avatar .level{ height:2.2rem; line-height:2.2rem; text-align:center; position:absolute; bottom:-0.5rem; left:0; width:100%; background:#ffbc1a; color:#FFF; font-size:1.2rem; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15)}
.avatar .level:after{ background:none; position:absolute; 
border-bottom:2rem solid #ffbc1a;
border-left:2rem solid rgba(255,255,255,0);
border-top:2rem solid rgba(255,255,255,0);
border-right:2rem solid rgba(255,255,255,0); width:4rem; z-index:-1; bottom:2.2rem; left:0rem; height:0px;content:"";}

.assets{ padding:1rem 0;}
.assets li{ text-align:left; padding:1rem 0rem;  color:#998256; font-size:1.4rem; box-sizing:border-box; padding-left:2rem; height:6rem; overflow:hidden;}
.assets li p{ overflow:hidden;line-height:2rem;}
.assets li p img{float:left; width:1.8rem; height:1.8rem; padding:0.1rem 0.2rem 0 0;}
.assets li span{ color:#ffbf2f; font-size:1.8rem; padding-left:0.3rem;line-height:2rem;}


/* 主界面-图标链接 */
.applink{ padding:0rem 1rem;}
.applink ul{ overflow:hidden; background:#303030; box-shadow: 0 0 1rem rgba(0,0,0,0.2); border-radius:0.4rem;}
.applink li{ text-align:center; font-size:1.2rem; line-height:2rem; padding:1rem 0; -border-left:solid 0.1rem #eee; -border-bottom:solid 0.1rem #eee; -margin-left:-0.1rem; position:relative;}
.applink li span{ position:absolute;left:60%; top:1.2rem; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; color:#fff; min-width:0.8rem; text-align:center;}
.applink li img{ width:4.8rem; margin:0.5rem; opacity:1;}
.applink li a p{ color:#998256}




.newslist{ margin:0rem 1rem 1rem 1rem; border-radius:0.4rem; background:#202731;}
.newslist li{ font-size:1.4rem; line-height:2rem; padding:0.5rem 1rem; margin:0rem 1rem 0.5rem 1rem; border-bottom:dashed 0.1rem rgba(255,255,255,0.1); white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.newslist li:first-child{ padding-top:1rem;}
.newslist li:last-child{ border-bottom:none}
.newslist li:nth-child(5n){ border-bottom:solid 1rem #171e29; margin:0rem 0rem 0.5rem 0rem;padding:0.5rem 2rem;}
.newslist li time{ color:#8491a2; display:block; font-size:1.2rem;}


/* 主界面新闻滚动列表 */
.mnewslist{box-sizing:border-box; padding-left:2.4rem; background:url(../images/miniicon7.png) no-repeat 0.5rem center; height:3rem; background-size:1.8rem 1.8rem; -box-shadow:0rem 0rem 0.3rem rgba(0,0,0,0.3); overflow:hidden; margin:1rem 1rem 1rem 1rem; border-radius:0.4rem; position:relative; z-index:2;}
.mnewslist li{ font-size:1.2rem; line-height:3rem; height:3rem; text-overflow:ellipsis;white-space:normal; overflow:hidden;}
.mnewslist li a{ color:#dfb772}



/* 子菜单页面 */
.navicon{ background:#202731; margin:0rem 1rem 1rem 1rem; padding:1rem 0rem; border-radius:0.4rem;}
.navicon li{ text-align:center;font-size:1.2rem; line-height:2rem; position:relative;}
.navicon li i{ color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem #282828; font-size:2.6rem; padding:0.5rem 0;}
.navicon li.qq i{ color:#09F}
.navicon li.weixin i{ color:#3C3}
.navicon li p{ color:#738091}
.navicon span{ position:absolute; left:55%; top:0; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; color:#fff; min-width:0.8rem; text-align:center;}
/* 给各个图标定义颜色 
.navicon li:nth-child(5n+1) i{ color:#51c4ff}
.navicon li:nth-child(5n+2) i{ color:#18dfb7}
.navicon li:nth-child(5n+3) i{ color:#4bc8ec}
.navicon li:nth-child(5n+4) i{ color:#50b4ba}
.navicon li:nth-child(5n) i{ color:#28abff}*/

.ucentericon li{ margin:1.5rem 0;}
.ucentericon li i{}


.notice{ background:#202731; margin:0rem 1rem 1rem 1rem; border-radius:0.4rem;}

.maillist{ background:#202731; margin:0rem 1rem 1rem 1rem; border-radius:0.4rem;}
.maillist li{ font-size:1.4rem; line-height:2rem; padding:0.5rem 1rem; margin:0rem 1rem 0.5rem 1rem; border-bottom:dashed 0.1rem rgba(255,255,255,0.1); }
.maillist li:first-child{ padding-top:1rem;}
.maillist li:last-child{ border-bottom:none}
.maillist li:nth-child(5n){ border-bottom:solid 1rem #171e29; margin:0rem 0rem 0.5rem 0rem;padding:0.5rem 2rem;}

.maillist li h2{ font-size:1.7rem; float:left; line-height:2.2rem;}
.maillist li time{ float:right; font-size:1.2rem; color:rgba(255,255,255,0.4);}
.maillist li h5{ font-size:1.5rem; line-height:3rem;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.maillist li p{ color:#999; font-size:1.2rem;}
.maillist li.new h2 ,.maillist li.new h5{}

.mailtl{ background:#202731; padding:1rem; }
.mailtl h2{ font-size:1.6rem; float:left; line-height:2.6rem; }
.mailtl h2 span{ color:#666;}
.mailtl time{ font-size:1.4rem; color:#999; line-height:2.6rem; float:right;}
.mailtl h5{ font-size:1.4rem; line-height:1.8rem;}

.replybox{ background:#202731; position:fixed; bottom:5rem; z-index:99; left:0; width:100%; padding:0.5rem; box-sizing:border-box;}
.replybox .txtabox{ width:80%; float:left; box-sizing:border-box; background:rgba(255,255,255,0.1); border:solid 0.1rem rgba(255,255,255,0.2); padding:0.5rem; min-height:3rem; max-height:5.4rem; font-size:1.6rem; user-modify: read-write-plaintext-only; overflow:auto; border-radius:0.3rem; line-height:1.8rem; outline:none; color:#deb774;}
.replybox .txtabox:focus{ background:rgba(255,255,255,0.2); box-shadow:0px 0px 0.5rem rgba(222,183,116,0.8); border:solid 0.1rem rgba(222,183,116,0.6); z-index:20}
.replybox .btnreply{float:right; width:18%; height:3rem; border:none; border-radius:0.3rem; outline:none; font-size:1.3rem; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.15); position:absolute; bottom:0.5rem; right:0.5rem;}


.mailcont{ margin-bottom:11rem; padding:0.5rem;}
.mailcont li{ position:relative; padding:1rem; clear:both; overflow:hidden; }
.mailcont li h2{ font-size:1.4rem; color:#fff; margin-bottom:0.4rem; padding-left:1rem;}
.mailcont li time{ font-size:1.2rem; color:#999; margin-bottom:0.4rem; display:block; padding-left:1rem;}
.mailcont li .msgcont{ line-height:1.8rem; padding:1rem; font-size:1.4rem; box-shadow:0.1rem 0.1rem 0.1rem rgba(0,0,0,0.1); position:relative; border-radius:0.4rem; }
.mailcont li .msgcont img{ display:block; max-width:100%; border-radius:0.3rem; margin-bottom:0.6rem;}
.mailcont li.receive{ padding-right:15%;}
.mailcont li.send{ padding-left:15%;}
.mailcont li.receive .msgcont{ background:rgba(255,255,255,0.1); float:left;}
.mailcont li.receive .msgcont:after{ background:none; position:absolute; 
border-bottom:0.8rem solid rgba(255,255,255,0);
border-left:none;
border-top:0.8rem solid rgba(255,255,255,0);
border-right:0.8rem solid rgba(255,255,255,0.1); width:0rem; z-index:1; top:1rem; left:-0.8rem; height:0px;content:"";}
.mailcont li.send time{ text-align:right;}
.mailcont li.send h2{ text-align:right;}
.mailcont li.send .msgcont{ background:#1aa1ff; float:right;}
.mailcont li.send .msgcont:after{ background:none; position:absolute; 
border-bottom:0.8rem solid rgba(255,255,255,0);
border-left:0.8rem solid #1aa1ff;
border-top:0.8rem solid rgba(255,255,255,0);
border-right:none ; width:0rem; z-index:1; top:1rem; right:-0.8rem; height:0px;content:"";}


/* 会员中心 */
.membercentre{ height:4.4rem;}
.membercentre h2{ color:#fff;}
.userinfo{ text-align:center;  background: #111823 }
.userinfo .avatar{ margin:auto;}
.userinfo h1{ color:#ffbf2f; padding:1rem 0rem 0rem 0rem; font-size:2.2rem;}
.userinfo h2{ color:#998256; padding:1rem 0rem 0rem 0rem; font-size:1.6rem;}
.userinfo h4{ color:#998256; opacity:0.9; padding-bottom:1rem; font-size:1.1rem;}
.userinfo .avatar .level{ background:#e89b01; color:#fff; text-shadow:none; text-shadow: 0rem 0.1rem 0rem rgba(0,0,0,0.3)}
.userinfo .avatar .level:after{ border-bottom:2rem solid #c35e00;}
.userinfo li{font-size:1rem; color:#998256;  margin:1rem 0;}
.userinfo li p{ overflow:hidden;}
.userinfo li span{ font-size:1.8rem; color: #ffbf2f}

/* 财务管理 */
.userassets{ text-align:center; background:#111823 url(../images/financebg.png) no-repeat center bottom / 100% 3rem; padding:1rem 1rem 3rem 1rem; margin-bottom: 1rem;}
.userassets li{ font-size:1rem; color:#738091;  margin:0.5rem 0; padding: 0.2rem 0; box-sizing: border-box; position: relative; border-right: solid 0.2rem #202731;}
.userassets li:last-child, .userassets .tga3 li:nth-child(3n){border-right:none;}
.userassets li p{ overflow:hidden; color:#738091;}
.userassets li span{ font-size:1.5rem; color:#dbe3ec}
.userassets .totalassets{ margin-bottom: 1rem;}
.userassets .totalassets p{font-size:1.5rem; color:#738091;}
.userassets .totalassets span{font-size:3rem; color:#ffbf2f; line-height: 5rem; text-shadow: 0rem 0.2rem 0.6rem rgba(0,0,0,0.5)}

.userassets li i{ color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem #282828; font-size:2.6rem; padding:0.5rem 0;}
.userassets li.bubble span{ position:absolute; left:55%; top:0; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; color:#fff; min-width:0.8rem; text-align:center; line-height: 1.8rem;}






.assetslist{ margin:0rem 1rem 1rem 1rem;}
.assetslist li{background: #202731; border-radius: 0.4rem; padding:0.5rem 1rem; margin-bottom: 1rem;}
.assetslist li a.assetsinfo{float: left;}
.assetslist li a.assetsinfo img{float: left; height: 7rem; width: 7rem; margin-right: 1rem;}
.assetslist li a.assetsinfo p{overflow: hidden; padding-top:1.6rem;}
.assetslist li a.assetsinfo p i{font-size: 1.2rem; color: #8491a2; font-style: normal; line-height: 1.4rem;}
.assetslist li a.assetsinfo p span{font-size: 2rem; color: #dbe3ec; display: block; line-height: 3rem;}

.assetslist li a.btnlink{ height: 2.6rem; border: solid 0.1rem #1aa1ff; border-radius: 2rem; width: 8rem; color: #dbe3ec; font-size: 1.2rem; text-shadow: 0rem 0.1rem 0rem rgba(0,0,0,0.3); display: block; float: right; line-height: 2.6rem; text-align: center; margin: 2rem 0rem; box-shadow: 0rem 0.2rem 0.5rem rgba(0,0,0,0.1); position: relative}
.assetslist li a.btnlink span{position: absolute; top: -1rem; right: -0.6rem; height: 2rem; padding: 0rem 0.6rem; background: #e64336; line-height: 2rem; border-radius: 1rem; font-size: 1.2rem;}

.entryinfo dd>div.option{padding:0.5rem 1rem 0.5rem 9rem;}
.option{ padding:0.5rem 1rem 0.5rem 1rem;}
.option li{ box-sizing:border-box; padding:0.5rem 0.5rem; line-height:3rem;}
.option li a{ border:solid 0.1rem rgba(255,255,255,0.2); border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:rgba(255,255,255,0.1);}
.option li.active a{ border:solid 0.1rem #ffbf2f; background:#ffbf2f; color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2)}
.option li.disabled a{border:solid 0.1rem #ccc; background:#ddd; color:#aaa}




/* 提示提醒 */
.promptbox{ padding:6rem 2rem 0rem 2rem;}
.promptcont{ background:#202731; border-radius:0.4rem; position:relative; padding:4rem 2rem 3rem 2rem;}
.prompticon{ position:absolute; left:50%; top:-4rem; width:8rem; height:8rem; box-sizing:border-box; margin-left:-4rem; border-radius:8rem; overflow:hidden; background:#202731; padding:1.5rem 0rem; font-size:5em; color:#ffbc1a; text-align:center;}
.prompttext{ text-align:center;}
.prompttext h2{ font-size:1.6rem; color:#ffbc1a; margin-bottom:0.4rem;}
.prompttext p{ font-size:1.2rem; color:#999;}

.tipsbox{ padding:1rem; -border-bottom:0.1rem #fad12f solid; background:rgba(12,1,22,0.4);}
.tipsboxtl{ font-size:1.2rem; color:#ffbc1a; margin-bottom:0.4rem;}
.tipscont{ line-height:2.2rem; font-size:1rem;}
.tipscont p{ margin-bottom:0.6rem;}
.tipscont p span{ font-size:1.2rem; color:#ffbc1a;}

/* 搜索操作 */
.operating{ background:#202731; border-radius:0.4rem; margin:0 1rem; padding:1rem 1rem 0rem 1rem;}
.searchbox{padding-bottom:1rem;}
.searchbox input[type="text"]{background: rgba(0,0,0,0.2); border-radius:0.4rem; height:3.2rem;  float:left; box-sizing:border-box; padding:0 1rem; font-size:1.3rem; margin:0 1%;}
.searchbox input.searchtext{ width:76%;}
.searchbox input.searchtexth{ width:54%; float:left;}
.searchbox button.operatebtn{border-radius:0.4rem; height:3.2rem; width:20%; float:left; box-sizing:border-box; font-size:1.1rem; border:none; outline:none; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2); margin:0 1%;background:url(../images/btnbg.png) no-repeat top center; background-size: 100% 100%;}

.searchdate{ display:none;transition:height 0s, opacity 0.5s;}
.searchdate dl{ overflow:hidden; margin-bottom:1rem;}
.searchdate dl input[type="text"]{ height:3.2rem; padding:0 1rem;; box-sizing:border-box; font-size:1.3rem; width:45%; border-radius:0.4rem;}
.searchdate dl dt{ float:left; width:20%; font-size:1.3rem; line-height:3.2rem; color:#738091;}
.searchdate dl dd{ float:left; width:80%; font-size:1.3rem; line-height:3.2rem;}
.searchdate dl dd span{ color:#738091; padding:0rem 0.5rem;}
.searchmore{ font-size:1.1rem; text-align:center; color:#738091; padding-bottom:1rem;}
.searchmore span{ margin-right:0.5rem; line-height:1.2rem}
.searchmore i{ font-size:1.3rem;}
.seatatebox{ padding-left:0.5rem;}
.fastdate li{ text-align:center; padding:0rem 0.5rem; box-sizing:border-box;}
.fastdate li a{ border:solid 0.1rem rgba(255,255,255,0.2); border-radius:0.4rem; display:block; font-size:1.3rem; text-align:center; background:rgba(255,255,255,0.1);}
.fastdate li.active a{ border:solid 0.1rem #ffbf2f; background:#ffbf2f; color:#fff;text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2)}

/* 图片列表 */
.imglist{ padding:0.5rem;}
.imglist li{padding:0.5rem; box-sizing:border-box;}
.imglist li a{ display:block; background:#202731; -border:solid 0.1rem rgba(255,255,255,0.2); box-sizing:border-box; padding-bottom:1rem; border-radius:0.4rem; overflow:hidden;}
.imglist li a p{position:relative; width:100%; padding-top:100%;}
.imglist li a p img{ width:100%; height:100%; position:absolute; left:0; top:0;}
.imglist li a h2{ font-size:1.2rem; padding:0.4rem 0.6rem; line-height:1.6rem;}
.imglist li a span{ color:#ffbc1a; font-size:1.4rem; padding:0.4rem 0.6rem;}


.fixedcart{ position:fixed; right:1rem; bottom:10rem; width:5rem; height:5rem; z-index:40; background:rgba(0,0,0,0.5); color:#fff; padding:1.1rem; font-size:2.8rem; border-radius:50%;  box-sizing:border-box; opacity:0.9; box-shadow:0 0 0.5rem rgba(0,0,0,0.3)}
.fixedcart i{ color:#fff; opacity:0.9;}
.fixedcart span{position:absolute; right:0rem; top:0rem; background:#e24b4b; height:1.8rem; display:block; padding:0rem 0.5rem; border-radius:2rem; font-size:1.2rem; line-height:1.8rem; color:#fff; min-width:0.8rem; text-align:center;}

/* 猪猪集市列表 */
.zzlist{ padding:0.5rem;}
.zzlist li{padding:0.5rem; box-sizing:border-box;}
.zzlist li .zzbox{ display:block; background:#202731; box-sizing:border-box; border-radius:0.4rem; overflow:hidden; padding: 1rem; height:40rem;}
.zzlist li .zzbox .zzboximg{position: relative; height: 14rem; margin-bottom: 1rem; text-align: center}
.zzlist li .zzbox .zzboximg .yuanbao{position:absolute; width:7rem; left: 50%; bottom: 0rem; margin-left: -5rem; display: none}
.zzlist li .zzbox .zzboximg .zzxxpic{ height:14rem;}
.zzlist li .zzbox .zzboximg .jqrClass{position:absolute; width:2.4rem;left: 50%; bottom: 0rem; margin-left: 3.6rem; }
.zzlist li .zzbox .zzboximg .robot{position:absolute; width:2.4rem; height: 3.6rem; left: 50%; bottom: 0rem; margin-left: 3.6rem; background: url(../images/roboth.png) center no-repeat / 100% 100%;}
.zzlist li .zzbox .zzboximg .robotwork{width:2.4rem; height: 4rem; background: url(../images/robot.png) center no-repeat / 100% 100%;}
.zzlist li h2{ font-size:1.5rem; padding-bottom: 1rem; color: #ffbf2f}
.zzlist li .zzinfo{ padding-bottom: 1rem;}
.zzlist li .zzinfo p{ font-size: 1rem; line-height: 1.5rem; color: #738091;}
.zzlist li .zzinfo p span{ color:#dbe3ec; font-size: 1.2rem;}

.zzlist li .zzbtnbox{ padding: 0rem 1.5rem;}
.zzlist li .zzbtnbox input[type="button"], .zzlist li .zzbtnbox button{margin: 0.2rem 0rem;}
.zzlist li .zzbtnbox button span{ color:#F74F51}
.zzlist li .zzbtnbox .btnyellow{width:100%; height:3rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:url(../images/btnbg.png) no-repeat center / 100% 100%; cursor:pointer}
.zzlist li .zzbtnbox .btnyellows{width:100%; height:3rem; border:solid 0.1rem #e9a400; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:#3d444c; cursor:pointer; box-shadow:0rem 0rem 0.5rem rgba(233,164,0,0.4);
animation:btnshadowy linear 2s infinite;}
@keyframes btnshadowy{
0%   {box-shadow:0rem 0rem 0.3rem rgba(233,164,0,0.2)}
50%  {box-shadow:0rem 0rem 0.8rem rgba(233,164,0,1)}
100% {box-shadow:0rem 0rem 0.3rem rgba(233,164,0,0.2)}
}

.zzlist li .zzbtnbox .btnblue{width:100%; height:3rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:url(../images/btnbbg.png) no-repeat center / 100% 100%; cursor:pointer}
.zzlist li .zzbtnbox .btnblues{width:100%; height:3rem; border:solid 0.1rem #1aa1ff; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:#3d444c; cursor:pointer; box-shadow:0rem 0rem 0.5rem rgba(26,161,255,0.4);
animation:btnshadowb linear 2s infinite;}
@keyframes btnshadowb{
0%   {box-shadow:0rem 0rem 0.3rem rgba(26,161,255,0.2)}
50%  {box-shadow:0rem 0rem 0.8rem rgba(26,161,255,1)}
100% {box-shadow:0rem 0rem 0.3rem rgba(26,161,255,0.2)}
}

.zzlist li .zzbtnbox .btngree{width:100%; height:3rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:url(../images/btngbg.png) no-repeat center / 100% 100%; cursor:pointer}
.zzlist li .zzbtnbox .btngrees{width:100%; height:3rem; border:solid 0.1rem #78df00; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:#3d444c; cursor:pointer; box-shadow:0rem 0rem 0.5rem rgba(120,223,0,0.4);
animation:btnshadowg linear 2s infinite;}
@keyframes btnshadowg{
0%   {box-shadow:0rem 0rem 0.3rem rgba(120,223,0,0.2)}
50%  {box-shadow:0rem 0rem 0.8rem rgba(120,223,0,1)}
100% {box-shadow:0rem 0rem 0.3rem rgba(120,223,0,0.2)}
}

.zzlist li .zzbtnbox .btnred{width:100%; height:3rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:url(../images/btnrbg.png) no-repeat center / 100% 100%; cursor:pointer}
.zzlist li .zzbtnbox .btnreds{width:100%; height:3rem; border:solid 0.1rem #ff1a5a; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:#3d444c; cursor:pointer; box-shadow:0rem 0rem 0.5rem rgba(255,26,90,0.4);
animation:btnshadowr linear 2s infinite;}
@keyframes btnshadowr{
0%   {box-shadow:0rem 0rem 0.3rem rgba(255,26,90,0.2)}
50%  {box-shadow:0rem 0rem 0.8rem rgba(255,26,90,1)}
100% {box-shadow:0rem 0rem 0.3rem rgba(255,26,90,0.2)}
}

.zzlist li .zzbtnbox .btngray{width:100%; height:3rem; border:solid 0.1rem #4b525b; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#dbe3ec; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:#3d444c; cursor:pointer; }



/* 图片信息 */
.comminfo{ background:rgba(255,255,255,0.1); margin-bottom:1rem;}
.comminfo h1{ font-size:1.6rem; padding:0.5rem 1rem;}
.comminfo h3{ font-size:2.2rem; padding:0.5rem 1rem; color:#ffbc1a}
.comminfo dl{ overflow:hidden; clear:both; min-height:3.2rem;}
.comminfo dl dt{ width:7rem; text-align:right; padding-right:0.5rem; font-size:1.3rem; line-height:3.2rem; color:#999; float:left;}
.comminfo dl dd{ float:left;min-height:3.2rem; line-height:3.2rem;}
.comminfo dl dd input.txtamount{ height:3.2rem; box-sizing:border-box; padding:0rem 0.5rem; width:7rem; vertical-align:middle; font-size:1.4rem; text-align:right;}
.comminfo dl dd span{ font-size:1.6rem; color:#ffbc1a}
.comminfo dl dd button.btnminus{ width:3.2rem; height:3.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-right:none; border-radius:0.4rem 0rem 0rem 0.4rem; font-size:1.6rem; color:#999;}
.comminfo dl dd button.btnplus{ width:3.2rem; height:3.2rem; background:#eee; border:solid 0.1rem #ddd; box-sizing:border-box;vertical-align:middle; border-left:none; border-radius:0rem 0.4rem 0.4rem 0rem ; font-size:1.6rem; color:#999;}

.commcont{ width:100%; overflow:hidden;}
.commcont img{ max-width:100%;}


/* 购物车 */
.cartlist{ background:#303030;}
.cartlist ul{}
.cartlist>dl{ clear:both; overflow:hidden; padding:1rem; border-bottom:solid 0.1rem rgba(255,255,255,0.1);}
.cartlist>dl>dt{ float:left;}
.cartlist>dl>dt img{ width:7rem; height:7rem; margin-right:1rem; border-radius:0.3rem; float:left;}
.cartlist>dl>dd{ overflow:hidden;}
.cartlist>dl>dd .cartcomminfo{ float:left; width:100%;}
.cartlist>dl>dd .delbtn{ float:right; height:9rem; width:4rem; background:#ffc045; border:solid 0.1rem #ffc045; font-size:1.2rem; color:#fff; display:none;}
.cartlist>dl>dd button.delbtn i{ font-size:2.4rem;}

.cartlist>dl>dt.checkdt{ width:2rem;}
.cartlist>dl>dt.checkdt zzlabel{width:1.6rem; height:1.6rem; box-sizing:border-box; border:solid 0.1rem #aaa; display:block; border-radius:50%; overflow:hidden;}
.cartlist>dl>dt.checkdt input[type="checkbox"]{ width:1.7rem; height:1.7rem; float:left; margin:2.6rem 0.4rem 0 0; -opacity:0;border-radius:50%; overflow:hidden;}
.cartlists>dl{ clear:both; overflow:hidden; padding:1rem; border-bottom:solid 0.1rem #eee;}
.cartlists>dl>dd .cartcomminfo{ float:left; width:25rem;}

.cartlist>dl>dd .cartcomminfo{}
.cartlist>dl>dd .cartcomminfo h1{font-size:1.3rem; color:#DAAF5C}
.cartlist>dl>dd .cartcomminfo h2{ overflow:hidden; height:4rem; font-size:1.3rem; line-height:2rem; margin-bottom:1rem;}
.cartlist>dl>dd .cartcomminfo h3{ color:#ffbc1a; font-size:1.4rem; margin-bottom:0.6rem; line-height:2.2rem;}
.cartlist>dl>dd dl{ overflow:hidden; clear:both; min-height:2.2rem;}
.cartlist>dl>dd dl dt{ text-align:left; font-size:1.4rem; line-height:2.2rem; color:#ffbc1a; float:left;}
.cartlist>dl>dd dl dd{ float:right; min-height:2.2rem; line-height:2.2rem;}

.cartlists>dl>dd .cartcomminfo h2{ overflow:hidden; height:2rem; font-size:1.3rem; line-height:2rem; margin-bottom:1rem; text-overflow: ellipsis; white-space: nowrap;}

.cartlist>dl>dd dl dd span{ font-size:1.3rem; color:#DAAF5C}
.cartlist>dl>dd dl dd button.btnminus{ width:2.2rem; height:2.2rem; box-sizing:border-box;vertical-align:middle; border-right:none; border-radius:0.4rem 0rem 0rem 0.4rem; font-size:0.8rem; outline:none;  background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
.cartlist>dl>dd dl dd button.btnplus{ width:2.2rem; height:2.2rem;  box-sizing:border-box;vertical-align:middle; border-left:none; border-radius:0rem 0.4rem 0.4rem 0rem ; font-size:0.8rem; outline:none;  background:url(../images/btnbg.png) no-repeat bottom center; background-size: 100% 6rem;color:#303030; text-shadow:0.1rem 0.1rem 0rem rgba(255,255,255,0.2);}
.cartlist>dl>dd dl dd input.txtamount{ height:2.2rem; box-sizing:border-box; padding:0rem 0.5rem; width:4rem; vertical-align:middle; font-size:1.4rem; text-align:right;}

.orderbriefly{ background:#202731; padding:0.5rem 3rem 0.5rem 1rem; position:relative;}
.orderbriefly{ height:3rem; line-height:3rem; font-size:1.2rem;}
.orderbriefly span{ color:#ffbf2f; padding-right:1rem;}
.orderbriefly span.status{ float:right; padding:0;}
.orderbriefly span.sum{color:#ffbc1a; font-weight:bold;}
.orderbriefly span.ship{ color:#37c329}
.orderbriefly span.noship{ color:#f44e4e}
.orderbriefly time{ padding-right:2rem;}
.orderbriefly i{ position:absolute; right:1rem; font-size:2rem; line-height:3rem;}
.orderinfo { line-height:2rem; font-size:1.1rem; padding:0.6rem; color:#998256; background:rgba(255,255,255,0.05)}
.orderinfo a{ color:#ffbc1a}
.orderinfo li{ overflow: hidden;}
.orderinfo li span{ float: left;}
.orderinfo li p{ overflow: hidden;}


.ordertotal{ background:rgba(255,255,255,0.1); padding: 0.5rem 1rem; height:3rem; line-height:3rem; margin-top:-0.2rem; border-top:dashed 0.15rem rgba(255,255,255,0.1); position:relative; z-index:100; font-size:1.3rem;}
.ordertotal span{color:#e3a736; padding:0 0.3rem; font-size:1.5rem;}
.ordertotal a{ color:#56b1b6}
/*
.ordertotal:after{background:#f2f3f4; position:absolute; height:1rem; width:1rem; z-index:100; top:-0.5rem; left:-0.5rem; content:""; border-radius:0.5rem;}
.ordertotal:before{background:#f2f3f4; position:absolute; height:1rem; width:1rem; z-index:100; top:-0.5rem; right:-0.5rem; content:""; border-radius:0.5rem;}
*/

.orderlist{ padding:1rem;}
.orderlist>ul>li{ margin-bottom:1rem; position:relative; border-radius:0.3rem; overflow:hidden; background:#303030}

.allinfo{display:none; opacity:0; transition:height 0s, opacity 0.5s;}
.allinfoheigth{opacity:1}




.loadbox{ width:10rem; height:10rem; position:fixed; left:50%; top:50%; margin:-5rem 0 0 -5rem; z-index:30;}
.loading{ background:url(../images/load.png) no-repeat; width:10rem; height:10rem; background-size:100% 100%; position:relative;}
.loading img{ box-sizing:border-box; padding:1rem; width:10rem; height:10rem; border-radius:50%;}
.loadpro{ position:absolute; background:url(../images/loading.png) no-repeat;width:10rem; height:10rem; background-size:100% 100%; left:0; top:0;
animation:lardret linear 2s infinite;}
@keyframes lardret{
0%   {transform:rotate(0deg);}
25%  {transform:rotate(90deg);}
50%  {transform:rotate(180deg);}
75%  {transform:rotate(270deg);}
100% {transform:rotate(360deg);}
}

/* 信息提示框 */
.promptbg{ height:100% !important; width:100%; position:fixed; z-index:998; background:rgba(0,0,0,0.5); left:0; bottom:-120%; opacity:0;}
.promptbgbox{width:100% !important; position:fixed; z-index:999; background:#191f32; left:0; bottom:-120%;opacity:0;}
.promtotal{ width: 100%; height: 100%; position: fixed; left: 0; box-sizing: border-box; padding: 3rem; background: #fff; background-clip: content-box; border-radius: 3.4rem; z-index:999;bottom:-120%;opacity:0; overflow: hidden;}
.promptbottom{bottom:0; opacity:1;}

/* 系谱图 */
.userlevel{ padding-bottom:1rem;}
.userlevel li{ padding:0 1%; box-sizing:border-box; line-height:1.8rem; text-align:center;}
.userlevel li span{border-radius:0.3rem;}
.leveln span{ background:#ffffff; display:block; font-size:0.8rem;}
.level0 span{ background:#c8c9ce; color:#a6a6a6; display:block; font-size:0.8rem;}
.level1 span{ background:#f7ab5c; color:#df5821; display:block; font-size:0.8rem;}
.level2 span{ background:#abaed4; color:#666b9b; display:block; font-size:0.8rem;}
.level3 span{ background:#f7d01f; color:#fffab3; display:block; font-size:0.8rem;}
.level4 span{ background:#f564b4; color:#ffd9e7; display:block; font-size:0.8rem;}
.level5 span{ background:#a3a6af; color:#e1e5ee; display:block; font-size:0.8rem;}

.pedigreebox{ overflow:auto; padding:1rem 0;}
.memberpedigree{ display:table-cell}
.memberpedigree .panels{ margin-bottom:0px; text-align:center;	border: 1px solid transparent;	border-color: #ddd;	border-radius: 4px;	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);	box-shadow: 0 1px 1px rgba(0,0,0,.05)}
.memberpedigree li{ display:table-cell; width:1%;}
.memberpedigree ul{ width:100%;}

.memberpedigree .pedigreedata{ padding:0px;}
.memberpedigree .pedigreedata table{ width:100%; background:#fff; border-collapse:collapse;border:solid 0.1rem #ddd; border-top:none; border-radius:0.3rem;}
.memberpedigree .pedigreedata table th, .memberpedigree .pedigreedata table td{ border-bottom:solid 0.1rem #ddd; text-align:center; color:#505a55; font-size:0.8rem;}
.memberpedigree .memberbox{ width:8rem; margin:auto; padding:0 0.5rem; line-height:1.6rem; text-align:center;}
.memberpedigree .memberbox .userpedigree{ border-radius:0.3rem; overflow:hidden; box-shadow:0 0 0.2rem rgba(51,51,51,0.2)}

.pedigreeline{ width:50%; margin:auto; font-size:0px; line-height:0px; overflow:hidden}
.pedigreeline>div{font-size:0px; line-height:0px;}
.pedigreeline .pedigreelinetop{ width:0.1rem; margin:auto; height:1.5rem;  background:#CCC;}
.pedigreeline .pedigreelinemiddle{ height:1.5rem; border:solid 0.1rem #ccc; border-bottom:none; border-radius:0.5rem 0.5rem 0 0;}

/* 树形结构 */
.usertree{ margin:1rem; font-size:1.3rem; overflow:auto; line-height:3rem;}
.usertree dt{ line-height:3rem; height:3rem; display:block; white-space:nowrap;}
.usertree dt i{ color:rgba(255,255,255,0.7); width:2rem; text-align:center;}
.usertree dd{ transition:height 0s, opacity 0.5s; margin-left:1rem; display:none; border-left:dotted 0.1rem #999; padding-left:0.8rem;}
.usertree dd:nth-last-child(1){ border-left:none;}
.usertree dt span{ position:relative; width:2rem; height:3rem; display:inline-block; float:left;}
.usertree dt span.adult{ background:url(../images/treeclose.png) no-repeat 0.5rem 0.8rem; background-size:1.2rem; position:relative;}
.usertree dt.bg span.adult{background:url(../images/treeopen.png) no-repeat 0.5rem 0.8rem;background-size:1.2rem;}

.usertree dt span:after{background:none; border-left:dotted 0.1rem #999; position:absolute; height:3rem; z-index:-1; top:0.1rem; left:1rem; content:"";}
.usertree dt span:before{background:none; border-top:dotted 0.1rem #999; position:absolute; width:1rem; z-index:-1; top:1.35rem; left:1rem; content:"";}
.usertree>dl>dt:nth-of-type(1) span:after{height:1.5rem;top:1.4rem;}
.usertree dl dt:nth-last-of-type(1) span:after{height:1.5rem; top:0rem;}
.usertree dt input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0;}

.leveldivision{ padding:1rem; border-bottom:solid 0.1rem #eee;}
.leveldivision li{ font-size:1rem; text-align:center;}
.leveldivision span{ color:#f90; font-size:1rem;}
.leveldivision i{ font-size:3rem;}
.levelgeneral{margin-bottom:0.6rem; color:#1f9de9}
.levelsilver{margin-bottom:0.6rem; color:#c2c5c7}
.levelgold{margin-bottom:0.6rem; color:#efc648}

.bigtitle{ background:#fff; padding:1rem; height:3.2rem; box-sizing:border-box;}
.bigtitle h2{ float:left; font-size:1rem; color:#53595e;}

.operation{ padding:0.5rem; background:#303030; margin-bottom:1rem;}
.operation li{ padding:0 0.5rem; box-sizing:border-box; line-height:3.2rem; font-size:1.2rem;}
.operation li input[type="checkbox"]{ width:1.6rem; height:1.6rem; float:left; margin:0.7rem 0.4rem 0 0; border-radius:50%;}

.shareqr{ background:url(../images/sharebg.jpg) no-repeat center center; background-size: cover;}
.shareqr .userinfo{ background: none;}
.shareqr header{ background: none; border: none; display:block;}
.shareqr header h2{ color: #fff;}

.qrcodebox{ padding: 3rem;}
.qrcodecont{ background: #fff; border-radius: 0.5rem; padding: 2rem;}

.qrcodecont .userinfo h2{ color: #3a362b;}
.qrcodecont .userinfo h4{ color: #5f5b4d; font-size: 1.2rem;}

.qrcodeimg{ text-align: center;}
.qrcodeimg img{ width: 18rem; height: 18rem; padding-bottom: 1rem;}
.qrcodeimg h3{ color:#555;}

.shareicon{ padding: 0 2rem;}
.shareicon li{text-align: center; box-sizing: border-box;}
.shareicon li a{ padding: 1rem; display: block;}
.shareicon li i{ font-size: 2rem;}

.shareicon li:nth-child(1) a i{color: #3498db;}
.shareicon li:nth-child(2) a i{color: #34db48;}
.shareicon li:nth-child(3) a i{color: #e82f2f;}
.shareicon li:nth-child(4) a i{color: #2f5be8;}
.shareicon li:nth-child(5) a i{color: #f7b518;}

.sharecon{width: 36rem;  height: 48rem; position: fixed; left: 50%; top: 50%; margin: -24rem 0rem 0rem -18rem;}
.sharebg{width: 36rem; height: 22rem; background: url(../images/fxcont1.png) no-repeat center center / 100% 100%; padding-top: 26rem; text-align: center;}
.sharebg h4{color: #ffec3d; font-size: 1.2rem; margin-bottom: 0.5rem;}
.sharebg .qrcodeimg img{ width: 13rem; height: 13rem; border: solid 0.2rem #96131b; border-radius: 0.4rem; padding: 0;}
.sharebtnbox{text-align: center;}
.sharebtn{width: 20.5rem; height: 4.5rem; border-radius: 2.3rem; border: none; background: none;background: url(../images/sharebtn.png) no-repeat center center / 100% 100%; box-shadow:0rem 0.3rem 1rem rgba(138,14,12,0.6) }




/* 物流信息 */
.totalinfo{ overflow: auto; height: calc(100% - 19rem); position: relative; box-sizing: border-box; padding: 1rem;}
.totalinfo ul{ position: relative;}
.totalinfo ul:before{position:absolute; height:100%; width:1rem; z-index:-1; top:0rem; left:6.2rem; content:""; border-left: solid 0.1rem #ddd;}
.totalinfo li{ overflow: hidden; font-size: 1rem; margin-bottom: 1rem; line-height: 1.4rem;}
.totalinfo li time{ float: left; color: #999; width: 5rem; text-align: right;}
.totalinfo li span{ float: left; margin: 0.3rem 1rem; width: 0.5rem; height: 0.5rem; background: #999; border-radius: 0.5rem; overflow: hidden;}
.totalinfo li p{ overflow: hidden;}
.totalinfo li:nth-child(1) span{margin: 0.1rem 0.8rem; width: 0.9rem; height: 0.9rem;background: #56b1b6;}

/* 红包div */
.hongbao{ position:fixed; width:100%; height:100%; left:0; top:0; display:flex; z-index:9999}
.hongbaobox{ margin:auto; width:28rem; height:39rem; text-align:center; background:url(../images/hbbox.png) no-repeat; background-size:28rem 39rem;}
.hongbaobox h4{ color:#ffdc5d; font-size:2rem; padding-top:20rem;}
.hongbaobox h3{ line-height:5rem; font-size:3.6rem; color:#ffdc5d; text-shadow:0.1rem 0.1rem 0rem rgba(0,0,0,0.2); margin-bottom:3rem;}
.hongbaobox h3 span{ font-size:2rem;}
.hbbtn img{ width:18rem;}
.hongbaoh{ display:none;}


/* 商城首页 */
.shopmain{ padding-top: 6rem;}
.shopheader{}
.shopheader{ position:fixed; height:6rem; background:#303030; background-size:100% 100%; left:0; top:0; width:100%; z-index:100; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.8); border-bottom: solid 0.1rem #deb774}
.shopheader li{ text-align:center; font-size:0.9rem; line-height:1rem; position:relative; box-sizing: border-box;height:6rem;}
.shopheader li a{ color:#deb774; padding-top:4.2rem; display:block;}
.shopheader li a i{ width:0.8rem; height:0.8rem; background:#F66; border-radius:50%; position:absolute; left:50%; top:0.6rem; margin-left:1rem;}
.shopheader li img{ width:3rem; margin:0.7rem;}
.shopheader li.active{ opacity: 1; border-bottom: solid 0.2rem #deb774;}

.shopheader li:nth-child(1){ background:url(../images/shopicon1.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem ;}
.shopheader li:nth-child(2){ background:url(../images/shopicon2.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem;}
.shopheader li:nth-child(3){ background:url(../images/shopicon3.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem;}
.shopheader li:nth-child(4){ background:url(../images/shopicon4.png) no-repeat center 0.8rem; background-size:3.2rem 3.2rem;}

.shopfooter{}
.shopfooter{ position:fixed; height:5rem; background:#303030; background-size:100% 100%; left:0; bottom:0; width:100%; z-index:100; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
.shopfooter li{ text-align:center; font-size:0.9rem; line-height:1rem; position:relative; opacity: 0.7}
.shopfooter li a{ color:#deb774; padding-top:3.5rem; display:block;}
.shopfooter li a i{ width:0.8rem; height:0.8rem; background:#F66; border-radius:50%; position:absolute; left:50%; top:0.6rem; margin-left:1rem;}
.shopfooter li img{ width:3rem; margin:0.7rem;}
.shopfooter li.active{ opacity: 1;}

.shopfooter li:nth-child(1){ background:url(../images/iconfoot6.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li:nth-child(2){ background:url(../images/iconfoot7.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li:nth-child(3){ background:url(../images/iconfoot1.png) no-repeat center 0.5rem; background-size:3rem 3rem;}


.shopfooter li.active:nth-child(1){ background:url(../images/iconfoot6s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li.active:nth-child(2){ background:url(../images/iconfoot7s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}
.shopfooter li.active:nth-child(3){ background:url(../images/iconfoot1s.png) no-repeat center 0.5rem; background-size:3rem 3rem;}

/* 商品抢购列表 */
.shoplist{ padding: 1rem;}
.shoplist li{ background:#303030; border-radius: 0.4rem; padding: 1rem; margin-bottom: 1rem;}
.shopimg{ float: left;width: 10rem; height: 10rem; margin-right: 2rem;}
.shopimg img{width: 10rem; height: 10rem; border-radius: 0.4rem;}
.shoppic{ float: left; width: 20rem;}
.shoppic h2{ font-size: 1.4rem; line-height: 1.5rem; color:#deb774; height: 3rem; overflow: hidden; margin-bottom: 0.6rem;}
.shoppic>p{ font-size: 1.2rem; color: #ffbf2f;}
.shoppic>p span{ font-size: 1.8rem;}
.shoppic>del{ font-size: 1.2rem; color: #998256;}

.percentage{width: 12rem; margin-top: 0.5rem; background:#998256; height: 1.4rem; border-radius: 0.7rem; overflow: hidden; color: #282828; text-shadow: 0.1rem 0.1rem 0rem rgba(255,255,255,0.2); position: relative; float: left;}
.percentage>span{position: absolute; line-height: 1.5rem; font-size: 1rem; left: 0.8rem;}
.percentage>p{ background:#deb774;height: 1.4rem; border-radius: 0.7rem; }

.buyshop>a.buyitnow{ height: 2.4rem; font-size: 1.2rem; float: right; width: 7rem; border-radius: 1.2rem; line-height: 2.4rem; text-align: center;  display: block; color:#303030; text-shadow: 0.1rem 0.1rem 0rem rgba(255,255,255,0.2); background:url(../images/btnbg.png) no-repeat top center; background-size: 100% 6rem; }

.cnewslist{ padding: 1rem;}
.cnewslist li{ padding: 1rem 0rem; border-bottom:solid 0.1rem rgba(255,255,255,0.1); overflow: hidden;}
.cnewslist li h2{font-size:1.6rem; color: #deb774; line-height: 1.8rem; margin-bottom: 0.6rem; max-height: 3.6rem; overflow: hidden;}
.cnewslist li p{font-size: 1.2rem; color: #998256; line-height: 1.4rem; margin-bottom: 0.6rem; max-height: 4.2rem; overflow: hidden;}
.aider{ font-size: 0.9rem; color: #625641;}
.aider span{ float: left; display: block; line-height: 1.2rem; height: 1.2rem;}
.cnewslist li img{width: 33.33%; box-sizing: border-box; padding: 0.2rem; border-radius: 0.6rem; height: 7rem; margin-bottom: 0.5rem;}
.aider .interactive{float: right;}
.aider .interactive span{padding-left: 1.4rem; margin-right: 0.5rem;}
.aider .interactive span.reading{background: url(../images/misicon1.png) no-repeat center left; background-size: 1.2rem 1.2rem;}
.aider .interactive span.comment{background: url(../images/misicon3.png) no-repeat center left; background-size: 1.2rem 1.2rem;}
.aider .interactive span.great{background: url(../images/misicon2.png) no-repeat center left; background-size: 1.2rem 1.2rem;}


.cnewslist li.imgam0{}
.cnewslist li.imgam1 h2{ width: 65%; margin-bottom: 2rem; float: left;}
.cnewslist li.imgam1 p{display: none}
.cnewslist li.imgam1 .newsimg{float: right; width: 33.33%}
.cnewslist li.imgam1 .newsimg img{width: 100%;}
.cnewslist li.imgam1 .aider{width: 65%}
.cnewslist li.imgam3 p{ display: none}

.videolist{ padding: 1rem 0rem;}
.videolist li{position: relative; background: #303030; box-shadow: 0 0 1rem rgba(0,0,0,0.5); margin-bottom: 1rem;}
.videolist li h2{position: absolute; line-height: 1.8rem; font-size: 1.6rem; top: 0.6rem; box-sizing: border-box; width: 100%; height: 3.6rem; overflow: hidden; padding:0rem 0.6rem}
.videolist .aider{padding: 0.8rem;}
.videolist li video{width: 100%; height:56% }


/* 详情评论相关 */
.appraisal{text-align: center; padding: 1rem;}
.appraisal a.givegreat{line-height: 3rem; font-size: 1.2rem; color: #deb774; padding-left: 2rem; background: url(../images/misicon2.png) no-repeat  1.5rem center; background-size: 2rem 2rem; border: solid 0.1rem #deb774; border-radius: 1.6rem; display: inline-block; padding: 0rem 2rem 0rem 4rem; margin:0rem 0.5rem;}
.appraisal a.givescoff{line-height: 3rem; font-size: 1.2rem; color: #deb774; padding-left: 2rem; background: url(../images/misicon4.png) no-repeat  1.5rem center; background-size: 2rem 2rem; border: solid 0.1rem #deb774; border-radius: 1.6rem; display: inline-block; padding: 0rem 2rem 0rem 4rem; margin:0rem 0.5rem;}


.newsaider{padding: 0rem 1rem;}
.leavebox{padding: 1rem; border-top: solid 0.1rem rgba(255,255,255,0.1)}
.leavebox .aider{padding: 0rem; padding-bottom: 0.6rem;}
.leavebox li{border-bottom: solid 0.1rem rgba(255,255,255,0.1); font-size: 1.2rem; padding-bottom: 1rem; margin-bottom: 1rem;}

.newrep{}

/* 夺宝 */

.duobao{ margin:0rem 1rem 2rem 1rem; background: #0f1722; border: solid 0.1rem #113665; box-shadow:inset 0rem -1.5rem 5rem rgba(0,69,170,0.5); border-radius: 0.4rem; box-sizing: border-box; animation:duobao linear 3s infinite; position: relative;}
@keyframes duobao{
0%   {box-shadow:inset 0rem -2rem 3rem rgba(0,69,170,0.3);}
50%  {box-shadow:inset 0rem -2rem 8rem rgba(0,69,170,0.7);}
100% {box-shadow:inset 0rem -2rem 3rem rgba(0,69,170,0.3);}
}
.duobao .countdown{ height: 3.8rem; line-height: 3.8rem; background:url(../images/gametl.png) no-repeat center top / auto 3.8rem; font-size: 1rem; color: #d9f9fe; text-align: center;}
.duobao .countdown span{ font-size: 1.2rem;}
.bluediam{ text-align: center;}
.bluediam span{background: url(../images/zuanshi.gif) left center no-repeat / 2.1rem 1.5rem; padding: 0rem 0rem 0rem 2.4rem; height: 3rem; line-height: 3rem; color: #1aa1ff; font-size: 1.5rem;}

.circlebox{height: 19rem; position: relative; margin-bottom: 2rem;}
.circlebox .circlebg{height: 19rem; position: relative; width: 19rem; margin: auto; background: url(../images/quan3.png) no-repeat center / 100%;}
.circlebox .circlebg img{ width:19rem; position:absolute; left:0; top:0;}
.circlebox .circlebg img.quan0{animation:cclockwise infinite 24s linear;}
.circlebox .circlebg img.quan1{animation:cclockwise infinite 10s linear;}
.circlebox .circlebg img.quan2{animation:clockwise infinite 16s linear;}
.circlebox .circlebg span.quan3{animation:quan3 linear 3s infinite 1s; width:12.8rem; height: 12.8rem; border-radius: 50%; margin:3.1rem;  position:absolute; left:0; top:0; display: block;}

@keyframes clockwise{
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}
@keyframes cclockwise{
from {transform: rotate(360deg);}
to {transform: rotate(0deg);}
}
@keyframes quan3{
0%   {box-shadow:0rem 0rem 3rem rgba(0,69,170,0.3);}
50%  {box-shadow:0rem 0rem 8rem rgba(0,69,170,0.7);}
100% {box-shadow:0rem 0rem 3rem rgba(0,69,170,0.3);}
}
.circlebox .bonus{position: absolute; background: url(../images/treasure.png) no-repeat center / 25rem 10rem; width: 25rem; height: 10rem; left: 50%; top: 0rem; margin: 4.5rem 0rem 0rem -12.5rem; text-align: center; line-height: 10rem; font-size: 3rem;color:#ffbf2f; text-shadow: 0rem 0.2rem 0.6rem rgba(0,0,0,0.5);}
.circlebox .bonus span{font-size:1.2rem; }

.duobaoxf{ text-align: center; line-height: 2rem; font-size: 1rem; color:#738091; }
.duobaoxf span{color: #ffbf2f; padding: 0rem 0.3rem;}

.duobaojl{position: absolute; right: 1rem; bottom: 1rem;}
.duobaojl a{color: #ffbf2f;}

.joingame{text-align: center;}
.joingame .btnjoin{text-align: center; width: 15rem; height: 3.5rem; border:none; background: url(../images/gettreasure.png) no-repeat center / 100% 100%; border-radius:0;}

.gamerule{margin:0rem 1rem 1rem 1rem; background: #1b222d; border-radius: 0rem 0rem 0.4rem 0.4rem; padding: 1.5rem; display: none}
.gameruletl{ text-align: center; margin:0rem 1rem;}
.gameruletl li{ line-height: 3.7rem; height: 3.7rem; border-bottom: solid 0.3rem #2d3542; font-size: 1.5rem; color: #74849e; text-align: center;}
.gameruletl li.active{border-bottom: solid 0.3rem #eda802; font-size: 1.5rem; color: #eda802;}

.gamerule .gameruletl img{height: 2.8rem;}
.gamerule .gamerulecont {}
.gamerule .gamerulecont p{line-height: 1.3rem; font-size: 1rem; margin-bottom: 1rem; text-indent: -1.6rem; padding-left: 1.5rem;}
.gamerule .gamerulecont p span{color:#ffbf2f }



.winnerslist{}
.winnertl{ background: #1e252f;}
.winnertl li{ height: 3rem; line-height: 3rem; text-align: center; font-size: 1.2rem; color: #9ea5ad;}
.winnerslist{margin:0rem 1rem 1rem 1rem; background: #1b222d; border-radius: 0rem 0rem 0.4rem 0.4rem;}
.winlist{ height: 15rem; overflow: hidden; position: relative}
.winlcont li{ height: 3rem; line-height: 3rem; font-size: 1.4rem; text-align: center;}
.winlcont li span{color:#eda802}
.winlistcont:nth-child(1){position: absolute; width: 100%; top: 0rem; animation:zhongjiang linear 20s infinite;}
.winlistcont:nth-child(2){position: absolute; width: 100%; top: -30rem; animation:zhongjiang2 linear 20s infinite;}
@keyframes zhongjiang{
0%   { top: 0rem;}
25%  { top: -15rem; opacity: 1;}
50%  { top: -30rem; opacity: 1;}
51%  { top: -45em; opacity: 0;}
74%  { top: 15em; opacity: 0;}
75%  { top: 15rem; opacity: 1;}
100% { top: 0rem; }
}
@keyframes zhongjiang2{
0%   { top: -30rem; opacity: 0}
24%  { top: 15rem; opacity: 0}
25%  { top: 15rem;opacity: 1}
50%  { top: 0rem;}
75%  { top: -15em;}
100% { top: -30em; opacity: 1;}
}


.downapp{ text-align: center;}
.downapp img{ width:14rem; height: 14rem; border:solid 0.4rem #1aa1ff; border-radius: 0.4rem; margin-bottom: 0.6rem; }

.robotshow{background: url(../images/robot.png) no-repeat center top / 9rem; padding: 7.3rem 0rem 0rem 0rem; text-align: center;}
.robotshow img{width:30rem;}

/* 签到通知抢购弹出 */
.mesbackbg{ position: fixed; width: 100%; height: 100%; left: 0; top:0 ; z-index: 999; display: none; }
.mesbackbgs{background: rgba(0,0,0,0.6); display:block;}

.checkinbox{position: fixed; width: 26rem; box-sizing: border-box; background: #29313c; border-radius: 0.4rem; left: 50%; z-index: 9999; top:-50%; margin: -10rem 0rem 0rem -13rem; text-align: center; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5)}
.checkinboxs{top: 50%;}
.checkinbox img.checkinpic{width: 18.6rem; margin-top: -3rem}
.checkincont{position: relative;  padding: 1rem 0 0 0;}
.closecheck{position:absolute; right:0.5rem; top: -1.8rem; width: 2rem; height: 2rem;}
.checkincont h5{ font-size: 1.6rem;line-height: 4rem;}
.checkincont p{line-height: 4rem; font-size: 1.6rem;}
.checkincont p span{color: #ffbf2f; padding: 0 0.2rem; font-size: 3rem;}
a.checkinlink, a.prizelink{width:60%; height:3.2rem; line-height: 3.2rem; border:none; border-radius:1.6rem; outline:none; font-size:1.3rem; color:#fff; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.2);  background:url(../images/btnbg.png) no-repeat top center / 100% 100%; cursor:pointer; box-sizing: border-box; display: inline-block;}

.noticebox{position: fixed; width: 30rem; box-sizing: border-box; background: #29313c; border-radius: 0.4rem; left: 50%; z-index: 9999; top:-50%; margin: -10rem 0rem 0rem -15rem; text-align: center; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5);}
.noticeboxs{top: 50%;}
.noticecont{position: relative;  padding: 1rem;word-break:break-all}
.noticecont h5{ font-size: 1.6rem;line-height:2rem; margin-bottom: 1rem; text-align: center;}
.noticecont p{line-height:2rem; font-size: 1.2rem;}

.closenotice, .closeprize{position:absolute; right:0.5rem; top: 0.5rem; width: 2rem; height: 2rem;}
.closenotice img, .closecheck img, .closeprize img{width: 2rem; height: 2rem;}


.prizebox{position: fixed; width: 28rem; box-sizing: border-box; background: #29313c; border-radius: 0.4rem; left: 50%; z-index: 9999; top:-50%; margin: -14rem 0rem 0rem -14rem; text-align: center; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5);display: none;}
.prizeboxzj{position: fixed; width: 28rem; box-sizing: border-box; background: #ed2d23 url(../images/shexian.png) no-repeat center center/ 32rem 32rem; border-radius: 0.4rem; border: solid 1rem #d31209; left: 50%; z-index: 9999; top:-50%; margin: -14rem 0rem 0rem -14rem; text-align: center; box-shadow:0rem 0rem 1rem rgba(0,0,0,0.5);display: none;}
.prizeboxs{top: 50%; display: block;}
.prizecont{position: relative;  padding: 1rem;}
.prizecont h5{ font-size: 1.6rem;line-height:2.4rem; margin-bottom: 2rem; text-align: center;}
.prizecont h5 span{color: #ffbf2f; font-size: 2rem;}
.prizecont p{line-height:2rem; font-size: 1.2rem;}
.prizecont p img{width: 14rem;}
.prizeboxzj h5{color: #ffbf2f;}

.lihuabox{position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0; text-align: center; z-index: 9990;display: none;}
.lihuaboxs{display:block;}
.lihuabox img{position:absolute; width: 0%; top:100%; left: 50%; margin-left: -0%;}
@keyframes lihuashow{
0%   {width: 0%; top: 100%; margin-left: -0%; opacity: 0}
25%  {opacity: 1}
50%  {}
75%  {opacity: 1}
100% {width: 140%; top: -20%; margin-left: -70%; opacity: 0}
}
.lihuabox img:nth-child(1){animation:lihuashow linear 1s infinite 0.3s;}
.lihuabox img:nth-child(2){animation:lihuashow linear 1s infinite 0.6s;}
.lihuabox img:nth-child(3){animation:lihuashow linear 1s infinite 0.9s;}
.lihuabox img:nth-child(4){animation:lihuashow linear 1s infinite 1.2s;}
.lihuabox img:nth-child(5){animation:lihuashow linear 1s infinite 1.5s;}
.lihuabox img:nth-child(6){animation:lihuashow linear 1s infinite 1.8s;}
.lihuabox img:nth-child(7){animation:lihuashow linear 1s infinite 2.1s;}
.lihuabox img:nth-child(8){animation:lihuashow linear 1s infinite 2.4s;}
.lihuabox img:nth-child(9){animation:lihuashow linear 1s infinite 2.7s;}
.lihuabox img:nth-child(10){animation:lihuashow linear 1s infinite 3s;}


.lihuazbox{position: fixed; width: 100%; height: 100%; overflow: hidden; left: 0; top: 0; text-align: center; z-index: 9990; display: none}
.lihuazboxs{display:block;}
.lihuazbox img{position:absolute; width: 30%; top:100%; left: 50%; margin-left: -50%;}
@keyframes zhuzhul{
0%   {width: 0%; top: 100%; margin-left: -0%; opacity: 0}
25%  {opacity: 1}
50%  {}
75%  {opacity: 1}
100% {width: 30%; top: 20%; margin-left: -50%; opacity: 0}
}
@keyframes zhuzhuc{
0%   {width: 0%; top: 100%; margin-left: -0%; opacity: 0}
25%  {opacity: 1}
50%  {}
75%  {opacity: 1}
100% {width: 30%; top: 20%; margin-left: -15%; opacity: 0}
}
@keyframes zhuzhur{
0%   {width: 0%; top: 100%; margin-left: -0%; opacity: 0}
25%  {opacity: 1}
50%  {}
75%  {opacity: 1}
100% {width: 30%; top: 0%; margin-left: 10%; opacity: 0}
}
.lihuazbox img:nth-child(1){animation:zhuzhul linear 2s infinite 0.2s;}
.lihuazbox img:nth-child(2){animation:zhuzhuc linear 2s infinite 0.8s;}
.lihuazbox img:nth-child(3){animation:zhuzhur linear 2s infinite 1.2s;}
.lihuazbox img:nth-child(4){animation:zhuzhul linear 2s infinite 1.6s;}
.lihuazbox img:nth-child(5){animation:zhuzhuc linear 2s infinite 2s;}
.lihuazbox img:nth-child(6){animation:zhuzhur linear 2s infinite 2.4s;}
.lihuazbox img:nth-child(7){animation:zhuzhul linear 2s infinite 2.7s;}
.lihuazbox img:nth-child(8){animation:zhuzhuc linear 2s infinite 3.5s;}
.lihuazbox img:nth-child(9){animation:zhuzhur linear 2s infinite 3.8s;}
.lihuazbox img:nth-child(10){animation:zhuzhul linear 2s infinite 4.3s;}

.misstext{ width: 10rem; font-size: 3rem; text-shadow: 0rem 0rem 2rem rgba(0,0,0,0.6); position: absolute; top: -4rem; left: 50%; margin-left: -5rem;}
.misstexts{top:3rem; opacity: 1;}

#center{word-break: break-all;}
/* 团队列表 */
.userlist{}
.userlist li{ background: #202731; padding: 1rem; margin:0.1rem 1rem ;}
.userlist .userliifo{float: left;}
.userlist .userliifo img{width: 4rem; height: 4rem; border-radius: 2rem; float: left; margin-right: 1rem;}
.userlist .userliname{float: left;}
.userlist .userliifo h3,.userlist .userliifo p{overflow: hidden; font-size: 1.4rem; line-height: 2rem; height: 2rem;}
.userlist .userlilevel{float: right;}
.userlist .userlilevel span{ background: #52525F; width: 2.4rem; height: 2.4rem; display: block; border-radius: 1.2rem; line-height: 2.4rem; text-align: center; font-size: 1.4rem; margin: 0.8rem 0rem; text-shadow: 0.1rem 0.1rem 0rem rgba(0,0,0,0.3)}
.userlist .userlilevel span.level1{background: #f7ab5c}
.userlist .userlilevel span.level2{background: #ffb400}
.userlist .userlilevel span.level3{background: #78ca20}
.userlist .userlilevel span.level4{background: #20caa0}
.userlist .userlilevel span.level5{background: #2094ca}



/* 宝箱 */
.baoxiang{width: 36rem; height: 36rem; position: fixed; z-index:9990; left:50%; top: 50%; margin: -18rem 0rem 0rem -18rem; display: none;}
.baoxiangs{display:block;}
.baoxiangc{width: 36rem;height: 36rem ; position: relative;}
.baoxiangc .baoxaingbg{width: 12rem; height: 12rem; background: #ea8e00; border-radius: 6rem; box-shadow: 0rem 0rem 18rem rgba(234,142,0,1),0rem 0rem 18rem rgba(234,142,0,1),0rem 0rem 18rem rgba(234,142,0,1),0rem 0rem 18rem rgba(234,142,0,1),0rem 0rem 18rem rgba(234,142,0,1),0rem 0rem 18rem rgba(234,142,0,1),0rem 0rem 18rem rgba(234,142,0,1); margin: 12rem; position: absolute; left: 0; top: 0; z-index: -1;animation:baoxaingbg linear 0.5s infinite;}
.baoxaingcon{position: relative;width: 36rem;height: 36rem; animation:baoxainghz linear 0.5s infinite;}
.baoxiangc img.baoxaing{width: 24rem; height: 24rem; margin: 6rem; left: 0; top: 0; z-index: 3;}
.baoxiangc img.baoxaingg{ width: 9rem; height: 2.5rem;  z-index: 4; position: absolute;left: 13rem; top: 21.4rem;transform: rotate(-14deg);animation:baoxainghgg linear 0.5s infinite;}
@keyframes baoxaingbg{
0%   {opacity: 0.7;}
50%  {opacity: 1;}
100% {opacity: 0.7;}
}
@keyframes baoxainghz{
0%   {transform: scale(0.9,0.9);}
50%  {transform: scale(1,1);}
100% {transform: scale(0.9,0.9);}
}
@keyframes baoxainghgg{
0%   {left: 2rem; top: 16.8rem;transform: rotate(18deg);}
50%  {left: 13rem; top: 20.6rem;transform: rotate(18deg);}
51%  {left: 13rem; top: 21.2rem;transform: rotate(-17deg);}
100% {left: 24rem; top: 18rem;transform: rotate(-17deg);}
}

/* 分享链接 */
.getshare{background: #272833; line-height: 4rem; height: 4rem; text-align: center;position: fixed; bottom: 0rem; left: 0rem; width: 100%; font-size: 1.2rem;}
.getshare li:nth-child(2){background: #c91313}

/* 复选框 */
.tipslist{background:#171e29; font-size:1.6rem; padding:1.5rem 0rem 0.5rem 1rem; border-bottom:solid 0.2rem #738091; line-height: 2rem;}
.tipslist input[type="checkbox"]{ float: left; width: 2rem; height: 2rem; margin-right: 0.3rem;}
















