﻿<div class="w1000">
    <div class="bodyM">
        <div class="orderr">
            <div class="orderrtl">
                <ol class="breadcrumb text-gray">
                    <li><a href="#main"><i class="icon-home"></i>首页</a></li>
                    <li><a href="javascript:void(0);">在线购物</a></li>
                    <li class="active">我的订单</li>
                </ol>
                <div class="clearfix"></div>
            </div>
            
            <div class="">
                <div class="item-content" style="padding-bottom:10px;">
                    <div class="text">
                        <table id="dg" class="easyui-datagrid" style="width:100%;height:350px" data-options="toolbar:'#tttb'"></table>
                        <div id="tttb" style="padding:2px 5px;">
                            <table>
                                <tr>
                                    <td style="vertical-align:middle;">
                                        <form id="QueryForm">
                                            <table>
                                                <tr>
                                                    <td style="vertical-align:middle;">订单号：</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="id" name="id" style="width:100px;" />
                                                    </td>
                                                    <td>&nbsp;&nbsp;购物日期：</td>
                                                    <td>
                                                        <input type="text" class="form-control form-date" style="width:100px;" placeholder="选择起始日期" id="startTime" name="startTime">
                                                    </td>
                                                    <td>&nbsp;至&nbsp;</td>
                                                    <td><input type="text" class="form-control form-date" style="width: 100px;" placeholder="选择结束日期" id="endTime" name="endTime" /></td>
                                                    <td>&nbsp;&nbsp;<button type="button" id="submit" class="btn btn-primary"> 查 询 </button></td>
                                                </tr>
                                            </table>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-tab href="#tabContent1">订单明细</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tabContent1" style="padding-top:5px;">
                        <table id="detailGrid" class="easyui-datagrid" style="width:100%;height:300px"></table>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
    <div class="cl"></div>

            <div id="msgdlg" class="easyui-dialog" style="width:400px" closed="true" buttons="#msgdlg-buttons">
                <div style="overflow-y:auto;overflow-x:hidden;">
                    <div class="col-sm-12" style="text-align:left;padding-top:10px;" id="logMsgDiv">
                        <div class="form-group">
                            <label for="exampleInputAddress1">默认密码：</label>
                            <label for="exampleInputAddress1" class="text-yellow" id="dfpass3"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="msgdlg-buttons">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-times" onclick="javascript: $('#msgdlg').dialog('close')" style="width:90px">关闭</a>
            </div>

</div>

